<div class="form-group" *ngIf="isFormGroup">
  <label>
    <input type="checkbox" *ngIf="!required" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, defaultValue)"/>
    {{title}}
    <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
  </label>
  <select class="form-control" [(ngModel)]="parentObject[propertyName]" [disabled]="!parentObject.hasOwnProperty(propertyName)">
    <option [ngValue]="false">No</option>
    <option [ngValue]="true">Yes</option>
  </select>
</div>
<div *ngIf="!isFormGroup" [class.input-group]="!required">
  <div class="input-group-addon" *ngIf="!required || title">
    <input type="checkbox" *ngIf="!required" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, defaultValue)"/>
    {{title}}
    <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
  </div>
  <select class="form-control" [(ngModel)]="parentObject[propertyName]" [disabled]="!parentObject.hasOwnProperty(propertyName)">
    <option [ngValue]="false">No</option>
    <option [ngValue]="true">Yes</option>
  </select>
</div>