<div class="card context" *ngIf="structureDefinition">
    <div class="card-header">
        <input type="checkbox" [ngModel]="structureDefinition.hasOwnProperty('context')" (ngModelChange)="Globals.toggleProperty(structureDefinition, 'context', [''])"/>
        Context <app-tooltip-icon tooltipPath="StructureDefinition.context"></app-tooltip-icon>
    </div>
    <table class="table table-striped" *ngIf="structureDefinition.hasOwnProperty('context')">
        <thead>
        <tr>
            <th>
                Value <app-tooltip-icon tooltipKey="StructureDefinition.context.value"></app-tooltip-icon>
            </th>
            <th class="actions-column-1">
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" title="Add a context" (click)="structureDefinition.context.push('')">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ci of structureDefinition.context; let cii = index; trackBy: Globals.trackByFn">
            <td>
                <input type="text" class="form-control" [(ngModel)]="structureDefinition.context[cii]"/>
            </td>
            <td>
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" title="Remove this context" (click)="structureDefinition.context.splice(cii, 1)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>