<input #importFile (change)='import(importFile.files[0])' accept='application/json' style='display: none;' type='file' />
<div>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        Publishing Request Editor
      </ng-template>
      <ng-template ngbTabContent>
        <div class='card'>
          <div *ngIf='!publishingRequest' class='card-body'>
            <p>No publishing-request.json has been specified for this IG.</p>
            <div class='btn-group'>
              <button (click)='initPublishingRequest();' class='btn btn-primary' type='button'>Add publishing-request.json</button>
              <button (click)='importFile.click();' class='btn btn-primary' type='button'>Import from computer</button>
            </div>
          </div>
          <div *ngIf='publishingRequest' class='card-body'>
            <div class='card-header-btn'>
              <div class='btn-group'>
                <button (click)='importFile.click();' class='btn btn-primary btn-sm' title='Import the publishing-request.json from your computer' type='button'>
                  <i class='fas fa-file-upload'></i>
                </button>
                <button (click)='remove();' *ngIf='publishingRequest' class='btn btn-primary btn-sm' title='Remove the publishing-request.json' type='button'>
                  <i class='fa fa-times'></i>
                </button>
              </div>
            </div>
            <app-fhir-string (change)='change.emit()' [parentObject]='publishingRequest' [required]='true' propertyName='package-id' title='Package ID'></app-fhir-string>

            <label>Version</label>
            <input (change)='change.emit()' [(ngModel)]='publishingRequest.version' [class.is-invalid]='!publishingRequest.version' class='form-control' title='Version'
                   type='text' />

            <app-fhir-string (change)='change.emit()' [parentObject]='publishingRequest' propertyName='path' title='Path'></app-fhir-string>


            <label>Milestone</label>
            <select (change)='change.emit()' [(ngModel)]='publishingRequest.milestone' class='form-control'>
              <option [ngValue]='undefined'>Unspecified</option>
              <option [ngValue]='true'>Yes</option>
              <option [ngValue]='false'>No</option>
            </select>

            <label>Status</label>
            <select (change)='change.emit()' [(ngModel)]='publishingRequest.status' [class.is-invalid]='!publishingRequest.status' class='form-control'>
              <option value='ci-build'>CI Build</option>
              <option value='draft'>Draft</option>
              <option value='ballot'>Ballot</option>
              <option value='trial-use'>Trial Use</option>
              <option value='normative'>Normative</option>
            </select>

            <label>Sequence</label>
            <input (change)='change.emit()' [(ngModel)]='publishingRequest.sequence' class='form-control' type='text' />

            <label>Description</label>
            <input (change)='change.emit()' [(ngModel)]='publishingRequest.desc' class='form-control' type='text' />

            <app-fhir-markdown (change)='change.emit()' [parentObject]='publishingRequest' propertyName='descmd' title='Description Markdown'></app-fhir-markdown>


            <!--        <-- PUBLISHINGREQ.CHANGES-->


            <app-fhir-string (change)='change.emit()' [parentObject]='publishingRequest' propertyName='title' title='Title'></app-fhir-string>

            <app-fhir-string (change)='change.emit()' [parentObject]='publishingRequest' propertyName='ci-build' title='CI-Build'></app-fhir-string>

            <app-fhir-string (change)='change.emit()' [parentObject]='publishingRequest' propertyName='category' title='Category'></app-fhir-string>

            <app-fhir-string (change)='change.emit()' [parentObject]='publishingRequest' propertyName='introduction' title='Introduction'></app-fhir-string>

          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        JSON Editor
      </ng-template>
      <ng-template ngbTabContent>
        <div class='card'>
          <textarea (change)='valueChange.emit()' [(ngModel)]='publishingRequestJSON' [ngModelOptions]="{ updateOn: 'change' }" class='form-control' rows='23'></textarea>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
