<input #importFile (change)='import(importFile.files[0])' accept='application/json' style='display: none;' type='file' />
<div>
  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
        Publishing Request Editor
      </ng-template>
      <ng-template ngbTabContent>
        <div class='card'>
          <div *ngIf='!publishingRequest' class='card-body'>
            <p>No publishing-request.json has been specified for this IG.</p>
            <div class='btn-group'>
              <button (click)='initPublishingRequest();' class='btn btn-primary' type='button'>Add publishing-request.json</button>
              <button (click)='importFile.click();' class='btn btn-primary' type='button'>Import from computer</button>
            </div>
          </div>
          <div *ngIf='publishingRequest' class='card-body'>
            <div class='card-header-btn'>
              <div class='btn-group'>
                <button (click)='importFile.click();' class='btn btn-primary btn-sm' title='Import the publishing-request.json from your computer' type='button'>
                  <i class='fas fa-file-upload'></i>
                </button>
                <button (click)='remove();' *ngIf='publishingRequest' class='btn btn-primary btn-sm' title='Remove the publishing-request.json' type='button'>
                  <i class='fa fa-times'></i>
                </button>
              </div>
            </div>
            <app-fhir-string (change)="change.next()" [parentObject]="publishingRequest" [required]="true" propertyName="package-id" title="Package ID"></app-fhir-string>

            <label>Version</label>
            <input (change)="change.next()" [(ngModel)]="publishingRequest.version" [class.is-invalid]="!publishingRequest.version" class="form-control" title="Version"
                   type="text" />

            <app-fhir-string (change)="change.next()" [parentObject]="publishingRequest" propertyName="path" title="Path"></app-fhir-string>


            <label>Milestone</label>
            <select (change)="change.next()" [(ngModel)]="publishingRequest.milestone" class="form-control">
              <option [ngValue]="undefined">Unspecified</option>
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>

            <label>Status</label>
            <select (change)="change.next()" [(ngModel)]="publishingRequest.status" [class.is-invalid]="!publishingRequest.status" class="form-control">
              <option value="release">Release</option>
              <option value="trial-use">Trial Use</option>
              <option value="update">Update</option>
              <option value="qa-preview">QA Preview</option>
              <option value="ballot">Ballot</option>
              <option value="draft">Draft</option>
              <option value="normative+trial-use">Normative + Trial-Use</option>
              <option value="normative">Normative</option>
              <option value="Informative">Informative</option>
            </select>

            <label>Sequence</label>
            <input (change)="change.next()" [(ngModel)]="publishingRequest.sequence" [class.is-invalid]="!publishingRequest.sequence" class="form-control" type="text" />

            <label>Description</label>
            <input (change)="change.next()" [(ngModel)]="publishingRequest.desc" [class.is-invalid]="!publishingRequest.desc" class="form-control" type="text" />

            <app-fhir-markdown (change)="change.next()" [parentObject]="publishingRequest" propertyName="descmd" title="Description Markdown"></app-fhir-markdown>

            <label>Changes</label>
            <input (change)="change.next()" [(ngModel)]="publishingRequest.changes" class="form-control" type="text" />

            <app-fhir-string (change)="change.next()" [parentObject]="publishingRequest" [required]="implementationGuide.version.startsWith('0')" propertyName="title"
                             title="Title"></app-fhir-string>

            <app-fhir-string (change)="change.next()" [parentObject]="publishingRequest" [required]="implementationGuide.version.startsWith('0')" propertyName="ci-build"
                             title="CI-Build"></app-fhir-string>

            <app-fhir-string (change)="change.next()" [parentObject]="publishingRequest" [required]="implementationGuide.version.startsWith('0')" propertyName="category"
                             title="Category"></app-fhir-string>

            <app-fhir-string (change)="change.next()" [parentObject]="publishingRequest" [required]="implementationGuide.version.startsWith('0')" propertyName="introduction"
                             title="Introduction"></app-fhir-string>

          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        JSON Editor
      </ng-template>
      <ng-template ngbTabContent>
        <div class='card'>
          <textarea (change)="valueChange.next()" [(ngModel)]="publishingRequestJSON" [ngModelOptions]="{ updateOn: 'change' }" class="form-control" rows="23"></textarea>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
