<h1>Value Sets</h1>
<app-tooltip-icon tooltipKey="valueset.description" [showAsAlert]="true" alertTitle="Description"></app-tooltip-icon>

<div class="input-group">
    <input type="text" class="form-control" [ngModel]="contentText" (ngModelChange)="contentTextChanged($event)" placeholder="Search">
    <input type="text" class="form-control" [ngModel]="urlText" (ngModelChange)="urlTextChanged($event)" placeholder="URL" />
    <div class="input-group-btn">
        <button type="button" class="btn btn-default" title="Refresh" (click)="getValueSets()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<table class="table table-striped" *ngIf="results">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="actions-column-4">
            <div class="pull-right">
                <button type="button" class="btn btn-default" routerLink="/value-set/new" title="Create a new value set">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entry of results.entry">
        <td>{{entry.resource.id}}</td>
        <td>{{getValueSet(entry.resource).name}}</td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-default" routerLink="/value-set/{{entry.resource.id}}" title="Edit this value set">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="btn btn-default" routerLink="/value-set/{{entry.resource.id}}/expand" title="Expand this value set">
                    <i class="fa fa-expand"></i>
                </a>
                <button type="button" class="btn btn-default" (click)="remove(getValueSet(entry.resource))" title="Remove this value set">
                    <i class="fa fa-remove"></i>
                </button>
                <button type="button" class="btn btn-default" (click)="changeId(getValueSet(entry.resource))" title="Change this value set's ID">
                    <i class="fa fa-id-badge"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">
            <div class="btn-group">
                <button type="button" class="btn btn-default" [disabled]="!results || page <= 1" title="Previous page" (click)="previousPage()">
                    <i class="fa fa-backward"></i>
                </button>
                <button type="button" class="btn btn-default" disabled="disabled">
                    Page {{page}} of {{totalPages}} ({{results ? results.total : 0}} value sets)
                </button>
                <button type="button" class="btn btn-default" [disabled]="!results || page >= totalPages" title="Next page" (click)="nextPage()">
                    <i class="fa fa-forward"></i>
                </button>
            </div>
            <br/>
        </td>
    </tr>
    </tfoot>
</table>
