<div class="card">
    <div class="card-header">
        {{title || 'Name(s)'}}
        <input type="checkbox" *ngIf="!required" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, [{ given: [''], family: '' }])"/>
    </div>
    <div class="card-body" *ngFor="let name of parentObject[propertyName]; let ni = index">
        <div class="form-group">
            <label>
                <input type="checkbox" *ngIf="!required" [ngModel]="name.hasOwnProperty('given')" (ngModelChange)="globals.toggleProperty(name, 'given', [''])"/>
                Given
            </label>
            <div *ngIf="name.hasOwnProperty('given')">
                <div class="input-group" *ngFor="let given of name.given; let gi = index; trackBy: globals.trackByFn">
                    <input type="text" class="form-control" [(ngModel)]="name.given[gi]" [class.is-invalid]="!name.given[gi]" />
                    <div class="input-group-btn btn-group">
                        <button type="button" class="btn btn-default" title="Remove this given name" [disabled]="required && name.given.length === 1" (click)="name.given.splice(gi, 1)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <button type="button" class="btn btn-default" *ngIf="gi === name.given.length - 1" title="Add a given name" (click)="name.given.push('')">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Family</label>
            <input type="text" class="form-control" [(ngModel)]="name.family" [class.is-invalid]="!name.family" />
        </div>

        <button type="button" class="btn btn-default" *ngIf="ni === parentObject[propertyName].length - 1" (click)="parentObject[propertyName].push({ given: [''], family: '' })">
            <i class="fa fa-plus"></i> Add a name
        </button>
        <button type="button" class="btn btn-default" [disabled]="required && parentObject[propertyName].length === 1" (click)="parentObject[propertyName].splice(ni, 1)" title="Remove this name">
            <i class="fas fa-trash-alt"></i> Remove this name
        </button>
    </div>
</div>