<div class="modal-header">
    <h4 class="modal-title">{{element.path}}'s Type</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>
            Code
            <app-tooltip-icon tooltipPath="ElementDefinition.type.code"></app-tooltip-icon>
        </label>
        <select class="form-control" [(ngModel)]="type.code">
            <option *ngFor="let o of definedTypeCodes" [ngValue]="o.code">{{o.display}}</option>
        </select>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" [ngModel]="type.hasOwnProperty('profile')" (ngModelChange)="globals.toggleProperty(type, 'profile', '')"/>
            Profile
            <app-tooltip-icon tooltipKey="ed.type.profile"></app-tooltip-icon>
        </label>
        <div class="input-group">
            <input type="text" class="form-control" [disabled]="!type.hasOwnProperty('profile')" [(ngModel)]="type.profile"/>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" title="Select a profile" (click)="selectProfile('profile')">
                    <i class="fa fa-hand-pointer-o"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" [ngModel]="type.hasOwnProperty('targetProfile')" (ngModelChange)="globals.toggleProperty(type, 'targetProfile', '')"/>
            Target Profile
            <app-tooltip-icon tooltipKey="ed.type.targetProfile"></app-tooltip-icon>
        </label>
        <div class="input-group">
            <input type="text" class="form-control" [disabled]="!type.hasOwnProperty('targetProfile')" [(ngModel)]="type.targetProfile"/>
            <div class="input-group-btn">
                <button type="button" class="btn btn-default" title="Select a target profile" (click)="selectProfile('targetProfile')">
                    <i class="fa fa-hand-pointer-o"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" [ngModel]="type.hasOwnProperty('aggregation')" (ngModelChange)="globals.toggleProperty(type, 'aggregation', 'contained')"/>
            Aggregation
            <app-tooltip-icon tooltipPath="ElementDefinition.type.aggregation"></app-tooltip-icon>
        </label>
        <div class="input-group">
            <select class="form-control" [disabled]="!type.hasOwnProperty('aggregation')" [(ngModel)]="type.aggregation">
                <option>contained</option>
                <option>referenced</option>
                <option>bundled</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" [ngModel]="type.hasOwnProperty('versioning')" (ngModelChange)="globals.toggleProperty(type, 'versioning', 'either')"/>
            Versioning
            <app-tooltip-icon tooltipPath="ElementDefinition.type.versioning"></app-tooltip-icon>
        </label>
        <div class="input-group">
            <select class="form-control" [disabled]="!type.hasOwnProperty('versioning')" [(ngModel)]="type.versioning">
                <option>either</option>
                <option>independent</option>
                <option>specific</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>