<div class="form-group" *ngIf="isFormGroup">
    <label>
        <input type="checkbox" *ngIf="!required" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, defaultValue)" />
        {{title || 'Quantity'}}
    </label>
    <div class="input-group">
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="parentObject[propertyName].hasOwnProperty('unit')" (ngModelChange)="globals.toggleProperty(parentObject[propertyName], 'unit', '')" />
        </div>
        <input type="string" [disabled]="!parentObject[propertyName].hasOwnProperty('unit')" [(ngModel)]="parentObject[propertyName].unit" placeholder="Unit" />
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="parentObject[propertyName].hasOwnProperty('value')" (ngModelChange)="globals.toggleProperty(parentObject[propertyName], 'value', 0)" />
        </div>
        <input type="number" [disabled]="!parentObject[propertyName].hasOwnProperty('value')" [(ngModel)]="parentObject[propertyName].value" placeholder="Value" />
    </div>
</div>
<div class="input-group" *ngIf="!isFormGroup">
    <div class="input-group-addon">
        <input type="checkbox" [ngModel]="parentObject[propertyName].hasOwnProperty('unit')" (ngModelChange)="globals.toggleProperty(parentObject[propertyName], 'unit', '')" />
    </div>
    <input type="string" class="form-control" [disabled]="!parentObject[propertyName].hasOwnProperty('unit')" [(ngModel)]="parentObject[propertyName].unit" placeholder="Unit" />
    <div class="input-group-addon">
        <input type="checkbox" [ngModel]="parentObject[propertyName].hasOwnProperty('value')" (ngModelChange)="globals.toggleProperty(parentObject[propertyName], 'value', 0)" />
    </div>
    <input type="number" class="form-control" [disabled]="!parentObject[propertyName].hasOwnProperty('value')" [(ngModel)]="parentObject[propertyName].value" placeholder="Value" />
</div>