<h2>Bulk Edit</h2>

<div *ngIf="implementationGuide">
  <ngb-tabset>
    <ngb-tab title="Profiles">
      <ng-template ngbTabContent>
        <div class="card" *ngFor="let profile of profiles; let pIndex = index;">
          <div class="card-header clickable" (click)="expandedProfiles[profile.id] = !expandedProfiles[profile.id]">
            <i class="fa" [class.fa-plus]="!expandedProfiles[profile.id]" [class.fa-minus]="expandedProfiles[profile.id]"></i>
            Profile {{profile.name}}
          </div>
          <div class="card-body" *ngIf="expandedProfiles[profile.id]">

            <div class="form-group">
              <label>Description [ <a href="javascript:void(0)" (click)="editFields[profile.id + 'description'] = !editFields[profile.id + 'description']">edit</a> ]</label>
              <pre *ngIf="!editFields[profile.id + 'description']" (click)="editFields[profile.id + 'description'] = true">{{profile.description}}</pre>
              <app-fhir-markdown [parentObject]="profile" propertyName="description" [isFormGroup]="false" *ngIf="editFields[profile.id + 'description']"></app-fhir-markdown>
            </div>

            <div class="form-group">
              <label>Intro [ <a href="javascript:void(0)" (click)="editFields[profile.id + 'intro'] = !editFields[profile.id + 'intro']">edit</a> ]</label>
              <pre *ngIf="!editFields[profile.id + 'intro']" (click)="editFields[profile.id + 'intro'] = true">{{profile.intro}}</pre>
              <app-fhir-markdown [parentObject]="profile" propertyName="intro" [isFormGroup]="false" *ngIf="editFields[profile.id + 'intro']"></app-fhir-markdown>
            </div>

            <div class="form-group">
              <label>Notes [ <a href="javascript:void(0)" (click)="editFields[profile.id + 'notes'] = !editFields[profile.id + 'notes']">edit</a> ]</label>
              <pre *ngIf="!editFields[profile.id + 'notes']" (click)="editFields[profile.id + 'notes'] = true">{{profile.notes}}</pre>
              <app-fhir-markdown [parentObject]="profile" propertyName="notes" [isFormGroup]="false" *ngIf="editFields[profile.id + 'notes']"></app-fhir-markdown>
            </div>

            <div class="card" *ngFor="let element of profile.differential?.element; let eIndex = index">
              <div class="card-header">Element {{eIndex + 1}}: {{element.id}}</div>
              <div class="card-body">
                <div class="form-group">
                  <label>Short [ <a href="javascript:void(0)" (click)="editFields[profile.id + element.id + 'short'] = !editFields[profile.id + element.id + 'short']">edit</a> ]</label>
                  <pre *ngIf="!editFields[profile.id + element.id + 'short']" (click)="editFields[profile.id + element.id + 'short'] = true">{{element.short}}</pre>
                  <app-fhir-string [parentObject]="element" propertyName="short" [isFormGroup]="false" *ngIf="editFields[profile.id + element.id + 'short']"></app-fhir-string>
                </div>

                <div class="form-group">
                  <label>Definition [ <a href="javascript:void(0)" (click)="editFields[profile.id + element.id + 'definition'] = !editFields[profile.id + element.id + 'definition']">edit</a> ]</label>
                  <pre *ngIf="!editFields[profile.id + element.id + 'definition']" (click)="editFields[profile.id + element.id + 'definition'] = true">{{element.definition}}</pre>
                  <app-fhir-markdown [parentObject]="element" propertyName="definition" [isFormGroup]="false" *ngIf="editFields[profile.id + element.id + 'definition']"></app-fhir-markdown>
                </div>

                <div class="form-group">
                  <label>Requirements [ <a href="javascript:void(0)" (click)="editFields[profile.id + element.id + 'requirements'] = !editFields[profile.id + element.id + 'requirements']">edit</a> ]</label>
                  <pre *ngIf="!editFields[profile.id + element.id + 'requirements']" (click)="editFields[profile.id + element.id + 'requirements'] = true">{{element.requirements}}</pre>
                  <app-fhir-markdown [parentObject]="element" propertyName="requirements" [isFormGroup]="false" *ngIf="editFields[profile.id + element.id + 'requirements']"></app-fhir-markdown>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Pages">
      <ng-template ngbTabContent>
        <trifolia-fhir-page-wrapper [implementationGuide]="implementationGuide"></trifolia-fhir-page-wrapper>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Save</button>
  </div>
  <span class="message">{{message}}</span>
</footer>
