<div class="card" *ngIf="parentObject">
    <div class="card-header">
        <input type="checkbox" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="Globals.toggleProperty(parentObject, propertyName, [{}])"/>
        {{title || 'Identifiers'}}
        <app-tooltip-icon [tooltipKey]="tooltipKey" [tooltipPath]="tooltipPath"></app-tooltip-icon>
    </div>
    <table class="table table-striped" *ngIf="parentObject.hasOwnProperty(propertyName)">
        <thead>
        <tr>
            <th>
                Use
                <app-tooltip-icon tooltipPath="Identifier.use"></app-tooltip-icon>
            </th>
            <th>
                System
                <app-tooltip-icon tooltipPath="Identifier.system"></app-tooltip-icon>
            </th>
            <th>
                Value
                <app-tooltip-icon tooltipPath="Identifier.value"></app-tooltip-icon>
            </th>
            <th class="actions-column-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" title="Add a {{title || 'identifier'}}" (click)="parentObject[propertyName].push({})">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let id of parentObject[propertyName]; let idi = index">
            <td>
                <app-fhir-select-single-code [parentObject]="id" propertyName="use" [isFormGroup]="false" valueSetUrl="http://hl7.org/fhir/ValueSet/identifier-use"></app-fhir-select-single-code>
            </td>
            <td>
                <app-fhir-string [parentObject]="id" propertyName="system" [isFormGroup]="false"></app-fhir-string>
            </td>
            <td>
                <app-fhir-string [parentObject]="id" propertyName="value" [isFormGroup]="false"></app-fhir-string>
            </td>
            <td>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm" title="Remove this {{title || 'identifier'}}" (click)="editIdentifier(id)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" title="Remove this {{title || 'identifier'}}" (click)="parentObject[propertyName].splice(idi, 1)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>