<div class="modal-header">
  <h4 class="modal-title">Edit concept</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body" *ngIf="concept">
  <app-fhir-string [parentObject]="concept" propertyName="code" title="Code" [required]="true"></app-fhir-string>

  <app-fhir-string [parentObject]="concept" propertyName="display" title="Display"></app-fhir-string>

  <div class="card">
    <div class="card-header">Designations</div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Language</th>
        <th>Use</th>
        <th>Value</th>
        <th class="actions-column-1">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" (click)="addDesignation()">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="concept.designation?.length">
      <tr *ngFor="let designation of concept.designation; let di = index">
        <td>
          <app-fhir-string [parentObject]="designation" propertyName="language" [isFormGroup]="false"></app-fhir-string>
        </td>
        <td>
          <select class="form-control" [(ngModel)]="designation.use">
            <option *ngFor="let u of uses" [ngValue]="u">{{u.display}}</option>
          </select>
        </td>
        <td>
          <app-fhir-string [parentObject]="designation" propertyName="value" [isFormGroup]="false" [required]="true"></app-fhir-string>
        </td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-primary" title="Remove this designation" (click)="ClientHelper.promptForRemove(concept.designation, di)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="!concept.designation?.length">
      <tr>
        <td colspan="4">This concept does not have any designations. Click <a href="javascript:void(0)" (click)="addDesignation()">here</a> to add one.</td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close()">Close</button>
</div>
