<div class="card">
  <div class="card-header">
    Custom Menu
    <app-tooltip-icon tooltipKey="ig.customMenu"></app-tooltip-icon>

    <div class="pull-right">
      <button type="button" class="btn btn-primary" title="Generate the XML menu" (click)="generate()" [disabled]="readOnly">
        <i class="fas fa-refresh"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <textarea class="form-control" rows="4" [(ngModel)]="customMenuValue" [ngModelOptions]="{ updateOn: 'change' }" [disabled]="readOnly"></textarea>
  </div>
</div>
