<h1>Questionnaires</h1>

<div class="input-group" [attr.data-intro]="Globals.introText['browse.search']">
    <input type="text" class="form-control" [ngModel]="nameText" (ngModelChange)="nameTextChanged($event)" placeholder="Search name" />
    <div class="input-group-btn">
        <button type="button" class="btn btn-primary" title="Clear filters" (click)="clearFilters()">
            <i class="fa fa-times"></i> Clear
        </button>
        <button type="button" class="btn btn-primary" title="Refresh" (click)="getQuestionnaires()">
            <i class="fa fa-search"></i> Search
        </button>
    </div>
</div>

<br />

<div *ngIf="questionnairesBundle && total > 0" [attr.data-intro]="Globals.introText['browse.paging']">
    <ngb-pagination class="d-flex justify-content-center"
                    [maxSize]="5"
                    [collectionSize]="questionnairesBundle.total"
                    [(page)]="page"
                    [boundaryLinks]="true"
                    (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
</div>

<table class="table table-striped" *ngIf="questionnairesBundle">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th class="actions-column-3">
            <div class="pull-right">
                <button type="button" class="btn btn-primary" routerLink="{{configService.baseSessionUrl}}/questionnaire/new" title="Create a new questionnaire" [attr.data-intro]="Globals.introText['browse.add']">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </th>
    </tr>
    </thead>
    <tbody *ngIf="!configService.showingIntroduction">
    <tr *ngFor="let questionnaire of questionnaires">
        <td>{{questionnaire.id}}</td>
        <td>{{questionnaire.resource.name}}</td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-primary" routerLink="{{configService.baseSessionUrl}}/questionnaire/{{questionnaire.id}}" title="Edit this questionnaire">
                    <i class="fa fa-edit"></i>
                </a>
                <button type="button" class="btn btn-secondary" (click)="remove(questionnaire)" [disabled]="!canEdit(questionnaire)" title="Remove this questionnaire">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-secondary" (click)="changeId(questionnaire.resource)" [disabled]="!canEdit(questionnaire)" title="Change this questionnaire's ID">
                    <i class="fa fa-id-badge"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
    <tbody *ngIf="configService.showingIntroduction">
    <tr>
        <td>DEMO-ID</td>
        <td>Demo Name</td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-primary" href="#" title="Edit this questionnaire" [attr.data-intro]="Globals.introText['browse.edit']">
                    <i class="fa fa-edit"></i>
                </a>
                <button type="button" class="btn btn-secondary" title="Remove this questionnaire" [attr.data-intro]="Globals.introText['browse.remove']">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-secondary" title="Change this questionnaire's ID" [attr.data-intro]="Globals.introText['browse.changeid']">
                    <i class="fa fa-id-badge"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr *ngIf="questionnairesBundle && total === 0">
        <td colspan="3">No questionnaires! Create one by clicking <a routerLink="/{{configService.baseSessionUrl}}/questionnaire/new">here</a>...</td>
    </tr>
    <tr *ngIf="questionnairesBundle && total > 0">
        <td colspan="3">
            <ngb-pagination class="d-flex justify-content-center" [maxSize]="5" [collectionSize]="questionnairesBundle.total" [(page)]="page" [boundaryLinks]="true" (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
        </td>
    </tr>
    </tfoot>
</table>
