<div class="form-group" *ngIf="isFormGroup && parentObject">
    <label>
        {{title}} <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </label>
    <input type="date" class="form-control"
           [ngModel]="value | date: 'yyyy-MM-dd'"
           (ngModelChange)="value = $event"
           [class.is-invalid]="required && !value" />
</div>
<div class="input-group" *ngIf="!isFormGroup && parentObject">
    <div class="input-group-addon" *ngIf="!required || title">
        {{title}} <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </div>
    <input type="date" class="form-control"
           [ngModel]="value | date: 'yyyy-MM-dd'"
           (ngModelChange)="value = $event"
           [class.is-invalid]="required && !value" />
</div>
