<div class="alert alert-info" *ngIf="message">{{message}}</div>

<button type="button" class="btn btn-primary" *ngIf="!githubService.token" (click)="githubService.login()">Login to GitHub</button>

<div class="row" *ngIf="githubService.token">
  <div class="col-md-12">
    <div class="form-group">
      <label>Commit Message</label>
      <textarea class="form-control" [class.is-invalid]="!commitMessage" [(ngModel)]="commitMessage" placeholder="Required" [attr.data-intro]="Globals.introText['export.githubMessage']"></textarea>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group">
      <label>
        Repository <app-tooltip-icon tooltipKey="github.repository.onlypush"></app-tooltip-icon>
      </label>
      <select class="form-control" [(ngModel)]="repository" (change)="repositoryChanged()" *ngIf="!loadingRepositories">
        <option *ngFor="let repo of repositories" [ngValue]="repo">{{repo.owner.login}}/{{repo.name}}</option>
      </select>
      <p class="help-block" *ngIf="loadingRepositories">Loading list of GitHub repositories...</p>
    </div>
  </div>

  <div class="col-md-4">
    <div class="form-group" *ngIf="repository">
      <label>Branch</label>
      <select class="form-control" [(ngModel)]="branch" (change)="branchChanged()">
        <option *ngFor="let b of branches">{{b.name}}</option>
      </select>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group" *ngIf="repository">
      <label>Output Format</label>
      <select class="form-control" [(ngModel)]="responseFormat" (change)="change.emit(responseFormat)">
        <option value="application/json">JSON</option>
        <option value="application/xml">XML</option>
      </select>
    </div>
  </div>

  <div class="col-md-12" *ngIf="allFiles">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          File (Total: {{filteredAllFiles.length}}/{{allFiles.length}})
          <div class="btn-group btn-group-toggle" title="Choose what files to show in the list/table.">
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="filter.nothing"> Do Nothing
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="filter.added"> Added
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="filter.updated"> Updated
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="filter.deleted"> Deleted
            </label>
          </div>
        </th>
        <th>Info</th>
        <th>
          <div class="dropdown pull-right">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
            <div class="dropdown-menu" aria-labelledby="actionsMenuButton">
              <a class="dropdown-item" href="javascript:void(0)" (click)="deleteOthers()">Delete everything not in the IG</a>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of filteredAllFiles">
        <td>{{file.path}}</td>
        <td>{{file.info}}</td>
        <td>
          <select class="form-control" [(ngModel)]="file.action">
            <option value="nothing">Do Nothing</option>
            <option value="add" *ngIf="file.isNew">Add</option>
            <option value="update" *ngIf="file.content">Update</option>
            <option value="delete" *ngIf="!file.content">Delete</option>
          </select>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
