
<label for="version-typeahead">FHIR IG Publisher Version</label>
<div class="input-group">
  <input id="version-typeahead" type="text" class="form-control" (selectItem)="typeaheadSelectedVersion($event)" [(ngModel)]="versionTypeahead" [ngbTypeahead]="search"/>
  <div class="input-group-append">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="javascript:void(0)" *ngFor="let version of recentPublisherVersions" (click)="selectRecentVersion(version)">{{version}}</a>
    </div>
  </div>
  <div class="help-block">The latest version of the FHIR IG Publisher may include changes that are not supported or not compatible with the export from Trifolia-on-FHIR. If Publish fails to run, try re-running with 'No' selected for this option.</div>
</div>
