<div class="card" *ngFor="let page of pages; let pIndex = index;">
  <div class="card-header clickable" (click)="toggleExpandPage(page)">
    <i class="fa" [class.fa-plus]="!expanded[page.source]" [class.fa-minus]="expanded[page.source]"></i>
    Page {{pIndex + 1}}: {{page.title}}{{changedPages[page.source] ? '*' : ''}}
  </div>
  <div class="card-body" *ngIf="expanded[page.source]">
    <app-fhir-string [parentObject]="page" propertyName="title" title="Title" (change)="changedPages[page.source] = true"></app-fhir-string>

    <div class="mb-3">
      <label>Content</label>
      <trifolia-fhir-markdown [(value)]="page.contentMarkdown" (change)="changedPages[page.source] = true"></trifolia-fhir-markdown>
    </div>
  </div>
</div>
