<h1>Export</h1>

<div class="alert alert-info" *ngIf="message">{{message}}</div>

<div class="mb-3" [attr.data-intro]="Globals.introText['export.implementationGuide']" *ngIf="!configService.igContext">
  <label>Implementation Guide</label>
  <div class="input-group">
    <input type="text" class="form-control"
           [ngModel]="selectedImplementationGuide"
           (ngModelChange)="implementationGuideChanged($event)"
           [ngbTypeahead]="searchImplementationGuide"
           [resultFormatter]="searchFormatter"
           [inputFormatter]="searchFormatter"
           autocomplete="off"/>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" title="Clear the selection" (click)="clearImplementationGuide()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>

<ng-container *ngIf="options.implementationGuideId || configService.showingIntroduction">
  <ul ngbNav #nav="ngbNav" class="nav-tabs" [activeId]="activeTabId" (navChange)="onTabChange($event)">
    <li ngbNavItem="html">
      <a ngbNavLink>IG Publisher Package</a>
      <ng-template ngbNavContent>
        <div class="alert alert-info">The "IG Publisher Package" export format produces a package to be used with the FHIR
          IG Publisher. You will be prompted to download a ZIP package of all files necessary to execute the FHIR IG
          Publisher.
        </div>

        <div class="row" [attr.data-intro]="Globals.introText['export.igPublisher']">
          <div class="col-md-6">
            <div class="mb-3" *ngIf="(options.implementationGuideId && options.exportFormat !== 3) || configService.showingIntroduction" [attr.data-intro]="Globals.introText['export.igPublisherOutput']">
              <label>Output Format</label>
              <select class="form-select" [(ngModel)]="options.responseFormat">
                <option value="application/json">JSON</option>
                <option value="application/xml">XML</option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3" [attr.data-intro]="Globals.introText['export.igPublisherJAR']">
              <label>Include FHIR IG Publisher JAR?</label>
              <select class="form-select" [(ngModel)]="options.includeIgPublisherJar">
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
              </select>
            </div>
          </div>

          <div class="col-md-6" *ngIf="options.includeIgPublisherJar">
            <trifolia-fhir-ig-publisher-selection [options]="options"></trifolia-fhir-ig-publisher-selection>
          </div>

          <div class="col-md-6" *ngIf="options.includeIgPublisherJar">
            <app-fhir-boolean
              [parentObject]="options"
              [required]="true"
              propertyName="useTerminologyServer"
              [cookieKey]="Globals.cookieKeys.exportLastUseTerminologyServer"
              title="Use terminology server?" trueLabel="Yes" falseLabel="No">
            </app-fhir-boolean>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <trifolia-fhir-publishing-template [resource]="fhirResource"  [template] = "template" [save]="true" [disabled] = "false" (change)="templateChanged()"></trifolia-fhir-publishing-template>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="bundle">
      <a ngbNavLink>Bundle</a>
      <ng-template ngbNavContent>
        <div class="alert alert-info">The "Bundle" export format is a Bundle of all resources referenced by the selected
          implementation guide, including the implementation guide resource.
        </div>

        <div class="row" [attr.data-intro]="Globals.introText['export.bundle']">
          <div class="col-md-4">
            <div class="mb-3" *ngIf="(options.implementationGuideId && options.exportFormat !== 3) || configService.showingIntroduction"
                [attr.data-intro]="Globals.introText['export.bundleOutput']">
              <label>Output Format</label>
              <select class="form-select" [(ngModel)]="options.responseFormat" (change)="responseFormatChanged()">
                <option value="application/json">JSON</option>
                <option value="application/xml">XML</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label>Remove ToF Extensions?</label>
              <select class="form-select" [(ngModel)]="options.removeExtensions">
                <option [ngValue]="false">No</option>
                <option [ngValue]="true">Yes</option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <div class="mb-3">
              <label>Bundle Type</label>
              <select class="form-select" [(ngModel)]="options.bundleType">
                <option value="transaction">Transaction</option>
                <option value="searchset">Search Set</option>
              </select>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="msword">
      <a ngbNavLink>MsWord</a>
      <ng-template ngbNavContent>
        <div class="alert alert-info">The "MsWord" document export contains all resources referenced by the selected
          implementation guide, including the implementation guide resource.
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="github" class="hide">
      <a ngbNavLink>GitHub</a>
      <ng-template ngbNavContent>
        <div [attr.data-intro]="Globals.introText['export.github']">
          <trifolia-fhir-export-github-panel #githubPanel [attr.data-intro]="Globals.introText['export.githubLogin']"
                                            [responseFormat]="options.responseFormat" (change)="responseFormatChanged($event)" ></trifolia-fhir-export-github-panel>
        </div>
      </ng-template>
    </li>
    <li ngbNavItem="document">
      <a ngbNavLink>Document</a>
      <ng-template ngbNavContent>
        <div class="alert alert-info">This export is the equivalent of the $document operation in a FHIR server. Select a Composition to create a document from.</div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Composition</label>
              <div class="input-group">
                <input type="text" class="form-control" disabled placeholder="Ttile" [ngModel]="getSelectedComposition()" [class.is-invalid]="!documentOptions.compositionId" />
                <input type="text" class="form-control" disabled placeholder="ID" [ngModel]="documentOptions.compositionId" [class.is-invalid]="!documentOptions.compositionId" />
                <div ngbDropdown #myDrop="ngbDropdown">
                  <button
                    type="button"
                    class="btn btn-outline-primary me-2"
                    ngbDropdownAnchor
                    style="width: 100%"
                    (focus)="myDrop.open()">Select</button>
                  <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem *ngFor="let c of compositions" (click)="documentOptions.compositionId = c.id">
                      <span *ngIf="c.name">{{c.name}}<br/></span>
                      <span>ID: {{c.id}}</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Format</label>
              <select class="form-control" name="format" [(ngModel)]="documentOptions.format">
                <option value="application/json">JSON</option>
                <option value="application/xml">XML</option>
              </select>
            </div>
          </div>
        </div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</ng-container>

<!-- DEMO -->
<footer class="footer" *ngIf="configService.showingIntroduction">
  <button type="button" class="btn btn-primary" [attr.data-intro]="Globals.introText['export.exportButton']">Export
  </button>
</footer>

<footer class="footer" *ngIf="!configService.showingIntroduction">
  <button type="button" class="btn btn-primary" (click)="export()" [disabled]="exportDisabled">Export</button>
  <span class="message">{{message}}</span>
</footer>
