<h1>Export</h1>

<div class="alert alert-info" *ngIf="message">{{message}}</div>

<div class="form-group" [attr.data-intro]="Globals.introText['export.implementationGuide']">
  <label>Implementation Guide</label>
  <div class="input-group">
    <input type="text" class="form-control"
           [ngModel]="selectedImplementationGuide"
           (ngModelChange)="implementationGuideChanged($event)"
           [ngbTypeahead]="searchImplementationGuide"
           [resultFormatter]="searchFormatter"
           [inputFormatter]="searchFormatter"
           autocomplete="off"/>
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" title="Clear the selection" (click)="clearImplementationGuide()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>

<ngb-tabset *ngIf="options.implementationGuideId || configService.showingIntroduction" [activeId]="activeTabId"
            (tabChange)="onTabChange($event)">
  <ngb-tab title="IG Publisher Package" id="html">
    <ng-template ngbTabContent>
      <div class="alert alert-info">The "IG Publisher Package" export format produces a package to be used with the FHIR
        IG Publisher. You will be prompted to download a ZIP package of all files necessary to execute the FHIR IG
        Publisher.
      </div>

      <div class="row" [attr.data-intro]="Globals.introText['export.igPublisher']">
        <div class="col-md-6">
          <div class="form-group" *ngIf="(options.implementationGuideId && options.exportFormat !== 3) || configService.showingIntroduction"
               [attr.data-intro]="Globals.introText['export.igPublisherOutput']">
            <label>Output Format</label>
            <select class="form-control" [(ngModel)]="options.responseFormat">
              <option value="application/json">JSON</option>
              <option value="application/xml">XML</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group" [attr.data-intro]="Globals.introText['export.igPublisherJAR']">
            <label>Include FHIR IG Publisher JAR?</label>
            <select class="form-control" [(ngModel)]="options.includeIgPublisherJar">
              <option [ngValue]="true">Yes</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Bundle" id="bundle">
    <ng-template ngbTabContent>
      <div class="alert alert-info">The "Bundle" export format is a Bundle of all resources referenced by the selected
        implementation guide, including the implementation guide resource.
      </div>

      <div class="row" [attr.data-intro]="Globals.introText['export.bundle']">
        <div class="col-md-6">
          <div class="form-group" *ngIf="(options.implementationGuideId && options.exportFormat !== 3) || configService.showingIntroduction"
               [attr.data-intro]="Globals.introText['export.bundleOutput']">
            <label>Output Format</label>
            <select class="form-control" [(ngModel)]="options.responseFormat" (change)="responseFormatChanged()">
              <option value="application/json">JSON</option>
              <option value="application/xml">XML</option>
            </select>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="GitHub" id="github">
    <ng-template ngbTabContent>
      <div [attr.data-intro]="Globals.introText['export.github']">
        <div class="alert alert-info">The "GitHub" export format places all the resources within the IG in the specified
          GitHub repository/branch.
        </div>

        <div class="alert alert-warning">Only resources that have a repository, branch and path will be exported to
          GitHub. If the file already exists in GitHub, it will be completely overwritten by this export. At least one
          resource must have GitHub location information specified to export.
        </div>

        <div class="form-group">
          <label>Commit Message</label>
          <textarea class="form-control" [class.is-invalid]="!githubCommitMessage" [(ngModel)]="githubCommitMessage"
                    placeholder="Required" [attr.data-intro]="Globals.introText['export.githubMessage']"></textarea>
        </div>

        <app-export-github-panel [resourcesBundle]="githubResourcesBundle" #githubPanel [attr.data-intro]="Globals.introText['export.githubLogin']"></app-export-github-panel>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<!-- DEMO -->
<footer class="footer" *ngIf="configService.showingIntroduction">
  <button type="button" class="btn btn-primary" [attr.data-intro]="Globals.introText['export.exportButton']">Export
  </button>
</footer>

<footer class="footer" *ngIf="!configService.showingIntroduction">
  <button type="button" class="btn btn-primary" (click)="export()" [disabled]="exportDisabled">Export</button>
  <span class="message">{{message}}</span>
</footer>
