<table class="table table-striped" *ngIf="options">
    <thead>
    <tr>
        <th>Implementation Guides</th>
        <th class="actions-column-1">
            <div class="pull-right">
                <button type="button" class="btn btn-default" [attr.data-intro]="showIntro ? globals.introText['sd.general.implementation-guides.add'] : undefined" title="Add this structure definition to an implementation guide" (click)="addImplementationGuide()" [disabled]="newImplementationGuide">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ig of options.implementationGuides">
        <td [class.strikethrough]="ig.isRemoved">{{ig.name}}</td>
        <td class="actions-column-2">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" title="Remove this structure definition from the implementation guide" *ngIf="!ig.isRemoved" (click)="removeImplementationGuide(ig)">
                    <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-default" title="Undo removing this structure definition from the IG" *ngIf="ig.isRemoved" (click)="ig.isRemoved = false">
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot *ngIf="newImplementationGuide">
    <tr>
        <td>
            <select class="form-control" [ngModel]="newImplementationGuide.id" (ngModelChange)="setNewImplementationGuide($event)">
                <option *ngFor="let ig of getUnusedImplementationGuides()" [ngValue]="ig.id">{{ig.name}}</option>
            </select>
            <span class="help-block" style="color: red;"><strong>This profile will not be saved to the IG until the "Done" (check-mark) button is pressed and the profile has been saved.</strong></span>
        </td>
        <td>
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" (click)="doneAdding()" [disabled]="!newImplementationGuide.id" title="Done">
                    <i class="fa fa-check"></i>
                </button>
                <button type="button" class="btn btn-default" (click)="newImplementationGuide = null" title="Remove this new implementation guide">
                    <i class="fa fa-undo"></i>
                </button>
            </div>
        </td>
    </tr>
    </tfoot>
</table>