<h1>Other Resources</h1>

<ngb-tabset #tabSet [destroyOnHide]="false">
    <ngb-tab title="Criteria" id="criteria">
        <ng-template ngbTabContent>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Resource Type</label>
                    <select class="form-control" [(ngModel)]="searchResourceType">
                        <option *ngFor="let o of resourceTypes" [ngValue]="o.code">{{o.display}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Content</label>
                    <input type="text" class="form-control" [(ngModel)]="searchContent" />
                </div>

                <div class="form-group">
                    <label>Resource URL</label>
                    <input type="text" class="form-control" [(ngModel)]="searchUrl" />
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Search Results" id="results">
        <ng-template ngbTabContent>
            <table class="table table-striped" *ngIf="results">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>URL</th>
                    <th>Name/Title</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entry of results.entry">
                    <td>{{entry.resource ? entry.resource.id : ''}}</td>
                    <td>{{entry.resource ? entry.resource.url : ''}}</td>
                    <td>{{getEntryName(entry)}}</td>
                    <td class="actions-column-1">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" title="View this resource" (click)="openResource(entry.resource, tabSet)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>
    <ngb-tab *ngFor="let r of openedResources; let ri = index" id="resource-{{ri}}">
        <ng-template ngbTabTitle>{{r.resourceType}} {{r.id}} <i class="fas fa-trash-alt" (click)="closeResource(ri, $event, tabSet)"></i></ng-template>
        <ng-template ngbTabContent>
            <ngb-tabset>
                <ngb-tab>
                    <ng-template ngbTabTitle>JSON</ng-template>
                    <ng-template ngbTabContent>
                        <input type="file" style="display: none;" #jsonFileUpload accept="application/json" (change)="uploadFile('json', ri, $event, jsonFileUpload)" />
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" title="Download this resource as JSON" (click)="downloadFile('json', ri)">
                                <i class="fa fa-download"></i>
                            </button>
                            <button type="button" class="btn btn-default" title="Upload JSON to update this resource" (click)="jsonFileUpload.click()">
                                <i class="fa fa-upload"></i>
                            </button>
                        </div>
                        <pre>{{openedResources[ri] | json}}</pre>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>XML</ng-template>
                    <ng-template ngbTabContent>
                        <input type="file" style="display: none;" #xmlFileUpload accept="application/xml" (change)="uploadFile('xml', ri, $event, xmlFileUpload)" />
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" title="Download this resource as XML" (click)="downloadFile('xml', ri)">
                                <i class="fa fa-download"></i>
                            </button>
                            <button type="button" class="btn btn-default" title="Upload XML to update this resource" (click)="xmlFileUpload.click()">
                                <i class="fa fa-upload"></i>
                            </button>
                        </div>
                        <pre>{{openedResources[ri] | fhirXml}}</pre>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<footer class="footer">
    <button type="button" class="btn btn-default" (click)="search(tabSet)">Search</button>
    <span class="message">{{message}}</span>
</footer>