<div *ngIf="step === 1">
  Step 1

  <div class="mb-3">
    <label>Is this implementation guide intended to be published by HL7?</label>
    <select class="form-select" style="width: 200px;" [(ngModel)]="isHL7">
      <option [ngValue]="true">Yes</option>
      <option [ngValue]="false">No</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary" (click)="nextStep()">Next</button>
</div>
<div *ngIf="showHL7Step2">
  Step 2 HL7

  <div class="mb-3">
    <label>Family</label>
    <select (change)="hl7packageIdCriteriaChanged()" [(ngModel)]="isFHIR" class="form-select family">
      <option [ngValue]="false">CDA</option>
      <option [ngValue]="true">FHIR</option>
    </select>
  </div>

  <div class="mb-3">
    <label>Realm</label>
    <select (change)="hl7packageIdCriteriaChanged()" [(ngModel)]="selectedJurisdiction" [class.is-invalid]="!selectedJurisdiction" class="form-select realm">
      <option *ngFor="let jc of jurisdictionCodes" [ngValue]="jc">{{jc.display}} ({{jc.code}})</option>
    </select>
    <div class="help-block" *ngIf="!selectedJurisdiction">Realm is required</div>
  </div>

  <div class="mb-3">
    <label>Project Code</label>
    <input type="text" class="form-control standard" [ngModel]="projectCode" (ngModelChange)="setProjectCode($event)" [class.is-invalid]="!projectCode"/>
    <div class="help-block" *ngIf="!projectCode">Project Code is required</div>
  </div>

  <div class="mb-3">
    <label>Package ID</label>
    <input type="text" class="form-control standard" [(ngModel)]="packageId" [class.is-invalid]="!packageId"/>
    <div class="help-block" *ngIf="!packageId">Package ID is required</div>
  </div>

  <div class="mb-3">
    <label>Canonical URL: </label>
    <input type="text" class="form-control extended" [(ngModel)]="canonicalURL" [class.is-invalid]="!canonicalURL || !isValidUrl(canonicalURL)"/>
    <div class="help-block" *ngIf="!canonicalURL">Canonical URL is required</div>
    <div class="help-block" *ngIf="!isValidUrl(canonicalURL)">IG URL is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>IG URL: </label>
    <input type="text" class="form-control extended" [(ngModel)]="igUrl" [class.is-invalid]="!igUrl || !isValidUrl(igUrl)" />
    <div class="help-block" *ngIf="!igUrl">IG URL is required</div>
    <div class="help-block" *ngIf="!isValidUrl(igUrl)">IG URL is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>FHIR Version: </label>
    <select class="form-select family"  [(ngModel)]="fhirVersion" [class.is-invalid]="!fhirVersion" >
      <option value="r4">R4</option>
      <option value="stu3">STU3</option>
      <option value="r5">R5</option>
    </select>
   <!-- <input type="text" class="form-control standard" [(ngModel)]="fhirVersion" />-->
  </div>

  <div class="alert alert-warning" *ngIf="fhirVersion === 'r5'">Support for R5 is <strong>under development</strong> and not yet fully tested.</div>

  <button type="button" class="btn btn-secondary back" (click)="previousStep()">Back</button>
  <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!selectedJurisdiction || !projectCode || !fhirVersion">Next</button>
</div>

<div *ngIf="showHL7Step3">
  Step HL7 3

  <div class="mb-3">
    <label>IG Title: </label>
    <input type="text" class="form-control standard" (change)="igNameChanged()" [(ngModel)]="igTitle"/>
  </div>

  <div class="mb-3">
    <label>IG Name: </label>
    <input type="text" class="form-control standard" [(ngModel)]="igName" [class.is-invalid]="!igName || !isValidName(igName)" />
    <div class="help-block" *ngIf="!igName">Name is required</div>
    <div class="help-block" *ngIf="igName && !isValidName(igName)">{{Globals.tooltips['name.validation.failed']}}</div>
  </div>

  <div class="mb-3">
    <app-ig-work-group [implementationGuide]="implementationGuide" (change)="igChanging.emit(true)"></app-ig-work-group>

  </div>
  <button type="button" class="btn btn-secondary back" (click)="previousStep()">Back</button>
  <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="isDisabled()">Finish</button>
</div>
<div *ngIf="showPrivateStep2">
  Step Private 2

  <div class="mb-3">
    <label>Canonical URL:</label>
    <input type="text" class="form-control extended" [ngModel]="canonicalURL" (ngModelChange)="setIgCanonicalUrl($event)" [class.is-invalid]="!canonicalURL || !isValidUrl(canonicalURL)" />
    <div class="help-block" *ngIf="!canonicalURL">Canonical URL is required</div>
    <div class="help-block" *ngIf="canonicalURL && !isValidUrl(canonicalURL)">IG URL is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>ID:</label>
    <input type="text" class="form-control standard" [ngModel]="projectCode" (ngModelChange)="setIgId($event)" [class.is-invalid]="!projectCode" />
    <div class="help-block" *ngIf="!projectCode">ID is required</div>
    <div class="help-block" *ngIf="projectCode && !isValidId(projectCode)">ID is not formatted correctly. It may only container characters, numbers, dashes and periods.</div>
  </div>

  <div class="mb-3">
    <label>Package ID</label>
    <input [(ngModel)]="packageId" [class.is-invalid]="!packageId || !isValidPrivatePackageId(packageId)" class="form-control standard" type="text" />
    <div *ngIf="!packageId" class="help-block">Package ID is required</div>
    <div *ngIf="packageId && !isValidPrivatePackageId(packageId)" class="help-block">Package ID is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>IG URL:</label>
    <input type="text" class="form-control extended" [(ngModel)]="igUrl" [class.is-invalid]="!igUrl || !isValidUrl(igUrl)" />
    <div class="help-block" *ngIf="!igUrl">IG URL is required</div>
    <div *ngIf="igUrl && !isValidUrl(igUrl)" class="help-block">IG URL is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>Name: </label>
    <input type="text" class="form-control standard" [(ngModel)]="igName" [class.is-invalid]="!igName" />
    <div class="help-block" *ngIf="!igName">Name is required</div>
  </div>

  <div class="mb-3">
    <label>Title: </label>
    <input type="text" class="form-control standard" (change)="igNameChanged()" [(ngModel)]="igTitle"/>
  </div>

  <div class="mb-3">
    <label>FHIR Version: </label>
    <select class="form-select family" [(ngModel)]="fhirVersion" [class.is-invalid]="!fhirVersion">
      <option value="r4">R4</option>
      <option value="stu3">STU3</option>
    </select>
    <!-- <input type="text" class="form-control standard" [(ngModel)]="fhirVersion" />-->
  </div>


  <button type="button" class="btn btn-secondary back" (click)="previousStep()">Back</button>
  <button (click)="nextStep()"
          [disabled]="!this.canonicalURL || !this.projectCode || !this.igUrl || !this.igName || !this.packageId || !this.isValidId(this.projectCode) || !this.isValidUrl(this.canonicalURL) || !this.isValidUrl(this.igUrl) || !this.fhirVersion || !this.isValidPrivatePackageId(this.packageId)"
          class="btn btn-primary" type="button">Finish
  </button>
</div>
