<div *ngIf="step === 1">
  Step 1

  <div class="mb-3">
    <label>Is this implementation guide intended to be published by HL7?</label>
    <select class="form-select" style="width: 200px;" [(ngModel)]="isHL7">
      <option [ngValue]="true">Yes</option>
      <option [ngValue]="false">No</option>
    </select>
  </div>

  <button type="button" class="btn btn-primary" (click)="nextStep()">Next</button>
</div>
<div *ngIf="showHL7Step2">
  Step 2 HL7

  <div class="mb-3">
    <label>Family</label>
    <select class="form-select family" [(ngModel)]="isFHIR" (change)="packageIdCriteriaChanged()">
      <option [ngValue]="false">CDA</option>
      <option [ngValue]="true">FHIR</option>
    </select>
  </div>

  <div class="mb-3">
    <label>Realm</label>
    <select class="form-select realm" [(ngModel)]="selectedJurisdiction" (change)="packageIdCriteriaChanged()" [class.is-invalid]="!selectedJurisdiction">
      <option *ngFor="let jc of jurisdictionCodes" [ngValue]="jc">{{jc.display}} ({{jc.code}})</option>
    </select>
    <div class="help-block" *ngIf="!selectedJurisdiction">Realm is required</div>
  </div>

  <div class="mb-3">
    <label>Project Code</label>
    <input type="text" class="form-control standard" [ngModel]="projectCode" (ngModelChange)="setProjectCode($event)" [class.is-invalid]="!projectCode"/>
    <div class="help-block" *ngIf="!projectCode">Project Code is required</div>
  </div>

  <div class="mb-3">
    <label>Package ID</label>
    <input type="text" class="form-control standard" [(ngModel)]="packageId" [class.is-invalid]="!packageId"/>
    <div class="help-block" *ngIf="!packageId">Package ID is required</div>
  </div>

  <div class="mb-3">
    <label>Canonical URL: </label>
    <input type="text" class="form-control extended" [(ngModel)]="canonicalURL" [class.is-invalid]="!canonicalURL || !isValidUrl(canonicalURL)"/>
    <div class="help-block" *ngIf="!canonicalURL">Canonical URL is required</div>
    <div class="help-block" *ngIf="!isValidUrl(canonicalURL)">IG URL is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>IG URL: </label>
    <input type="text" class="form-control extended" [(ngModel)]="igUrl" [class.is-invalid]="!igUrl || !isValidUrl(igUrl)" />
    <div class="help-block" *ngIf="!igUrl">IG URL is required</div>
    <div class="help-block" *ngIf="!isValidUrl(igUrl)">IG URL is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>FHIR Version: </label>
    <select class="form-select family"  [(ngModel)]="fhirVersion" [class.is-invalid]="!fhirVersion" >
      <option value ="r4">R4</option>
      <option value ="stu3">STU3</option>
    </select>
   <!-- <input type="text" class="form-control standard" [(ngModel)]="fhirVersion" />-->
  </div>
  <button type="button" class="btn btn-secondary back" (click)="previousStep()">Back</button>
  <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!selectedJurisdiction || !projectCode || !fhirVersion">Next</button>
</div>

<div *ngIf="showHL7Step3">
  Step HL7 3

  <div class="mb-3">
    <label>IG Title: </label>
    <input type="text" class="form-control standard" (change)="igNameChanged()" [(ngModel)]="igTitle"/>
  </div>

  <div class="mb-3">
    <label>IG Name: </label>
    <input type="text" class="form-control standard" [(ngModel)]="igName" [class.is-invalid]="!igName || !isValidName(igName)" />
    <div class="help-block" *ngIf="!igName">Name is required</div>
    <div class="help-block" *ngIf="igName && !isValidName(igName)">{{Globals.tooltips['name.validation.failed']}}</div>
  </div>

  <div class="mb-3">
    <label>HL7 Work Group</label>
    <select class="form-select extended" [(ngModel)]="hl7WorkGroup" (change)="igChanging.emit(true)"
            [class.is-invalid]="!hl7WorkGroup">
      <option *ngFor="let wg of Globals.hl7WorkGroups" [value]="wg.url">{{wg.name}}</option>
      <option [ngValue]="undefined">Unspecified</option>
    </select>
  </div>
  <button type="button" class="btn btn-secondary back" (click)="previousStep()">Back</button>
  <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!hl7WorkGroup || !igTitle || !igName">Finish</button>
</div>
<div *ngIf="showPrivateStep2">
  Step Private 2

  <div class="mb-3">
    <label>Canonical URL:</label>
    <input type="text" class="form-control extended" [ngModel]="canonicalURL" (ngModelChange)="setIgCanonicalUrl($event)" [class.is-invalid]="!canonicalURL || !isValidUrl(canonicalURL)" />
    <div class="help-block" *ngIf="!canonicalURL">Canonical URL is required</div>
    <div class="help-block" *ngIf="canonicalURL && !isValidUrl(canonicalURL)">IG URL is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>ID:</label>
    <input type="text" class="form-control standard" [ngModel]="projectCode" (ngModelChange)="setIgId($event)" [class.is-invalid]="!projectCode" />
    <div class="help-block" *ngIf="!projectCode">ID is required</div>
    <div class="help-block" *ngIf="projectCode && !isValidId(projectCode)">ID is not formatted correctly. It may only container characters, numbers, dashes and periods.</div>
  </div>

  <div class="mb-3">
    <label>IG URL:</label>
    <input type="text" class="form-control extended" [(ngModel)]="igUrl" [class.is-invalid]="!igUrl || !isValidUrl(igUrl)" />
    <div class="help-block" *ngIf="!igUrl">IG URL is required</div>
    <div *ngIf="igUrl && !isValidUrl(igUrl)" class="help-block">IG URL is not formatted correctly</div>
  </div>

  <div class="mb-3">
    <label>Name: </label>
    <input type="text" class="form-control standard" [(ngModel)]="igName" [class.is-invalid]="!igName" />
    <div class="help-block" *ngIf="!igName">Name is required</div>
  </div>

  <div class="mb-3">
    <label>Title: </label>
    <input type="text" class="form-control standard" (change)="igNameChanged()" [(ngModel)]="igTitle"/>
  </div>

  <div class="mb-3">
    <label>FHIR Version: </label>
    <select  class="form-select family" [(ngModel)]="fhirVersion"  [class.is-invalid]="!fhirVersion">
      <option value ="r4">R4</option>
      <option value ="stu3">STU3</option>
    </select>
    <!-- <input type="text" class="form-control standard" [(ngModel)]="fhirVersion" />-->
  </div>


  <button type="button" class="btn btn-secondary back" (click)="previousStep()">Back</button>
  <button type="button" class="btn btn-primary" (click)="nextStep()" [disabled]="!canonicalURL || !projectCode || !igUrl || !igName || !isValidId(projectCode) || !isValidUrl(canonicalURL) || !isValidUrl(igUrl) || !fhirVersion">Finish</button>
</div>
