<ul ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
  <li ngbNavItem>
    <a ngbNavLink>Output</a>
    <ng-template ngbNavContent>
      <div class="my-2">
        <a href="{{implementationGuideOutputUrl}}" target="_new" class="btn btn-primary">Open in New Tab <i class="fas fa-external-link-alt"></i></a> 
        <a *ngIf="implementationGuideId" class="btn btn-primary m-2" routerLink="{{configService.baseSessionUrl}}/publish">Publish/Re-Publish</a>
      </div>
      <iframe *ngIf="implementationGuideId" [src]="implementationGuideOutputUrl | safe"></iframe>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>QA</a>
    <ng-template ngbNavContent>
      <div class="my-2">
        <a href="{{implementationGuideQAUrl}}" target="_new" class="btn btn-primary">Open in New Tab <i class="fas fa-external-link-alt"></i></a>
        <a *ngIf="implementationGuideId"  class="btn btn-primary m-2" routerLink="{{configService.baseSessionUrl}}/publish">Publish/Re-Publish</a>
      </div>
      <iframe *ngIf="implementationGuideId" [src]="implementationGuideQAUrl | safe"></iframe>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>