<ngb-tabset [destroyOnHide]="false">
  <ngb-tab title="Output">
    <ng-template ngbTabContent>
      <a href="{{implementationGuideOutputUrl}}" target="_new">Open in new tab</a>
      <a *ngIf="implementationGuideId" class="nav-link" routerLink="{{configService.baseSessionUrl}}/publish">Publish/Re-Publish</a>
      <iframe *ngIf="implementationGuideId" [src]="implementationGuideOutputUrl | safe"></iframe>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="QA">
    <ng-template ngbTabContent>
      <a href="{{implementationGuideQAUrl}}" target="_new">Open in new tab</a>
      <a *ngIf="implementationGuideId" class="nav-link" routerLink="{{configService.baseSessionUrl}}/publish">Publish/Re-Publish</a>
      <iframe *ngIf="implementationGuideId" [src]="implementationGuideQAUrl | safe"></iframe>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
