<h1>Value Set <span *ngIf="valueSet && valueSet.name">"{{valueSet.name}}"</span></h1>

<div class="alert alert-danger" *ngIf="vsNotFound">Value Set with id <strong>{{route.snapshot.paramMap.get('id')}}</strong> was not found on the selected FHIR server!</div>

<ng-container *ngIf="valueSet">
<ul ngbNav #vsTabs="ngbNav" class="nav-tabs" [destroyOnHide]="false">
  <li ngbNavItem>
    <a ngbNavLink>General</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-8">
          <app-fhir-string [parentObject]="valueSet" propertyName="url" [required]="true" title="URL" tooltipPath="ValueSet.url" (change)="isDirty = true; urlChanged()"></app-fhir-string>

          <app-fhir-string [parentObject]="valueSet" propertyName="name" [required]="true" title="Name" (change)="isDirty = true; nameChanged()" tooltipPath="ValueSet.name"></app-fhir-string>

          <app-fhir-string [parentObject]="valueSet" propertyName="title" title="Title" (change)="isDirty = true; nameChanged()" tooltipPath="ValueSet.title"></app-fhir-string>

          <trifolia-fhir-identifier-card [parentObject]="valueSet" propertyName="identifier" (change)="isDirty = true"></trifolia-fhir-identifier-card>

          <app-fhir-multi-use-context [parentObject]="valueSet" propertyName="useContext" tooltipPath="ValueSet.useContext" (change)="isDirty = true;"></app-fhir-multi-use-context>
        </div>
        <div class="col-md-4">
          <app-fhir-string [parentObject]="valueSet" propertyName="id" title="ID" placeholder="Auto generate" *ngIf="isNew" (change)="isDirty = true; idChangedEvent.next()"></app-fhir-string>
          <div class="help-block">{{alreadyInUseIDMessage}}</div>

          <app-fhir-string [parentObject]="valueSet" propertyName="version" title="Version" tooltipPath="ValueSet.version" (change)="isDirty = true;" ></app-fhir-string>

          <app-fhir-select-single-code [parentObject]="valueSet" propertyName="status" title="Status" [required]="true" (change)="isDirty = true;"
                                       valueSetUrl="http://hl7.org/fhir/ValueSet/publication-status"
                                       tooltipPath="ValueSet.status"></app-fhir-select-single-code>

          <app-fhir-boolean [allowUndefined]="true" [parentObject]="valueSet" [required]="true" propertyName="experimental" title="Experimental" (change)="isDirty = true;"></app-fhir-boolean>
          <span *ngIf="!valueSet.hasOwnProperty('experimental')" class="help-block error">The ShareableValueSet profile says that the experimental element is mandatory, but it is not found.
            HL7 Published value sets SHALL conform to the ShareableValueSet profile</span>
        </div>
      </div>
    </ng-template>
  </li>

  <li ngbNavItem>
    <a ngbNavLink>Narrative</a>
    <ng-template ngbNavContent>
      <app-fhir-narrative [resource]="valueSet" (change)="isDirty = true;"></app-fhir-narrative>

      <app-fhir-markdown [parentObject]="valueSet" propertyName="description" title="Description" [isFormGroup]="true" tooltipPath="ValueSet.description" (change)="isDirty = true;"></app-fhir-markdown>

      <app-fhir-markdown [parentObject]="valueSet" propertyName="purpose" title="Purpose" [isFormGroup]="true" tooltipPath="ValueSet.purpose" (change)="isDirty = true;"></app-fhir-markdown>

      <app-fhir-markdown [parentObject]="valueSet" propertyName="copyright" title="Copyright" [isFormGroup]="true" tooltipPath="ValueSet.copyright" (change)="isDirty = true;"></app-fhir-markdown>
    </ng-template>
  </li>

  <li ngbNavItem>
    <a ngbNavLink>Compose</a>
    <ng-template ngbNavContent>
      <label><input type="checkbox" [ngModel]="valueSet.hasOwnProperty('compose')" (ngModelChange)="isDirty = true; Globals.toggleProperty(valueSet, 'compose', { include: [{}] })"/> Value set has a "compose" definition</label>

      <app-tooltip-icon tooltipPath="ValueSet.compose"></app-tooltip-icon>

      <div *ngIf="valueSet.hasOwnProperty('compose')">
        <app-fhir-date [parentObject]="valueSet.compose" propertyName="lockedDate" title="Locked Date" tooltipPath="ValueSet.compose.lockedDate" (change)="isDirty = true;"></app-fhir-date>

        <app-fhir-boolean [parentObject]="valueSet.compose" propertyName="inactive" title="Inactive" tooltipPath="ValueSet.compose.inactive" (change)="isDirty = true;"></app-fhir-boolean>

        <!-- Includes -->
        <div class="card">
          <div class="card-header">
            <label><input type="checkbox" [ngModel]="valueSet.compose.hasOwnProperty('include')" (ngModelChange)="isDirty = true; Globals.toggleProperty(valueSet.compose, 'include', [{}])"/> This value set has include entries</label>
          </div>
          <div class="card-body" *ngIf="valueSet.compose.hasOwnProperty('include')">
            <div class="enumerate dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="enumerateFromButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Enumerate from...
              </button>
              <div class="dropdown-menu" aria-labelledby="enumerateFromButton">
                <a class="dropdown-item" href="javascript:void(0)" (click)="enumerateFromValueSetFile()">Other FHIR ValueSet resource/file</a>
              </div>
            </div>

            <ng-container *ngIf="valueSet.compose.hasOwnProperty('include')">
              <ul ngbNav #includeTabSet="ngbNav" class="nav-tabs" [destroyOnHide]="false">
                <li *ngFor="let include of valueSet.compose.include; let ii = index" ngbNavItem="include-{{ii}}">
                  <a ngbNavLink>
                    Include {{ii + 1}}
                    <i class="fas fa-trash-alt" title="Remove this include"
                      (click)="ClientHelper.promptForRemove(valueSet.compose.include, ii, 'Are you sure you want to remove this item?', $event)"></i>
                  </a>
                  <ng-template ngbNavContent>
                    <app-valueset-include-panel [include]="include"  (change)="isDirty = true;"></app-valueset-include-panel>
                  </ng-template>
                </li>
                <li ngbNavItem>
                  <a ngbNavLink>
                    <button type="button" class="btn btn-primary" title="Add an include entry" (click)="isDirty = true; addIncludeEntry(includeTabSet)">Add</button>
                  </a>
                  <ng-template ngbNavContent></ng-template>
                </li>
              </ul>
              <div [ngbNavOutlet]="includeTabSet" class="mt-2"></div>
            </ng-container>
          </div>
        </div>

        <!-- Excludes -->
        <div class="card">
          <div class="card-header">
            <label><input type="checkbox" [ngModel]="valueSet.compose.hasOwnProperty('exclude')" (ngModelChange)="isDirty = true; Globals.toggleProperty(valueSet.compose, 'exclude', [{}])"/> This value set has exclude entries</label>
          </div>
          <div class="card-body" *ngIf="valueSet.compose.hasOwnProperty('exclude')">
            <ul ngbNav #excludeTabSet="ngbNav" class="nav-tabs" [destroyOnHide]="false">
              <li *ngFor="let exclude of valueSet.compose.exclude; let ei = index" ngbNavItem="exclude-{{ei}}">
                <a ngbNavLink>
                  Exclude {{ei + 1}}
                  <i class="fas fa-trash-alt" title="Remove this exclude" (click)="ClientHelper.promptForRemove(valueSet.compose.exclude, ei, 'Are you sure you want to remove this item?', $event) == true?isDirty = true: false"></i>
                </a>
                <ng-template ngbNavContent>
                  <app-valueset-include-panel [include]="exclude" (change)="isDirty = true;"></app-valueset-include-panel>
                </ng-template>
              </li>
              <li ngbNavItem>
                <a ngbNavLink>
                  <button type="button" class="btn btn-primary" title="Add an exclude entry" (click)="isDirty = true; addExcludeEntry(excludeTabSet)">Add</button>
                </a>
                <ng-template ngbNavContent></ng-template>
              </li>
            </ul>
            <div [ngbNavOutlet]="excludeTabSet" class="mt-2"></div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>

  <!-- Validation -->
  <li ngbNavItem="validation">
    <a ngbNavLink>
      Validation ({{validation?.messages?.length || 0}})
    </a>
    <ng-template ngbNavContent>
      <app-validation-results [results]="validation"></app-validation-results>
    </ng-template>
  </li>

  <!-- RAW JSON/XML -->
  <li ngbNavItem="raw">
    <a ngbNavLink>RAW</a>
    <ng-template ngbNavContent>
      <app-raw-resource [resource]="valueSet" [shown]="vsTabs.activeId === 'raw'" (resourceChange)="loadVS($event, false)"></app-raw-resource>
    </ng-template>
  </li>

  <!-- Version History -->
  <li ngbNavItem="history" *ngIf="!isNew">
    <a ngbNavLink>History</a>
    <ng-template ngbNavContent>
      <app-resource-history  [resource]="fhirResource" (resourceChange) = "valueSet = $event; fhirResource.resource = $event;"></app-resource-history>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="vsTabs" class="mt-2"></div>
</ng-container>

<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!canEdit(fhirResource) || (isNew && !isIdUnique)">Save</button>
    <button type="button" class="btn btn-secondary" (click)="revert()" *ngIf="!isNew">Revert</button>
  </div>
  <span class="message">{{message}}</span>
</footer>
