<h1>Value Set <span *ngIf="valueSet && valueSet.name">"{{valueSet.name}}"</span></h1>

<div class="alert alert-danger" *ngIf="vsNotFound">Value Set with id <strong>{{route.snapshot.paramMap.get('id')}}</strong> was not found on the selected FHIR server!</div>

<ngb-tabset *ngIf="valueSet" [destroyOnHide]="false" #vsTabs="ngbTabset">
  <ngb-tab title="General">
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-8">
          <app-fhir-string [parentObject]="valueSet" propertyName="url" title="URL" tooltipPath="ValueSet.url" (change)="urlChanged()"></app-fhir-string>

          <app-fhir-string [parentObject]="valueSet" propertyName="name" title="Name" (change)="nameChanged()" tooltipPath="ValueSet.name"></app-fhir-string>

          <app-fhir-string [parentObject]="valueSet" propertyName="title" title="Title" (change)="nameChanged()" tooltipPath="ValueSet.title"></app-fhir-string>

          <trifolia-fhir-identifier-card [parentObject]="valueSet" propertyName="identifier"></trifolia-fhir-identifier-card>

          <app-fhir-multi-use-context [parentObject]="valueSet" propertyName="useContext" tooltipPath="ValueSet.useContext"></app-fhir-multi-use-context>
        </div>
        <div class="col-md-4">
          <app-fhir-string [parentObject]="valueSet" propertyName="id" title="ID" placeholder="AUTO" *ngIf="isNew"></app-fhir-string>

          <app-fhir-string [parentObject]="valueSet" propertyName="version" title="Version" tooltipPath="ValueSet.version"></app-fhir-string>

          <app-fhir-select-single-code [parentObject]="valueSet" propertyName="status" title="Status" [required]="true" valueSetUrl="http://hl7.org/fhir/ValueSet/publication-status"
                                       tooltipPath="ValueSet.status"></app-fhir-select-single-code>
        </div>
      </div>
    </ng-template>
  </ngb-tab>

  <ngb-tab title="Narrative">
    <ng-template ngbTabContent>
      <app-fhir-narrative [resource]="valueSet"></app-fhir-narrative>

      <app-fhir-markdown [parentObject]="valueSet" propertyName="description" title="Description" [isFormGroup]="true" tooltipPath="ValueSet.description"></app-fhir-markdown>

      <app-fhir-markdown [parentObject]="valueSet" propertyName="purpose" title="Purpose" [isFormGroup]="true" tooltipPath="ValueSet.purpose"></app-fhir-markdown>

      <app-fhir-markdown [parentObject]="valueSet" propertyName="copyright" title="Copyright" [isFormGroup]="true" tooltipPath="ValueSet.copyright"></app-fhir-markdown>
    </ng-template>
  </ngb-tab>

  <ngb-tab>
    <ng-template ngbTabTitle>Compose</ng-template>
    <ng-template ngbTabContent>
      <input type="checkbox" [ngModel]="valueSet.hasOwnProperty('compose')" (ngModelChange)="Globals.toggleProperty(valueSet, 'compose', { include: [{}] })"/> Value set has a "compose" definition
      <app-tooltip-icon tooltipPath="ValueSet.compose"></app-tooltip-icon>

      <div *ngIf="valueSet.hasOwnProperty('compose')">
        <app-fhir-date [parentObject]="valueSet.compose" propertyName="lockedDate" title="Locked Date" tooltipPath="ValueSet.compose.lockedDate"></app-fhir-date>

        <app-fhir-boolean [parentObject]="valueSet.compose" propertyName="inactive" title="Inactive" tooltipPath="ValueSet.compose.inactive"></app-fhir-boolean>

        <p>
          <input type="checkbox" [ngModel]="valueSet.compose.hasOwnProperty('include')" (ngModelChange)="Globals.toggleProperty(valueSet.compose, 'include', [{}])"/> This value set has include
          entries
        </p>

        <div class="enumerate dropdown" *ngIf="valueSet.compose.hasOwnProperty('include')">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="enumerateFromButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Enumerate from...
          </button>
          <div class="dropdown-menu" aria-labelledby="enumerateFromButton">
            <a class="dropdown-item" href="javascript:void(0)" (click)="enumerateFromValueSetFile()">Other ValueSet resource/file</a>
          </div>
        </div>

        <ngb-tabset *ngIf="valueSet.compose.hasOwnProperty('include')" #includeTabSet [destroyOnHide]="false">
          <ngb-tab *ngFor="let include of valueSet.compose.include; let ii = index" id="include-{{ii}}">
            <ng-template ngbTabTitle>
              Include {{ii + 1}}
              <i class="fas fa-trash-alt" title="Remove this include"
                 (click)="ClientHelper.promptForRemove(valueSet.compose.include, ii, 'Are you sure you want to remove this item?', $event)"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <app-valueset-include-panel [include]="include"></app-valueset-include-panel>
            </ng-template>
          </ngb-tab>
          <ngb-tab [disabled]="true">
            <ng-template ngbTabTitle>
              <button type="button" class="btn btn-default" title="Add an include entry" (click)="addIncludeEntry(includeTabSet)">Add</button>
            </ng-template>
            <ng-template ngbTabContent></ng-template>
          </ngb-tab>
        </ngb-tabset>

        <p>
          <input type="checkbox" [ngModel]="valueSet.compose.hasOwnProperty('exclude')" (ngModelChange)="Globals.toggleProperty(valueSet.compose, 'exclude', [{}])"/> This value set has exclude
          entries
        </p>

        <ngb-tabset *ngIf="valueSet.compose.hasOwnProperty('exclude')" #excludeTabSet [destroyOnHide]="false">
          <ngb-tab *ngFor="let exclude of valueSet.compose.exclude; let ei = index" id="exclude-{{ei}}">
            <ng-template ngbTabTitle>
              Exclude {{ei + 1}}
              <i class="fas fa-trash-alt" title="Remove this exclude"
                 (click)="ClientHelper.promptForRemove(valueSet.compose.exclude, ei, 'Are you sure you want to remove this item?', $event)"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <app-valueset-include-panel [include]="exclude"></app-valueset-include-panel>
            </ng-template>
          </ngb-tab>
          <ngb-tab [disabled]="true">
            <ng-template ngbTabTitle>
              <button type="button" class="btn btn-default" title="Add an exclude entry" (click)="addIncludeEntry(excludeTabSet)">Add</button>
            </ng-template>
            <ng-template ngbTabContent></ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </ng-template>
  </ngb-tab>

  <!-- Permissions -->
  <ngb-tab id="permissions" *ngIf="configService.config.enableSecurity">
    <ng-template ngbTabTitle>
      Permissions <i class="fas fa-exclamation" style="color: red" *ngIf="!canEdit(valueSet)" title="No write permissions for current user specified!"></i>
    </ng-template>
    <ng-template ngbTabContent>
      <trifolia-fhir-resource-permissions [resource]="valueSet"></trifolia-fhir-resource-permissions>
    </ng-template>
  </ngb-tab>

  <!-- Validation -->
  <ngb-tab id="validation" title="Validation">
    <ng-template ngbTabContent>
      <app-validation-results [results]="validation"></app-validation-results>
    </ng-template>
  </ngb-tab>

  <!-- RAW JSON/XML -->
  <ngb-tab id="raw" title="RAW">
    <ng-template ngbTabContent>
      <app-raw-resource [resource]="valueSet" [shown]="vsTabs.activeId === 'raw'"></app-raw-resource>
    </ng-template>
  </ngb-tab>

  <!-- Version History -->
  <ngb-tab id="history" title="History" *ngIf="!isNew">
    <ng-template ngbTabContent>
      <app-resource-history [(resource)]="valueSet"></app-resource-history>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!canEdit(valueSet)">Save</button>
    <button type="button" class="btn btn-secondary" (click)="revert()" *ngIf="!isNew">Revert</button>
  </div>
  <span class="message">{{message}}</span>
</footer>
