<h3>New Structure Definition</h3>

<ngb-tabset>
    <ngb-tab title="General">
        <ng-template ngbTabContent>
            <div class="row">
                <div class="col-md-8">
                    <app-fhir-string [parentObject]="structureDefinition" propertyName="url" title="URL" [required]="true" tooltipPath="StructureDefinition.url"></app-fhir-string>
                </div>
                <div class="col-md-4">
                    <app-fhir-string [parentObject]="structureDefinition" propertyName="id" title="ID" placeholder="Auto generate" tooltipPath="StructureDefinition.id"></app-fhir-string>
                </div>
                <div class="col-md-8">
                    <app-fhir-string [parentObject]="structureDefinition" propertyName="name" title="Name" [required]="true" tooltipPath="StructureDefinition.name"></app-fhir-string>
                </div>
                <div class="col-md-4">
                    <app-fhir-select-single-code [parentObject]="structureDefinition" propertyName="status" title="Status" valueSetUrl="http://hl7.org/fhir/ValueSet/publication-status" [required]="true" tooltipPath="StructureDefinition.status"></app-fhir-select-single-code>
                </div>
                <div class="col-md-4">
                    <app-fhir-select-single-code [parentObject]="structureDefinition" propertyName="kind" title="Kind" valueSetUrl="http://hl7.org/fhir/ValueSet/structure-definition-kind" [required]="true" tooltipPath="StructureDefinition.kind"></app-fhir-select-single-code>
                </div>
                <div class="col-md-4">
                    <app-fhir-boolean [parentObject]="structureDefinition" propertyName="abstract" title="Abstract" [required]="true" tooltipPath="StructureDefinition.abstract"></app-fhir-boolean>
                </div>
                <div class="col-md-4">
                    <app-fhir-select-single-code [parentObject]="structureDefinition" propertyName="type" title="Type" valueSetUrl="http://hl7.org/fhir/ValueSet/defined-types" [isTypeahead]="true" [required]="true" tooltipPath="StructureDefinition.type" (change)="typeChanged()" [defaultCode]="null"></app-fhir-select-single-code>
                </div>
                <div class="col-md-4">
                    <app-fhir-select-single-code [parentObject]="structureDefinition" propertyName="derivation" title="Derivation" valueSetUrl="http://hl7.org/fhir/ValueSet/type-derivation-rule" tooltipPath="StructureDefinition.derivation"></app-fhir-select-single-code>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Base Profile</label>
                        <div class="input-group" [class.is-invalid]="baseProfile && baseProfile.type !== structureDefinition.type">
                            <input type="text" class="form-control" disabled="disabled" [ngModel]="baseProfileName" />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" title="Select a base profile" (click)="selectBaseProfile()">
                                    <i class="fa fa-hand-pointer-o"></i>
                                </button>
                            </div>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" title="Un-select the base profile" [disabled]="!baseProfile" (click)="unSelectBaseProfile()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <span class="help-block" *ngIf="baseProfile && baseProfile.type !== structureDefinition.type">The selected base profile's type is "{{baseProfile.type}}" but must be "{{structureDefinition.type}}"</span>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="RAW">
        <ng-template ngbTabContent>
            <app-raw-resource [resource]="structureDefinition"></app-raw-resource>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<footer class="footer">
    <button type="button" class="btn btn-default" (click)="save()" [disabled]="saveDisabled()">Save</button>
    <span class="message">{{message}}</span>
</footer>