<div class="input-group">
  <input class="form-control" [(ngModel)]="property" title="{{title}}" (change)="change.emit(property)"/>
  <div class="input-group-append">
    <button type="button" class="btn btn-secondary" title="Select a CapabilityStatement for the instantiate" (click)="selectCanonical()">
      <i class="fas fa-hand-pointer"></i>
    </button>
    <button type="button" class="btn btn-secondary" title="Clear the CabilityStatement URL" (click)="clear()">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
