<div class="modal-header">
    <h4 class="modal-title">Edit Range</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body" *ngIf="ratio">
    <div class="row">
        <div class="col-md-6">
            <!-- numerator -->
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" [ngModel]="ratio.hasOwnProperty('numerator')" (ngModelChange)="Globals.toggleProperty(ratio, 'numerator', {})"/>
                    Numerator
                </div>
                <div class="card-body" *ngIf="ratio.hasOwnProperty('numerator')">
                    <app-fhir-string [parentObject]="ratio.numerator" propertyName="unit" title="Unit"></app-fhir-string>

                    <div class="mb-3">
                        <label>
                            <input type="checkbox" [ngModel]="ratio.numerator.hasOwnProperty('value')" (ngModelChange)="Globals.toggleProperty(ratio.numerator, 'value', 0)"/>
                            Value
                        </label>
                        <input type="number" class="form-control" [disabled]="!ratio.numerator.hasOwnProperty('value')" [(ngModel)]="ratio.numerator.value"/>
                    </div>

                    <div class="mb-3">
                        <label>
                            <input type="checkbox" [ngModel]="ratio.numerator.hasOwnProperty('comparator')" (ngModelChange)="Globals.toggleProperty(ratio.numerator, 'comparator', '<')"/>
                            Comparator
                        </label>
                        <select class="form-select" [disabled]="!ratio.numerator.hasOwnProperty('comparator')" [(ngModel)]="ratio.numerator.comparator">
                            <option value="<">&lt;</option>
                            <option value="<=">&lt;=</option>
                            <option value=">=">&gt;=</option>
                            <option value=">">&gt;</option>
                        </select>
                    </div>

                    <app-fhir-string [parentObject]="ratio.numerator" propertyName="system" title="System"></app-fhir-string>

                    <app-fhir-string [parentObject]="ratio.numerator" propertyName="code"
                                     title="Code"></app-fhir-string>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- denominator -->
            <div class="card">
                <div class="card-header">
                    <input type="checkbox" [ngModel]="ratio.hasOwnProperty('denominator')"
                           (ngModelChange)="Globals.toggleProperty(ratio, 'denominator', {})"/>
                    Denominator
                </div>
                <div class="card-body" *ngIf="ratio.hasOwnProperty('denominator')">
                    <app-fhir-string [parentObject]="ratio.denominator" propertyName="unit" title="Unit"></app-fhir-string>

                    <div class="mb-3">
                        <label>
                            <input type="checkbox" [ngModel]="ratio.denominator.hasOwnProperty('value')" (ngModelChange)="Globals.toggleProperty(ratio.denominator, 'value', 0)"/>
                            Value
                        </label>
                        <input type="number" class="form-control" [disabled]="!ratio.denominator.hasOwnProperty('value')" [(ngModel)]="ratio.denominator.value"/>
                    </div>

                    <div class="mb-3">
                        <label>
                            <input type="checkbox" [ngModel]="ratio.denominator.hasOwnProperty('comparator')" (ngModelChange)="Globals.toggleProperty(ratio.denominator, 'comparator', '<')"/>
                            Comparator
                        </label>
                        <select class="form-select" [disabled]="!ratio.denominator.hasOwnProperty('comparator')" [(ngModel)]="ratio.denominator.comparator">
                            <option value="<">&lt;</option>
                            <option value="<=">&lt;=</option>
                            <option value=">=">&gt;=</option>
                            <option value=">">&gt;</option>
                        </select>
                    </div>

                    <app-fhir-string [parentObject]="ratio.denominator" propertyName="system" title="System"></app-fhir-string>

                    <app-fhir-string [parentObject]="ratio.denominator" propertyName="code" title="Code"></app-fhir-string>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.close()">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
</div>