<h1>Expand Value Set</h1>
<p class="badge bg-info" *ngIf="valueSet">{{valueSet.url}}</p>

<ul ngbNav #t="ngbNav" class="nav-tabs" [destroyOnHide]="false">
    <li ngbNavItem="options">
        <a ngbNavLink>Options</a>
        <ng-template ngbNavContent>
            <div class="row" *ngIf="valueSet">
                <div class="col-md-6">
                    <app-fhir-string [parentObject]="this" propertyName="terminologyServer" placeholder="BUILT-IN" tooltipKey="external.terminology.server" cookieKey="terminology.server"></app-fhir-string>

                    <app-fhir-string [parentObject]="criteria" propertyName="filter" title="Filter" cookieKey="expand.criteria.filter"></app-fhir-string>

                    <app-fhir-string [parentObject]="criteria" propertyName="profile" title="Profile" cookieKey="expand.criteria.profile"></app-fhir-string>

                    <app-fhir-date [parentObject]="criteria" propertyName="date" title="Date" cookieKey="expand.criteria.date"></app-fhir-date>

                    <app-fhir-boolean [parentObject]="criteria" propertyName="includeDesignations" title="Include Designations" cookieKey="expand.criteria.includeDesignations"></app-fhir-boolean>

                    <app-fhir-boolean [parentObject]="criteria" propertyName="includeDefinition" title="Include Definition" cookieKey="expand.criteria.includeDefinition"></app-fhir-boolean>

                    <app-fhir-string [parentObject]="criteria" propertyName="displayLanguage" title="Display Language" cookieKey="expand.criteria.displayLanguage"></app-fhir-string>
                </div>
                <div class="col-md-6">
                    <app-fhir-number [parentObject]="criteria" propertyName="offset" title="Offset" cookieKey="expand.criteria.offset"></app-fhir-number>

                    <app-fhir-number [parentObject]="criteria" propertyName="count" title="Count" cookieKey="expand.criteria.count"></app-fhir-number>

                    <app-fhir-boolean [parentObject]="criteria" propertyName="excludeNested" title="Exclude Nested" cookieKey="expand.criteria.excludeNested"></app-fhir-boolean>

                    <app-fhir-boolean [parentObject]="criteria" propertyName="excludeNotForUI" title="Exclude Not For UI" cookieKey="expand.criteria.excludeNotForUI"></app-fhir-boolean>

                    <app-fhir-boolean [parentObject]="criteria" propertyName="excludePostCoordinated" title="Exclude Post-coordinated" cookieKey="expand.criteria.excludePostCoordinated"></app-fhir-boolean>

                    <app-fhir-boolean [parentObject]="criteria" propertyName="activeOnly" title="Active Only" cookieKey="expand.criteria.activeOnly"></app-fhir-boolean>

                    <app-fhir-boolean [parentObject]="criteria" propertyName="limitedExpansion" title="Limited Expansion" cookieKey="expand.criteria.limitedExpansion"></app-fhir-boolean>
                </div>
            </div>
        </ng-template>
    </li>
    <li ngbNavItem="results" [disabled]="!results">
        <a ngbNavLink>Results</a>
        <ng-template ngbNavContent>
            <div *ngIf="results">
                <div *ngIf="isOperationOutcome">
                    <div *ngIf="results.text" [innerHTML]="results.text.div"></div>
                </div>
                <div *ngIf="!hasError">
                    <app-raw-resource [resource]="results" [shown]="t.activeId === 'results'"></app-raw-resource>
                </div>
            </div>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="t" class="mt-2"></div>

<footer class="footer">
    <button type="button" class="btn btn-primary" (click)="expand(t)" [disabled]="expanding">Expand</button>
    <span class="message">{{message}}</span>
</footer>
