<h2>Pages</h2>

<ul ngbNav #nav="ngbNav" class="nav-tabs mt-2">

  <li ngbNavItem>
    <a ngbNavLink>Pages <span class="badge bg-primary"></span></a>
    <ng-template ngbNavContent>
    <div  [attr.data-intro]="Globals.introText['browse.paging']">
    <ngb-pagination *ngIf="searchPagesResults && igPages.total > 0" class="d-flex justify-content-center"
                    [maxSize]="5"
                    [collectionSize]="igPages.total"
                    [(page)]="page"
                    [boundaryLinks]="true"
                    (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
    </div>
    <table class="table table-striped" *ngIf="searchPagesResults">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th class="actions-column-3">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" routerLink="{{configService.baseSessionUrl}}/page/new?defaultName={{defaultName}}" title="Create a new page" [attr.data-intro]="Globals.introText['browse.add']">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>
        <tbody *ngIf="searchPagesResults">
          <tr *ngFor="let ip of searchPagesResults">
              <td>{{ip.id}}</td>
              <td>{{ip.name}}</td>
              <td>
                  <div class="btn-group pull-right">
                      <a class="btn btn-primary" routerLink="{{configService.baseSessionUrl}}/page/{{ip.id}}"  title="Edit this resource">
                          <i class="fa fa-edit"></i>
                      </a>
                      <button type="button" class="btn btn-secondary" (click)="remove(ip)"    title="Remove this resource">
                          <i class="fas fa-trash-alt"></i>
                      </button>
                  </div>
              </td>
          </tr>
        </tbody>
        <tfoot>
          <tr *ngIf="searchPagesResults && this.igPages.total === 0">
              <td colspan="3">No pages! Create one by clicking <a routerLink="{{configService.baseSessionUrl}}/page/new?defaultName={{defaultName}}">here</a>...</td>
          </tr>
          <tr *ngIf="searchPagesResults && this.igPages.total > 0">
              <td colspan="3">
                  <ngb-pagination class="d-flex justify-content-center" [maxSize]="5"
                                  [collectionSize]="igPages.total" [(page)]="page" [boundaryLinks]="true"
                                  (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
              </td>
          </tr>
        </tfoot>
    </table>
    </ng-template>
  </li>

  <li ngbNavItem *ngIf = "missingPages.length > 0">
    <a ngbNavLink>Missing Pages <span class="badge bg-primary">{{missingPages?.length || 0}}</span></a>
    <ng-template ngbNavContent>
      <table>
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody *ngIf = "missingPages">
          <tr *ngFor="let mp of missingPages">
            <td>{{mp}}</td>
            <td class="actions-column-2">
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" routerLink="{{configService.baseSessionUrl}}/page/new?defaultName={{mp}}" title="Create a new page" [attr.data-intro]="Globals.introText['browse.add']">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav"></div>

