<div class="modal-header">
    <h4 class="modal-title">Open File</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group">
        <label>File</label>
        <input type="file" class="form-control" (change)="fileChanged(fileInput.files[0])" #fileInput />
    </div>

    <div class="form-group">
        <label>FHIR Version</label>
        <select class="form-control" [(ngModel)]="fhirVersion">
            <option value="3.0.1">STU3</option>
            <option value="3.4.0">R4</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="ok()" [disabled]="!fhirVersion || !file">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
</div>