<h1>Publish</h1>

<div class="alert alert-warning">This page executes the <a href="https://confluence.hl7.org/display/FHIR/IG+Publisher+Documentation" target="_blank">HL7 IG Publisher</a>. The HL7
  IG Publisher tool is not developed as part of Trifolia-on-FHIR; it is developed by HL7. Questions related to the execution of the HL7 IG Publisher should be directed to <a
    href="https://chat.fhir.org/#narrow/stream/179252-IG-creation" target="_blank">chat.fhir.org</a>.
</div>

<div class="form-group" [attr.data-intro]="Globals.introText['publish.implementation-guide']" *ngIf="!configService.project">
  <label>Implementation Guide</label>
  <div class="input-group">
    <input type="text" class="form-control"
           [ngModel]="selectedImplementationGuide"
           (ngModelChange)="implementationGuideChanged($event)"
           [ngbTypeahead]="searchImplementationGuide"
           [resultFormatter]="searchFormatter"
           [inputFormatter]="searchFormatter"
           autocomplete="off" />
    <div class="input-group-btn">
      <button type="button" class="btn btn-default" title="Clear the selection" (click)="clearImplementationGuide()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
</div>

<ngb-tabset #tabs>
  <ngb-tab id="options">
    <ng-template ngbTabTitle>
      <span [attr.data-intro]="Globals.introText['publish.options']">Options</span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="row">
        <div class="col-md-6">
          <trifolia-fhir-ig-publisher-selection [options]="options"></trifolia-fhir-ig-publisher-selection>
        </div>
        <div class="col-md-6">
          <app-fhir-boolean
            [parentObject]="options"
            [required]="true"
            propertyName="useTerminologyServer"
            [cookieKey]="Globals.cookieKeys.exportLastUseTerminologyServer"
            title="Use terminology server?">
          </app-fhir-boolean>
        </div>

        <div class="col-md-6">
          <app-fhir-boolean
            [cookieKey]="Globals.cookieKeys.exportLastIncludeFhirIgPublisher"
            [parentObject]="options"
            [required]="true"
            propertyName="includeIgPublisherJar"
            title="Include FHIR IG Publisher JAR?">
          </app-fhir-boolean>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Notify via email after done publishing?</label>
            <select [(ngModel)]="options.notifyMe" class="form-control">
              <option [ngValue]="false">No</option>
              <option [ngValue]="true">Yes</option>
            </select>
          </div>
        </div>

        <div class="col-md-6">
          <app-fhir-boolean
            [cookieKey]="Globals.cookieKeys.exportLastDownloadOutput"
            [parentObject]="options"
            [required]="true"
            propertyName="downloadOutput"
            title="Download after publish?">
          </app-fhir-boolean>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label>Resource Format</label>
            <select (change)="responseFormatChanged()" [(ngModel)]="options.responseFormat" class="form-control">
              <option value="application/json">JSON</option>
              <option value="application/xml">XML</option>
            </select>
          </div>
        </div>
      </div>
      <div class="alert alert-info">If the Edit IG tab specifies any Publishing Template customizations then further changes can only be made on the Edit IG tab</div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Template Type</label>
            <select class="form-control" [(ngModel)]="options.templateType" [disabled]="igSpecifiesTemplate">
              <option value="not-specified">Not Specified</option>
              <option value="official">Official</option>
              <option value="custom-uri">Custom</option>
            </select>
          </div>
        </div>
        <div class="col-md-4" *ngIf="options.templateType === 'custom-uri'">
          <div class="form-group">
            <label>Template (Archive/ZIP URL)</label>
            <input type="text" class="form-control" [(ngModel)]="options.template" [disabled]="igSpecifiesTemplate"
                   placeholder="ex: http://github.com/HL7/ig-template-fhir/archive/master.zip" [class.is-invalid]="!options.template" />
            <div class="help-block">Note: The URI must be a ZIP file.</div>
          </div>
        </div>
        <div class="col-md-4" *ngIf="options.templateType === 'official' || options.templateType === 'not-specified'">
          <div class="form-group">
            <label>Template</label>
            <select class="form-control" *ngIf="options.templateType === 'not-specified' || options.templateType === 'official'" [(ngModel)]="options.template"
                    [disabled]="igSpecifiesTemplate">
              <option value="hl7.fhir.template">HL7 FHIR Template</option>
              <option value="hl7.cda.template">HL7 CDA Template</option>
              <option value="hl7.base.template">HL7 Base Template</option>
            </select>
          </div>
        </div>
        <div class="col-md-4" *ngIf="options.templateType === 'official'">
          <div class="form-group">
            <label>Version</label>
            <div>
              <select class="form-control" [(ngModel)]="options.templateVersion" [disabled]="igSpecifiesTemplate">
                <option *ngFor="let templateVersion of templateVersions" [ngValue]="templateVersion">{{templateVersion}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="status">
    <ng-template ngbTabTitle>
      <span [attr.data-intro]="Globals.introText['publish.status']">Status</span>
    </ng-template>
    <ng-template ngbTabContent>
      <pre *ngIf="socketOutput" [innerHTML]="socketOutput" routeTransformer #outputEle></pre>
      <input type="checkbox" [(ngModel)]="autoScroll" /> Automatically scroll to bottom when status is updated
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<footer class="footer">
  <button type="button" class="btn btn-primary" (click)="publish()" [disabled]="publishDisabled" [attr.data-intro]="Globals.introText['publish.publish-btn']">Publish</button>
  <button type="button" class="btn btn-primary" (click)="cancel()" [disabled]="!getPackageId() || !inProgress" [attr.data-intro]="Globals.introText['publish.cancel-btn']">Cancel
  </button>
  <span class="message">{{message}}</span>
</footer>
