<div class="mb-3" *ngIf="isFormGroup">
    <label>
        <input type="checkbox" *ngIf="!required" [ngModel]="parentObject && parentObject.hasOwnProperty(propertyName)" (ngModelChange)="Globals.toggleProperty(parentObject, propertyName, defaultValue); change.emit()" />
        {{title || 'Attachment'}}
    </label>
    <div class="input-group">
        <input type="text" class="form-control" readonly [ngModel]="getDisplay()" />
        <div class="input-group-btn" *ngIf="parentObject && parentObject.hasOwnProperty(propertyName)">
            <button type="button" class="btn btn-default" title="Edit attachment" (click)="editAttachment()">
                <i class="fa fa-edit"></i>
            </button>
        </div>
    </div>
</div>
<div class="input-group" *ngIf="!isFormGroup">
    <div class="input-group-addon" *ngIf="title">
        <input type="checkbox" *ngIf="!required" [ngModel]="parentObject && parentObject.hasOwnProperty(propertyName)" (ngModelChange)="Globals.toggleProperty(parentObject, propertyName, defaultValue); change.emit()" />
        {{title}}
    </div>
    <input type="text" class="form-control" readonly [ngModel]="getDisplay()" />
    <div class="input-group-btn" *ngIf="parentObject && parentObject.hasOwnProperty(propertyName)">
        <button type="button" class="btn btn-default" title="Edit attachment" (click)="editAttachment()">
            <i class="fa fa-edit"></i>
        </button>
    </div>
</div>
