<h1>Select an implementation guide project</h1>
<app-tooltip-icon tooltipKey="implementationguide.description" [showAsAlert]="true" alertTitle="Description"></app-tooltip-icon>

<div class="card" [attr.data-intro]="Globals.introText['browse.search']">
  <div class="card-header">Search</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [ngModel]="nameText" (ngModelChange)="nameTextChanged($event)" placeholder="Search name"/>
        </div>
      </div>

      <div class="col-md-6" *ngIf="configService.isFhirR4">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" [ngModel]="titleText" (ngModelChange)="titleTextChanged($event)" placeholder="Search title"/>
        </div>
      </div>

      <div class="col-md-12">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" title="Clear filters" (click)="clearFilters()">
            <i class="fa fa-times"></i> Clear
          </button>
          <button type="button" class="btn btn-primary" title="Refresh" (click)="getImplementationGuides()">
            <i class="fa fa-search"></i> Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<div *ngIf="results && results.total > 0" [attr.data-intro]="Globals.introText['browse.paging']">
  <ngb-pagination
    class="d-flex justify-content-center"
    [maxSize]="5"
    [collectionSize]="results.total"
    [(page)]="page"
    [boundaryLinks]="true"
    (pageChange)="criteriaChangedEvent.next()">
  </ngb-pagination>
</div>

<table class="table table-striped" *ngIf="results">
  <thead>
  <tr>
    <th>
      ID
      <app-tooltip-icon tooltipPath="Resource.id"></app-tooltip-icon>
    </th>
    <th>Name</th>
    <th *ngIf="configService.isFhirR4">Title</th>
    <th>Published?</th>
    <th class="actions-column-1">&nbsp;</th>
  </tr>
  </thead>
  <tbody *ngIf="!configService.showingIntroduction">
  <tr *ngFor="let ig of implementationGuides">
    <td>{{ig.data.resource.id}}</td>
    <td>{{ig.data.resource.name}}</td>
    <td *ngIf="configService.isFhirR4">{{ig.data.resource.title}}</td>
    <td>
      <i *ngIf="ig.published === true" class="fas fa-check" title="Success"></i>
      <i *ngIf="ig.published === false" class="fas fa-times" style="color:red" title="Failed"></i>
      <i *ngIf="ig.published === null" class="fas fa-question" style="color:black" title="Not Published"></i>
    </td>

    <td class="actions-column-1">
      <div class="btn-group pull-right">
        <a class="btn btn-primary" role="button" routerLink="{{configService.baseSessionUrl}}/{{ig.data.resource.id}}/home" title="Select this implementation guide project">
          <i class="fas fa-hand-pointer"></i>
        </a>
      </div>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="configService.showingIntroduction">
  <tr>
    <td>DEMO-ID</td>
    <td>Demo Name</td>
    <td>Demo Title</td>
    <td>
      <div class="btn-group pull-right">
        <a class="btn btn-primary" role="button" href="javascript:void(0)" title="Select this implementation guide project">
          <i class="fas fa-hand-pointer"></i>
        </a>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr *ngIf="results && total === 0">
    <td colspan="3">No implementation guides! Create one by clicking <a routerLink="{{configService.baseSessionUrl}}/implementation-guide/new">here</a>...</td>
  </tr>
  <tr *ngIf="results && total > 0">
    <td colspan="3">
      <ngb-pagination class="d-flex justify-content-center" [maxSize]="5" [collectionSize]="total" [(page)]="page" [boundaryLinks]="true"
                      (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
    </td>
  </tr>
  </tfoot>
</table>
