<h1>Implementation Guide (R4)</h1>

<div class="ig-main" *ngIf="implementationGuide">
    <h2>{{implementationGuide.name || 'no-name'}}</h2>

    <ngb-tabset [destroyOnHide]="false" (tabChange)="tabChange($event)">
        <ngb-tab id="general" title="General">
            <ng-template ngbTabContent>
                <fieldset>
                    <div class="row">
                        <div class="col-md-8">
                            <app-fhir-string [parentObject]="implementationGuide" propertyName="url" title="URL" [required]="true"></app-fhir-string>

                            <app-fhir-string [parentObject]="implementationGuide" propertyName="name" title="Name" [required]="true" (change)="nameChanged()"></app-fhir-string>

                            <app-fhir-multi-contact [parentObject]="implementationGuide" propertyName="contact" title="Contacts"></app-fhir-multi-contact>

                            <div class="card">
                                <div class="card-header">
                                    <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('dependsOn')" (ngModelChange)="globals.toggleProperty(implementationGuide, 'dependsOn', [{ uri: '' }])" />
                                    Dependencies
                                    <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn"></app-tooltip-icon>
                                </div>
                                <table class="table table-striped" *ngIf="implementationGuide.hasOwnProperty('dependsOn')">
                                    <thead>
                                    <tr>
                                        <th>
                                            URI <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.uri"></app-tooltip-icon>
                                        </th>
                                        <th>
                                            Package ID <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.packageId"></app-tooltip-icon>
                                        </th>
                                        <th>
                                            Version <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.version"></app-tooltip-icon>
                                        </th>
                                        <th class="actions-column-1">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default" title="Add a dependency" (click)="implementationGuide.dependsOn.push({ uri: '' })">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let dependsOn of implementationGuide.dependsOn; let di = index">
                                        <td>
                                            <app-fhir-string [parentObject]="dependsOn" propertyName="uri" [isFormGroup]="false" [required]="true"></app-fhir-string>
                                        </td>
                                        <td>
                                            <app-fhir-string [parentObject]="dependsOn" propertyName="packageId" [isFormGroup]="false"></app-fhir-string>
                                        </td>
                                        <td>
                                            <app-fhir-string [parentObject]="dependsOn" propertyName="version" [isFormGroup]="false"></app-fhir-string>
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default" title="Remove this dependency" (click)="implementationGuide.dependsOn.splice(di, 1)">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <app-fhir-string [parentObject]="implementationGuide" propertyName="version" title="Version"></app-fhir-string>

                            <div class="form-group">
                                <label>Status</label>
                                <select class="form-control" [(ngModel)]="implementationGuide.status">
                                    <option [ngValue]="'draft'">Draft</option>
                                    <option [ngValue]="'active'">Active</option>
                                    <option [ngValue]="'retired'">Retired</option>
                                    <option [ngValue]="'unknown'">Unknown</option>
                                </select>
                            </div>

                            <app-fhir-boolean [parentObject]="implementationGuide" propertyName="experimental" title="Experimental"></app-fhir-boolean>
                        </div>
                    </div>
                </fieldset>
            </ng-template>
        </ngb-tab>

        <ngb-tab id="narrative" title="Narrative">
            <ng-template ngbTabContent>
                <app-fhir-markdown [parentObject]="implementationGuide" propertyName="description" title="Description" [isOptional]="true"></app-fhir-markdown>

                <app-fhir-string [parentObject]="implementationGuide" propertyName="publisher" title="Publisher"></app-fhir-string>

                <app-fhir-markdown [parentObject]="implementationGuide" propertyName="copyright" title="Copyright"></app-fhir-markdown>
            </ng-template>
        </ngb-tab>

        <!-- Globals -->
        <ngb-tab id="globals" title="Globals">
            <ng-template ngbTabContent>
                <p>
                    <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('global')"
                           (ngModelChange)="globals.toggleProperty(implementationGuide, 'global', [{type: '', profile: '' }])"/> Allow globals
                </p>

                <table class="table" *ngIf="implementationGuide.hasOwnProperty('global')">
                    <thead>
                    <tr>
                        <th>Type</th>
                        <th>Profile</th>
                        <th class="actions-column-1">
                            <div class="pull-right">
                                <button type="button" class="btn btn-primary" title="Add global"
                                        (click)="implementationGuide.global.push({type: '', profile: '' })">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let g of implementationGuide.global; let i = index" [attr.data-index]="i">
                        <td>
                            <select class="form-control" [(ngModel)]="g.type">
                                <option *ngFor="let o of resourceTypeCodes" [ngValue]="o.code">{{o.display}}</option>
                            </select>
                        </td>
                        <td>
                            <app-fhir-string [parentObject]="g" propertyName="profile" [required]="true" [isFormGroup]="false"></app-fhir-string>
                        </td>
                        <td>
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" title="Remove global"
                                        (click)="implementationGuide.global.splice(i, 1)"><i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>

        <!-- Packages -->
        <ngb-tab id="packages">
            <ng-template ngbTabTitle>Packages</ng-template>
            <ng-template ngbTabContent>
                <input type="checkbox" [ngModel]="implementationGuide.definition && implementationGuide.definition.package" (ngModelChange)="togglePackages($event)"/> Implementation guide has packages

                <table class="table table-striped" *ngIf="implementationGuide.definition && implementationGuide.definition.package">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th class="actions-column-1">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" title="Add a package to the implementation guide" (click)="implementationGuide.definition.package.push({ id: 'new-id', name: 'New Package' })">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let package of implementationGuide.definition.package; let pi = index">
                        <td>
                            <app-fhir-string [parentObject]="package" propertyName="id" [isFormGroup]="false" [required]="true"></app-fhir-string>
                        </td>
                        <td>
                            <app-fhir-string [parentObject]="package" propertyName="name" [isFormGroup]="false" [required]="true"></app-fhir-string>
                        </td>
                        <td>
                            <app-fhir-string [parentObject]="package" propertyName="description" [isFormGroup]="false"></app-fhir-string>
                        </td>
                        <td>
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" title="Remove this package from the implementation guide" (click)="implementationGuide.definition.package.splice(ri, 1)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>

        <!-- Resources -->
        <ngb-tab id="resources">
            <ng-template ngbTabTitle>Resources</ng-template>
            <ng-template ngbTabContent>
                <input type="checkbox" [ngModel]="implementationGuide.definition && implementationGuide.definition.resource" (ngModelChange)="toggleResources($event)"/> Implementation guide has resources

                <table class="table table-striped" *ngIf="implementationGuide.definition && implementationGuide.definition.resource">
                    <thead>
                    <tr>
                        <th>Reference</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Example?</th>
                        <th>Package</th>
                        <th class="actions-column-1">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" title="Add a resource to the implementation guide" (click)="implementationGuide.definition.resource.push({ reference: { reference: '', display: '' } })">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let resource of implementationGuide.definition.resource; let ri = index">
                        <td>
                            <app-fhir-reference [parentObject]="resource" propertyName="reference" [isFormGroup]="false" [required]="true"></app-fhir-reference>
                        </td>
                        <td>
                            <app-fhir-string [parentObject]="resource" propertyName="name" [isFormGroup]="false"></app-fhir-string>
                        </td>
                        <td>
                            <app-fhir-string [parentObject]="resource" propertyName="description" [isFormGroup]="false"></app-fhir-string>
                        </td>
                        <td>
                            <app-fhir-boolean [parentObject]="resource" propertyName="exampleBoolean" [isFormGroup]="false"></app-fhir-boolean>
                        </td>
                        <td>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="checkbox" [ngModel]="resource.hasOwnProperty('package')" (ngModelChange)="globals.toggleProperty(resource, 'package', getDefaultPackageId())" [disabled]="!implementationGuide.definition.package || implementationGuide.definition.package.length === 0" />
                                </div>
                                <select class="form-control" [(ngModel)]="resource.package" [disabled]="!resource.hasOwnProperty('package')">
                                    <option *ngFor="let o of implementationGuide.definition.package" [ngValue]="o.id">{{o.name}} ({{o.id}})</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" title="Remove this resource from the implementation guide" (click)="implementationGuide.definition.resource.splice(ri, 1)">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>

        <!-- Pages -->
        <ngb-tab id="pages" title="Pages">
            <ng-template ngbTabContent>
                <input type="checkbox" [ngModel]="implementationGuide.definition && implementationGuide.definition.page" (ngModelChange)="toggleRootPage($event)"/> Implementation guide has pages

                <table class="table" *ngIf="implementationGuide.definition && implementationGuide.definition.page">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Generation</th>
                        <th class="actions-column-5">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of pages" class="page-prefix-{{p.level}}">
                        <td>
                            <input type="text" class="form-control" [(ngModel)]="p.page.title"
                                   [class.is-invalid]="!p.page.title"/>
                        </td>
                        <td>
                            <app-fhir-select-single-code [parentObject]="p.page" propertyName="generation" [required]="true" valueSetUrl="http://hl7.org/fhir/ValueSet/guide-page-generation" [isFormGroup]="false"></app-fhir-select-single-code>
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default" (click)="editPage(p)" title="Edit this page">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-default" [disabled]="pages.length === 1" (click)="removePage(p)" title="Remove this page and all children">
                                    <i class="fa fa-remove"></i>
                                </button>
                                <button type="button" class="btn btn-default" (click)="addChildPage(p)" title="Add child page">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <button type="button" class="btn btn-default" [disabled]="isMovePageUpDisabled(p)" (click)="movePageUp(p)" title="Move up">
                                    <i class="fa fa-arrow-up"></i>
                                </button>
                                <button type="button" class="btn btn-default" [disabled]="isMovePageDownDisabled(p)" (click)="movePageDown(p)" title="Move up">
                                    <i class="fa fa-arrow-down"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>

        <!-- Validation -->
        <ngb-tab id="validation" title="Validation">
            <ng-template ngbTabContent>
                <app-validation-results [results]="validation"></app-validation-results>
            </ng-template>
        </ngb-tab>

        <!-- JSON -->
        <ngb-tab id="json" title="RAW">
            <ng-template ngbTabContent>
                <app-raw-resource [resource]="implementationGuide"></app-raw-resource>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
</div>

<footer class="footer">
    <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="save()">Save</button>
        <button type="button" class="btn btn-default" (click)="revert()" *ngIf="!isNew">Revert</button>
    </div>
    <span class="message">{{message}}</span>
</footer>