<ul ngbNav #nav="ngbNav" class="nav-tabs nav-fill">
    <li ngbNavItem>
        <a ngbNavLink>
            Plain JSON
            <button type="button" class="btn btn-default btn-sm" (click)="downloadJson($event)" title="Download JSON">
                <i class="fas fa-download"></i>
            </button></a>
        <ng-template ngbNavContent>
            <pre>{{resource | json}}</pre>
        </ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>
            XML
            <button type="button" class="btn btn-default btn-sm" (click)="downloadXml($event)" title="Download XML">
                <i class="fas fa-download"></i>
            </button>
        </a>
        <ng-template ngbNavContent>
            <pre>{{xml}}</pre>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>