<div class="modal-header">
    <h4 class="modal-title">Edit Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="event">
    <div class="form-group">
        <label>Code</label>
        <select class="form-control" [ngModel]="Globals.getSelectCoding(event.code, messageEventCodes, true, true)" (ngModelChange)="event.code = $event">
            <option *ngFor="let c of messageEventCodes" [ngValue]="c">{{c.display || c.code}}</option>
        </select>
    </div>

    <app-fhir-reference [parentObject]="event" propertyName="request" [required]="true" title="Request" resourceType="StructureDefinition"></app-fhir-reference>

    <app-fhir-reference [parentObject]="event" propertyName="response" [required]="true" title="Response" resourceType="StructureDefinition"></app-fhir-reference>

    <app-fhir-select-single-code [parentObject]="event" propertyName="mode" [required]="true" title="Mode" valueSetUrl="http://hl7.org/fhir/ValueSet/event-capability-mode"></app-fhir-select-single-code>

    <app-fhir-select-single-code [parentObject]="event" propertyName="focus" [required]="true" title="Focus" valueSetUrl="http://hl7.org/fhir/ValueSet/resource-types"></app-fhir-select-single-code>

    <app-fhir-select-single-code [parentObject]="event" propertyName="category" title="Category" valueSetUrl="http://hl7.org/fhir/ValueSet/message-significance-category"></app-fhir-select-single-code>

    <app-fhir-string [parentObject]="event" propertyName="documentation" title="Documentation"></app-fhir-string>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>