<div class="modal-header">
  <h4 class="modal-title">Edit mappings</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identity</th>
      <th>Language</th>
      <th>Map</th>
      <th>Comment</th>
      <th>
        <div class="pull-right">
          <button type="button" class="btn btn-default" (click)="mappings.push({ identity: '', map: '' })">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let mapping of mappings; let mi = index">
      <td>
        <select class="form-control" [(ngModel)]="mappings[mi].identity">
          <option *ngFor="let pmi of profileMappingIdentities; let pmii = index; trackBy: Globals.trackByFn">{{profileMappingIdentities[pmii]}}</option>
        </select>
      </td>
      <td>
        <app-fhir-string [parentObject]="mappings[mi]" propertyName="language" [isFormGroup]="false"></app-fhir-string>
      </td>
      <td>
        <app-fhir-string [parentObject]="mappings[mi]" propertyName="map" [required]="true"
                         [isFormGroup]="false"></app-fhir-string>
      </td>
      <td>
        <app-fhir-string [parentObject]="mappings[mi]" propertyName="comment" [isFormGroup]="false"></app-fhir-string>
      </td>
      <td>
        <div class="pull-right">
          <button type="button" class="btn btn-default" (click)="mappings.splice(mi, 1)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close()">OK</button>
</div>
