<div class="card">
    <div class="card-header">
        <input type="checkbox" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, [{ name: '' }])" />
        {{title || 'Contacts'}}
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </div>
    <table class="table table-striped" *ngIf="parentObject.hasOwnProperty(propertyName)">
        <thead>
        <tr>
            <th>
                Name
                <app-tooltip-icon tooltipPath="ContactDetail.name"></app-tooltip-icon>
            </th>
            <th class="actions-column-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" title="Add a {{title || 'contact'}}" (click)="parentObject[propertyName].push({ name: '' })">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of parentObject[propertyName]; let ci = index">
            <td>
                <app-fhir-string [parentObject]="c" propertyName="name" [isFormGroup]="false" [required]="true"></app-fhir-string>
            </td>
            <td>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-sm" title="Remove this {{title || 'contact'}}" (click)="editContact(c)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" title="Remove this {{title || 'contact'}}" (click)="parentObject[propertyName].splice(ci, 1)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>