<div class="form-group" *ngIf="isFormGroup">
    <label>
        <input type="checkbox" *ngIf="!required && !disabled" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, defaultValue)" />
        <span>{{title || propertyName}} </span>
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </label>

    <input type="text" class="form-control"
           [(ngModel)]="parentObject[propertyName]"
           [disabled]="disabled || (!required && !parentObject.hasOwnProperty(propertyName))"
           [class.is-invalid]="required && !parentObject[propertyName]"
           placeholder="{{placeholder}}"
           (change)="onChanged()" />
</div>
<div *ngIf="!isFormGroup" [class.input-group]="!required && !disabled">
    <div class="input-group-addon" *ngIf="!required && !disabled">
        <input type="checkbox" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, defaultValue)" />
    </div>
    <div class="input-group-addon" *ngIf="title">
        <span>{{title}} </span>
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </div>
    <input type="text" class="form-control"
           [(ngModel)]="parentObject[propertyName]"
           [disabled]="disabled || (!required && !parentObject.hasOwnProperty(propertyName))"
           [class.is-invalid]="required && !parentObject[propertyName]"
           placeholder="{{placeholder}}"
           (change)="onChanged()" />
</div>