<!--
<div class="alert alert-warning" *ngIf="message">{{message}}</div>

<button type="button" class="btn btn-primary" *ngIf="!githubService.token" (click)="githubLogin()">Login to GitHub</button>

<div class="row" *ngIf="githubService.token && !configService.showingIntroduction">
    <div class="col-md-12">
        <div class="alert alert-info">When resources are imported from GitHub into Trifolia-on-FHIR, extensions are added to the resource to keep track of where (in GitHub) the resource came from so that you may easily export them back to GitHub.</div>
        <div class="alert alert-warning">If the resource already exists in Trifolia-on-FHIR with the specified ID, it will overwrite the resource in Trifolia-on-FHIR with the resource from GitHub.<br/>You should only select files that represent FHIR resources; the import will fail if you select an XML/JSON file that is not a FHIR resource.</div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
        <div class="mb-3" *ngIf="!loadingRepositories">
            <label>Select a repository</label>
            <select class="form-select" [(ngModel)]="repositoryId" (change)="repositoryChanged()">
                <option *ngFor="let repo of repositories" [ngValue]="repo.id">{{repo.owner.login}}: {{repo.name}}</option>
            </select>
        </div>
        <span *ngIf="loadingRepositories">Loading...</span>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngIf="repositoryId">
        <div class="mb-3">
            <label>Select a branch</label>
            <select class="form-select" [(ngModel)]="branchName" (change)="branchChanged()">
                <option *ngFor="let b of branches">{{b.name}}</option>
            </select>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12" *ngIf="tree">
        <label>Select files</label>
        <tree [tree]="tree" [settings]="{ rootIsVisible: false, showCheckboxes: true }" (nodeChecked)="handleSelected($event)" (nodeUnchecked)="handleUnselected($event)" #treeComponent></tree>
    </div>
</div> -->

<!-- INTRO -->
<!-- <div class="row" *ngIf="configService.showingIntroduction">
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
    <div class="mb-3" [attr.data-intro]="Globals.introText['import.github.repository']">
      <label>Select a repository</label>
      <select class="form-select">
        <option>HL7/my-repository</option>
      </select>
    </div>
  </div>
  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
    <div class="mb-3">
      <label>Select a branch</label>
      <select class="form-select">
        <option>master</option>
      </select>
    </div>
  </div>
  <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12" [attr.data-intro]="Globals.introText['import.github.files']">
    <label>Select files</label>
    <tree [tree]="introTree" [settings]="{ rootIsVisible: false, showCheckboxes: true }"></tree>
  </div>
</div> -->
