<div class="form-group">
  <label>
    Publishing Template
    <app-tooltip-icon tooltipKey="ig.publishing.template"></app-tooltip-icon>
  </label>
  <div class="input-group">
    <select class="form-control" [ngModel]="templateType" (ngModelChange)="setTemplateType($event)" [disabled]="readOnly">
      <option value="not-specified">Not Specified</option>
      <option value="official">Official</option>
      <option value="custom-uri">Custom</option>
    </select>
    <select class="form-control" *ngIf="templateType === 'not-specified' || templateType === 'official'"
            [disabled]="templateType === 'not-specified' || readOnly" [(ngModel)]="officialTemplate" (change)="officialTemplateChanged()">
      <option value="hl7.fhir.template">FHIR</option>
      <option value="hl7.cda.template">CDA</option>
      <option value="hl7.base.template">Base</option>
    </select>
    <select class="form-control" *ngIf="templateType === 'not-specified' || templateType === 'official'" [(ngModel)]="officialVersion"
            (change)="officialTemplateChanged(false)" [disabled]="readOnly">
      <option *ngFor="let version of officialVersions" [value]="version">{{version}}</option>
    </select>
    <input type="text" class="form-control" *ngIf="templateType === 'custom-uri'" [(ngModel)]="customUri" (change)="valueUriChanged()"
           placeholder="ex: https://github.com/HL7/ig-template-fhir/archive/master.zip" [class.is-invalid]="!valueUriValid" [disabled]="readOnly" />
    <div class="input-group-append" *ngIf="templateType === 'custom-uri'">
      <div class="input-group-text">
        <app-tooltip-icon tooltipKey="ig.publishing.template.custom"></app-tooltip-icon>
      </div>
    </div>
  </div>
  <p class="help-block" *ngIf="!valueUriValid">The custom template specified must be a valid URL.</p>
</div>
