/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts7, span.rvts7 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts8
{
}
span.rvts9
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts10
{
 font-weight: bold;
 color: #000080;
}
span.rvts11
{
 font-style: italic;
 color: #800000;
}
a.rvts12, span.rvts12
{
 color: #008000;
 text-decoration: underline;
}
a.rvts13, span.rvts13
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts14
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts15
{
 color: #000000;
}
span.rvts16
{
 text-decoration: underline;
}
span.rvts17
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts18
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #000000;
}
span.rvts19
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
}
a.rvts20, span.rvts20
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
 text-decoration: underline;
}
span.rvts21
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts22
{
 font-style: italic;
}
span.rvts23
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts24
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts25
{
}
span.rvts26
{
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts27, span.rvts27
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts28
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts29
{
 color: #0c5460;
 background-color: #d1ecf1;
}
span.rvts30
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts31
{
}
span.rvts32
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts33
{
 font-weight: bold;
}
span.rvts34
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts35
{
 font-weight: bold;
 color: #c00000;
}
span.rvts36
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts37
{
 font-weight: bold;
}
a.rvts38, span.rvts38
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts39
{
 font-style: italic;
}
a.rvts40, span.rvts40
{
 color: #0000ff;
 text-decoration: none;
}
span.rvts41
{
 font-style: italic;
 font-weight: bold;
}
span.rvts42
{
 font-style: italic;
}
span.rvts43
{
 font-style: italic;
 font-weight: bold;
}
span.rvts44
{
 font-weight: bold;
 color: #000000;
}
span.rvts45
{
 color: #000000;
}
span.rvts46
{
 font-size: 13pt;
 font-style: italic;
 font-weight: bold;
}
a.rvts47, span.rvts47
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps3
{
}
.rvps4
{
 text-align: center;
}
.rvps5
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps6
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps7
{
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps9
{
 background: #ffffff;
}
.rvps10
{
 margin: 0px 0px 0px 12px;
}
.rvps11
{
 margin: 0px 0px 0px 36px;
}
.rvps12
{
 margin: 0px 0px 0px 48px;
}
.rvps13
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 48px;
}
.rvps14
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 48px;
}
.rvps15
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 96px;
}
.rvps16
{
 margin: 0px 0px 0px 96px;
}
.rvps17
{
 margin: 0px 0px 0px 144px;
}
.rvps18
{
 margin: 0px 0px 0px 48px;
}
.rvps19
{
}
.rvps20
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 72px;
}
.rvps21
{
 margin: 0px 0px 0px 24px;
}
.rvps22
{
 margin: 0px 0px 0px 72px;
}
.rvps23
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 padding: 4px 4px 4px 4px;
 margin: 3px 19px 3px 19px;
}
.rvps24
{
 line-height: 1.07;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 19px 0px;
}
.rvps25
{
 margin: 0px 0px 0px 1px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 12px; list-style-position: outside; list-style-type: disc;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: circle;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: square;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 12px; list-style-position: outside; list-style-type: decimal;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: decimal;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: lower-alpha;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: lower-roman;}
