/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #008000;
 text-decoration: underline;
}
a.rvts11, span.rvts11
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts12
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts13 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts14, span.rvts14 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts15
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts16
{
 background-color: #ffffff;
}
a.rvts17, span.rvts17
{
 color: #0000ff;
 background-color: #ffffff;
 text-decoration: underline;
}
span.rvts18
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts19
{
 text-decoration: underline;
}
a.rvts20, span.rvts20
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts21
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts22
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts23
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts24
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts25
{
 font-weight: bold;
}
span.rvts26
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts27
{
 font-size: 13pt;
 font-weight: bold;
}
span.rvts28
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts29
{
 font-weight: bold;
}
span.rvts30
{
}
span.rvts31
{
 font-style: italic;
 font-weight: bold;
}
span.rvts32
{
 font-style: italic;
}
span.rvts33
{
 background-color: #ffff00;
}
span.rvts34
{
 font-style: italic;
}
span.rvts35
{
 font-style: italic;
 font-weight: bold;
}
span.rvts36
{
 color: #000000;
}
span.rvts37
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts38
{
 font-weight: bold;
 color: #000000;
}
span.rvts39
{
 font-size: 11pt;
 font-family: 'calibri';
}
span.rvts40
{
 color: #000000;
 background-color: #f8f8f8;
}
span.rvts41
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts42
{
 font-family: 'Courier New', 'Courier', monospace;
}
a.rvts43, span.rvts43
{
 font-family: 'Courier New', 'Courier', monospace;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts44
{
}
span.rvts45
{
 color: #000000;
 background-color: #ffffff;
}
a.rvts46, span.rvts46
{
 color: #0563c1;
 text-decoration: underline;
}
span.rvts47
{
 color: #333333;
}
span.rvts48
{
 color: #005c00;
 background-color: #f9f2f4;
}
a.rvts49, span.rvts49
{
 color: #333333;
 text-decoration: underline;
}
span.rvts50
{
 font-size: 7pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #333333;
 background-color: #ffffff;
}
a.rvts51, span.rvts51
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
 background-color: #f8f8f8;
 text-decoration: underline;
}
span.rvts52
{
 font-style: italic;
 color: #000000;
}
span.rvts53
{
 color: #333333;
 text-decoration: underline;
}
a.rvts54, span.rvts54
{
 color: #000000;
 text-decoration: none;
}
span.rvts55
{
 color: #000000;
 background-color: #f9f2f4;
}
a.rvts56, span.rvts56
{
 color: #000000;
 background-color: #f8f8f8;
 text-decoration: underline;
}
span.rvts57
{
 color: #333333;
 background-color: #ffffff;
}
span.rvts58
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts59
{
 font-size: 12pt;
 font-family: 'Garamond';
}
span.rvts60
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts61
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts62
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts63
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts64
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
a.rvts65, span.rvts65
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts66
{
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts67
{
 font-size: 12pt;
}
a.rvts68, span.rvts68
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts69, span.rvts69
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts70
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts71
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts72
{
 font-family: 'Courier New', 'Courier', monospace;
}
span.rvts73
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts74
{
 font-weight: bold;
 color: #c00000;
}
span.rvts75
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
}
a.rvts76, span.rvts76
{
 color: #0000ff;
 text-decoration: underline;
}
span.rvts77
{
 font-style: italic;
}
a.rvts78, span.rvts78
{
 color: #0000ff;
 text-decoration: none;
}
span.rvts79
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts80
{
 font-size: 14pt;
 font-family: 'Garamond';
 font-weight: bold;
}
span.rvts81
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts82
{
 font-size: 11pt;
 font-family: 'Calibri';
}
span.rvts83
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-style: italic;
 font-weight: bold;
}
a.rvts84, span.rvts84
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #0000ff;
 text-decoration: underline;
}
span.rvts85
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
}
a.rvts86, span.rvts86
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
 text-decoration: underline;
}
span.rvts87
{
 font-size: 12pt;
}
span.rvts88
{
 font-size: 18pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
 font-weight: bold;
}
span.rvts89
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts90
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
}
span.rvts91
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts92
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts93
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts94
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts95
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #000000;
}
span.rvts96
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts97
{
 font-size: 12pt;
 color: #000000;
}
a.rvts98, span.rvts98
{
 font-size: 12pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts99
{
 font-size: 12pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts100
{
 font-size: 11pt;
 font-family: 'Calibri';
 color: #000000;
}
span.rvts101
{
 font-weight: bold;
 color: #000000;
}
span.rvts102
{
 color: #000000;
}
span.rvts103
{
 font-size: 13pt;
 font-style: italic;
 font-weight: bold;
}
a.rvts104, span.rvts104
{
 font-size: 11pt;
 font-family: 'Calibri';
 font-weight: bold;
 color: #0000ff;
 text-decoration: underline;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps7
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps8
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps9
{
 margin: 0px 0px 0px 24px;
}
.rvps10
{
}
.rvps11
{
 border-color: #000000;
 border-style: solid;
 border-width: 1px;
 padding: 4px 4px 4px 4px;
 margin: 3px 19px 3px 19px;
}
.rvps12
{
 background: #ffffff;
}
.rvps13
{
 background: #ffffff;
 margin: 0px 0px 0px 24px;
}
.rvps14
{
 margin: 0px 0px 14px 0px;
}
.rvps15
{
 margin: 0px 0px 5px 0px;
}
.rvps16
{
 margin: 0px 0px 6px 0px;
}
.rvps17
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 48px;
}
.rvps18
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 96px;
}
.rvps19
{
 margin: 0px 0px 0px 96px;
}
.rvps20
{
 margin: 0px 0px 0px 144px;
}
.rvps21
{
 margin: 0px 0px 0px 48px;
}
.rvps22
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 72px;
}
.rvps23
{
 margin: 0px 0px 0px 72px;
}
.rvps24
{
 widows: 2;
 orphans: 2;
 margin: 0px 0px 8px 0px;
}
.rvps25
{
 widows: 2;
 orphans: 2;
 margin: 0px 0px 8px 24px;
}
.rvps26
{
 widows: 2;
 orphans: 2;
 margin: 0px 0px 8px 48px;
}
.rvps27
{
 margin: 0px 0px 0px 48px;
}
.rvps28
{
 widows: 2;
 orphans: 2;
}
.rvps29
{
 margin: 0px 0px 0px 24px;
}
.rvps30
{
 margin: 0px 0px 0px 1px;
}
.rvps31
{
 line-height: 1.50;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 8px 0px;
}
.rvps32
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps33
{
 margin: 7px 0px 7px 0px;
}
.rvps34
{
 margin: 7px 0px 7px 0px;
}
.rvps35
{
 text-align: left;
 text-indent: 0px;
 page-break-after: avoid;
 widows: 2;
 orphans: 2;
 padding: 0px 0px 0px 0px;
 margin: 16px 0px 4px 0px;
}
.rvps36
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 15px 0px 15px 0px;
}
.rvps37
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 0px;
}
.rvps38
{
 widows: 2;
 orphans: 2;
 margin: 7px 0px 7px 24px;
}
.rvps39
{
}
.rvps40
{
 line-height: 1.07;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 19px 0px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 27px; list-style-position: outside; list-style-type: disc;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 27px; list-style-position: outside; list-style-type: circle;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 27px; list-style-position: outside; list-style-type: square;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: decimal;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: decimal;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 0px; list-style-position: inside; list-style-type: decimal;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 20px; list-style-position: outside; list-style-type: disc;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 20px; list-style-position: outside; list-style-type: circle;}
.list12 {text-indent: 0px; padding: 0; margin: 0 0 0 20px; list-style-position: outside; list-style-type: square;}
.list13 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-alpha;}
.list14 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: lower-roman;}
.list15 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: disc;}
.list16 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: decimal;}
.list17 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: lower-alpha;}
.list18 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: lower-roman;}
.list19 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: disc;}
.list20 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: circle;}
.list21 {text-indent: 0px; padding: 0; margin: 0 0 0 40px; list-style-position: outside; list-style-type: square;}
