<h2>Examples</h2>

<div class="card">
  <div class="card-header">Search</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter search text..." [(ngModel)]="searchText" />
          <button type="button" class="btn btn-primary" title="Clear the current search text" (click)="searchText = ''">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<ul ngbNav #nav="ngbNav" class="nav-tabs mt-2">

  <!-- FHIR examples -->
  <li ngbNavItem>
    <a ngbNavLink>FHIR Examples <span class="badge bg-primary">{{filteredFhirExamples?.length || 0}}</span></a>
    <ng-template ngbNavContent>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Resource Type</th>
            <th>ID</th>
            <th>Name</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody *ngIf="examplesFhir">
          <tr *ngFor="let example of filteredFhirExamples">
            <td>{{example.resource.resourceType || 'Unknown'}}</td>
            <td>{{example.resource.id || example.name || example.id}}</td>
            <td>{{example.resource.name || example.name }}</td>
            <td>
              <a class="btn btn-primary"
                routerLink="{{configService.baseSessionUrl}}/other-resources/fhir-example/{{example.id}}"
                [class.disabled]="!example.id">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
          <tr *ngIf="!filteredFhirExamples || filteredFhirExamples.length < 1">
            <td colspan="4">No FHIR examples associated with this implementation guide
              {{ searchText && searchText.length > 0 && examplesFhir && examplesFhir.length > 0 ? ' match the search text' : ''}}
            </td>
          </tr>
        </tbody>
      </table>

    </ng-template>
  </li>


  <!-- Other (non-FHIR) examples -->
  <li ngbNavItem>
    <a ngbNavLink>Other Examples <span class="badge bg-primary">{{filteredOtherExamples?.length || 0}}</span></a>
    <ng-template ngbNavContent>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Resource Type</th>
            <th>ID</th>
            <th>Name</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody *ngIf="examplesOther">
          <tr *ngFor="let example of filteredOtherExamples">
            <td>{{example.content.resourceType || 'Unknown'}}</td>
            <td>{{example.content.id || example.name || example.id}}</td>
            <td>{{example.content.name || example.name }}</td>
            <td>
              <a class="btn btn-primary"
                routerLink="{{configService.baseSessionUrl}}/other-resources/nonfhir/{{example.id}}"
                [class.disabled]="!example.id">
                <i class="fa fa-edit"></i>
              </a>
            </td>
          </tr>
          <tr *ngIf="!filteredOtherExamples || filteredOtherExamples.length < 1">
            <td colspan="4">No non-FHIR examples associated with this implementation guide
              {{ searchText && searchText.length > 0 && examplesOther && examplesOther.length > 0 ? ' match the search text' : ''}}
            </td>
          </tr>
        </tbody>
      </table>

    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
