<div class="modal-header">
    <h4 class="modal-title">Edit Questionnaire Item</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <app-fhir-string [parentObject]="item" propertyName="linkId" title="Link ID"></app-fhir-string>

    <app-fhir-string [parentObject]="item" propertyName="definition" title="Definition"></app-fhir-string>

    <app-fhir-select-single-code [parentObject]="item" propertyName="code" title="Code" valueSetUrl="http://hl7.org/fhir/ValueSet/questionnaire-questions"></app-fhir-select-single-code>

    <app-fhir-string [parentObject]="item" propertyName="prefix" title="Prefix"></app-fhir-string>

    <app-fhir-string [parentObject]="item" propertyName="text" title="Text"></app-fhir-string>

    <app-fhir-select-single-code [parentObject]="item" propertyName="type" title="Type" valueSetUrl="	http://hl7.org/fhir/ValueSet/item-type"></app-fhir-select-single-code>

    <div class="card">
        <div class="card-header">
            <input type="checkbox" />
            Enable when
        </div>
        <table class="table table-striped" *ngIf="item.enableWhen">
            <thead>
            <tr>
                <th>Question</th>
                <th>Has answer</th>
                <th>Answer</th>
                <th class="actions-column-1">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" title="Add an 'enable when' condition">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ew of item.enableWhen; let ewi = index">
                <td></td>
                <td></td>
                <td></td>
                <td class="actions-column-1">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss()">Close</button>
</div>