<div class="modal-header">
    <h4 class="modal-title">New user</h4>
</div>
<div class="modal-body">
    <p>Create a user (Person resource) on the selected FHIR server to continue...</p>

    <p><strong>{{message}}</strong></p>

    <app-fhir-edit-human-name [parentObject]="person.name" [propertyName]="0" title="Name" [required]="true"></app-fhir-edit-human-name>

    <div class="card">
        <div class="card-header">
            <input type="checkbox" [ngModel]="person.hasOwnProperty('telecom')" (ngModelChange)="globals.toggleProperty(person, 'telecom', [{}])"/>
            Telecom(s)
        </div>
        <table class="table table-striped" *ngIf="person.hasOwnProperty('telecom')">
            <thead>
            <tr>
                <th>System</th>
                <th>Value</th>
                <th>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" title="Add a telecom" (click)="person.telecom.push({})">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let t of person.telecom; let ti = index">
                <td>
                    <app-fhir-select-single-code [parentObject]="t" propertyName="system" valueSetUrl="http://hl7.org/fhir/ValueSet/person-point-system" [isFormGroup]="false"></app-fhir-select-single-code>
                </td>
                <td>
                    <app-fhir-string [parentObject]="t" propertyName="value" [isFormGroup]="false"></app-fhir-string>
                </td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" title="Remove this telecom"
                                (click)="person.telecom.splice(ti, 1)">
                            <i class="fa fa-remove"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="ok()">OK</button>
</div>