<div class="form-group" *ngIf="isFormGroup && parentObject">
    <label *ngIf="label">
        <span>{{title || propertyName}} </span>
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </label>

    <input type="text" class="form-control"
           #formGroupModel="ngModel"
           placeholder="{{placeholder}}"
           [disabled]="disabled"
           [pattern]="pattern"
           [ngModel]="value"
           (ngModelChange)="changeValue($event)"
           [class.is-invalid]="!isValid" />

    <span class="help-block" *ngIf="value && patternMessage && formGroupModel.errors?.pattern">{{patternMessage}}</span>
</div>
<div [class.input-group]="title" *ngIf="!isFormGroup && parentObject">
    <div class="input-group-addon" *ngIf="title">
        <span>{{title}} </span>
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </div>
    <input type="text" class="form-control"
           #model="ngModel"
           placeholder="{{placeholder}}"
           [disabled]="disabled"
           [pattern]="pattern"
           [ngModel]="value"
           (ngModelChange)="changeValue($event)"
           [class.is-invalid]="!isValid" />

    <span class="help-block" *ngIf="value && patternMessage && model.errors?.pattern">{{patternMessage}}</span>
</div>
