<div class="form-group" *ngIf="isFormGroup">
    <label>
        {{title}}
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </label>
    <select class="form-control" [(ngModel)]="value">
        <option *ngIf="!required" [ngValue]="undefined">Unspecified</option>
        <option [ngValue]="false">No</option>
        <option [ngValue]="true">Yes</option>
    </select>
</div>
<div *ngIf="!isFormGroup" [class.input-group]="title">
    <div class="input-group-addon" *ngIf="title">
        {{title}}
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </div>
    <select class="form-control" [(ngModel)]="value">
        <option *ngIf="!required" [ngValue]="undefined">Unspecified</option>
        <option [ngValue]="false">No</option>
        <option [ngValue]="true">Yes</option>
    </select>
</div>