<h1>Implementation Guide (R4)</h1>

<div class="alert alert-danger" *ngIf="igNotFound">Implementation Guide with id <strong>{{route.snapshot.paramMap.get('id')}}</strong> was not found on the selected FHIR server!</div>

<div class="ig-main" *ngIf="implementationGuide">
  <h2>{{implementationGuide.name || 'no-name'}} <span class="badge badge-warning" *ngIf="!canEdit(implementationGuide)">View-only</span></h2>

  <ngb-tabset [destroyOnHide]="false" #igTabs="ngbTabset">
    <ngb-tab id="quick">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.quick-tab']">Quick</span>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="alert alert-info">These fields are the key fields used to develop and publish an implementation guide package. Use the other tabs to access more details.</div>

        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label>ID</label>
              <div [class.input-group]="!isNew">
                <input type="text" class="form-control" [disabled]="!isNew" [(ngModel)]="implementationGuide.id" placeholder="AUTO" />
                <div class="input-group-btn" *ngIf="!isNew">
                  <button type="button" class="btn btn-primary" (click)="changeId()">Change</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="url" title="URL" [required]="true" tooltipPath="ImplementationGuide.url"></app-fhir-string>
          </div>

          <div class="col-md-6">
            <app-fhir-string
              [parentObject]="implementationGuide"
              [required]="true"
              (change)="nameChanged()"
              [pattern]="Globals.regexPatterns.namePattern"
              [patternMessage]="Globals.tooltips['name.validation.failed']"
              propertyName="name"
              title="Name"
              tooltipPath="ImplementationGuide.name">
            </app-fhir-string>
          </div>

          <div class="col-md-6">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="title" title="Title" tooltipPath="ImplementationGuide.title"></app-fhir-string>
          </div>

          <div class="col-md-6">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="publisher" title="Publisher" tooltipPath="ImplementationGuide.publisher"></app-fhir-string>
          </div>

          <div class="col-md-6">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="version" title="Version" tooltipPath="ImplementationGuide.version"></app-fhir-string>
          </div>

          <div class="col-md-6">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="packageId" title="Package ID" tooltipPath="ImplementationGuide.packageId" [required]="true"></app-fhir-string>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label>
                <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('fhirVersion')" (ngModelChange)="Globals.toggleProperty(implementationGuide, 'fhirVersion', [])"/>
                FHIR Version
              </label>
              <div class="input-group" *ngFor="let fhirVersion of implementationGuide.fhirVersion; let fvi = index; trackBy: Globals.trackByFn">
                <input type="text" class="form-control" [ngModel]="fhirVersion" readonly="readonly"/>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary" title="Remove this FHIR version" (click)="implementationGuide.fhirVersion.splice(fvi, 1)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
              <div class="input-group" *ngIf="implementationGuide.hasOwnProperty('fhirVersion')">
                <input type="text" class="form-control" [(ngModel)]="newFhirVersion" />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="newFhirVersion = '4.0.1'">4.0.1</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="newFhirVersion = '4.0.0'">4.0.0</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="newFhirVersion = '3.0.2'">3.0.2</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="newFhirVersion = '3.0.1'">3.0.1</a>
                  </div>
                </div>
                <div class="input-group-append">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" [disabled]="!newFhirVersion" (click)="addNewFhirVersion()" title="Add this FHIR version">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12">
            <app-fhir-markdown
              [parentObject]="implementationGuide"
              [isOptional]="true"
              [mediaReferences]="mediaReferences"
              propertyName="description"
              title="Description"
              tooltipPath="ImplementationGuide.description">
            </app-fhir-markdown>
          </div>

          <div class="col-md-12">
            <ng-container *ngTemplateOutlet="dependsOn"></ng-container>
          </div>

          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <input type="checkbox" [ngModel]="implementationGuide.definition && implementationGuide.definition.resource" (ngModelChange)="toggleResources($event)"/>
                Resources
                <app-tooltip-icon tooltipPath="ImplementationGuide.definition.resource"></app-tooltip-icon>
              </div>
              <table class="table table-striped" *ngIf="implementationGuide.definition && implementationGuide.definition.resource">
                <thead>
                <tr>
                  <td colspan="4">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="btn-group-toggle" data-toggle="buttons">
                          <label class="btn" [class.btn-primary]="!isFilterResourceTypeAll" [class.btn-info]="isFilterResourceTypeAll" (click)="toggleFilterResourceType('all')">
                            All
                          </label>
                          <label class="btn" [class.btn-primary]="!filterResourceType.profile" [class.btn-info]="filterResourceType.profile" (click)="toggleFilterResourceType('profile')">
                            Profiles
                          </label>
                          <label class="btn" [class.btn-primary]="!filterResourceType.terminology" [class.btn-info]="filterResourceType.terminology" (click)="toggleFilterResourceType('terminology')">
                            Terminology
                          </label>
                          <label class="btn" [class.btn-primary]="!filterResourceType.example" [class.btn-info]="filterResourceType.example" (click)="toggleFilterResourceType('example')">
                            Examples
                          </label>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Search resources" [(ngModel)]="filterResourceQuery"/>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Reference</th>
                  <th>Name</th>
                  <th>Example?</th>
                  <th class="actions-column-1">
                    <div class="pull-right">
                      <button type="button" class="btn btn-primary" (click)="addResources()" title="Add existing resources to this implementation guide">
                        <i class="fas fa-hand-pointer"></i>
                      </button>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let resource of resources; let ri = index">
                  <td>
                    <app-fhir-reference
                      [parentObject]="resource"
                      propertyName="reference"
                      [hideDisplay]="true"
                      [isFormGroup]="false"
                      [required]="true"
                      [prependIconClass]="isDuplicateResource(resource) ? 'fa fa-copy text-error' : ''"
                      prependIconTooltip="This is a duplicate">
                    </app-fhir-reference>
                  </td>
                  <td>
                    <app-fhir-string [parentObject]="resource" propertyName="name" [isFormGroup]="false"></app-fhir-string>
                  </td>
                  <td>
                    <app-fhir-boolean [parentObject]="resource" propertyName="exampleBoolean" [isFormGroup]="false" *ngIf="!resource.hasOwnProperty('exampleCanonical')"></app-fhir-boolean>
                    <span *ngIf="resource.exampleCanonical" title="This resource is an example of a profile">{{resource.exampleCanonical.length > 30 ? '...' : ''}}{{resource.exampleCanonical.substr(-30)}}</span>
                  </td>
                  <td>
                    <div class="btn-group pull-right">
                      <button type="button" class="btn btn-primary" title="Edit additional fields for this resource" (click)="editResource(resource)">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-primary" (click)="removeResource(resource)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="general">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.general-tab']">General</span>
      </ng-template>
      <ng-template ngbTabContent>
        <fieldset>
          <div class="row">
            <div class="col-md-8">
              <app-fhir-string [parentObject]="implementationGuide" propertyName="url" title="URL" [required]="true" tooltipPath="ImplementationGuide.url"></app-fhir-string>

              <app-fhir-string
                [parentObject]="implementationGuide"
                [required]="true"
                (change)="nameChanged()"
                pattern="^[A-Z][A-Za-z0-9_]+$"
                patternMessage="Name should be usable as an identifier for the module by machine processing applications such as code generation. The name must start with a capital letter."
                propertyName="name"
                title="Name"
                tooltipPath="ImplementationGuide.name">
              </app-fhir-string>

              <app-fhir-string [parentObject]="implementationGuide" propertyName="title" title="Title" tooltipPath="ImplementationGuide.title"></app-fhir-string>

              <app-fhir-multi-contact [parentObject]="implementationGuide" propertyName="contact" title="Contacts" tooltipPath="ImplementationGuide.contact"></app-fhir-multi-contact>

              <ng-container *ngTemplateOutlet="dependsOn"></ng-container>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>ID
                  <app-tooltip-icon *ngIf="!isNew" tooltipKey="resource.move"></app-tooltip-icon>
                </label>
                <input type="text" class="form-control" [disabled]="!isNew" [(ngModel)]="implementationGuide.id" placeholder="AUTO"/>
              </div>

              <app-fhir-string [parentObject]="implementationGuide" propertyName="version" title="Version"></app-fhir-string>

              <div class="form-group">
                <label>
                  <span>Status </span>
                  <app-tooltip-icon tooltipPath="ImplementationGuide.status"></app-tooltip-icon>
                </label>
                <select class="form-control" [(ngModel)]="implementationGuide.status">
                  <option [ngValue]="'draft'">Draft</option>
                  <option [ngValue]="'active'">Active</option>
                  <option [ngValue]="'retired'">Retired</option>
                  <option [ngValue]="'unknown'">Unknown</option>
                </select>
              </div>

              <app-fhir-boolean [parentObject]="implementationGuide" propertyName="experimental" title="Experimental" tooltipPath="ImplementationGuide.experimental"></app-fhir-boolean>

              <app-fhir-string [parentObject]="implementationGuide" propertyName="packageId" title="Package ID" tooltipPath="ImplementationGuide.packageId" [required]="true"></app-fhir-string>
            </div>
          </div>
        </fieldset>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="narrative">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.narrative-tab']">Narrative/Pages</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-fhir-narrative [resource]="implementationGuide"></app-fhir-narrative>

        <app-fhir-markdown
          [parentObject]="implementationGuide"
          propertyName="description" title="Description"
          [isOptional]="true"
          tooltipPath="ImplementationGuide.description">
        </app-fhir-markdown>

        <div class="card">
          <div class="card-header">Pages</div>
          <table class="table">
            <thead>
            <tr>
              <th>
                Title
                <app-tooltip-icon tooltipPath="ImplementationGuide.definition.page.title"></app-tooltip-icon>
              </th>
              <th>
                Generation
                <app-tooltip-icon tooltipPath="ImplementationGuide.definition.page.generation"></app-tooltip-icon>
              </th>
              <th class="actions-column-5">&nbsp;</th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.definition && implementationGuide.definition.page">
            <tr *ngFor="let p of pages" class="page-prefix-{{p.level}}">
              <td>
                <input type="text" class="form-control" [(ngModel)]="p.page.title"
                       [class.is-invalid]="!p.page.title"/>
              </td>
              <td>
                <app-fhir-select-single-code
                  [parentObject]="p.page"
                  propertyName="generation"
                  [required]="true"
                  valueSetUrl="http://hl7.org/fhir/ValueSet/guide-page-generation"
                  [isFormGroup]="false">
                </app-fhir-select-single-code>
              </td>
              <td>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary" (click)="editPage(p)" title="Edit this page">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-primary" (click)="removePage(p)" title="Remove this page">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                  <button type="button" class="btn btn-primary dropdown-toggle" title="Add a page as a child of this page" id="addPageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-plus"></i>
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="addChildPage(p)">New Generic Page</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="addChildPage(p, 'downloads')">New "Downloads" Page</a>
                  </div>
                  <button type="button" class="btn btn-primary" [disabled]="isMovePageUpDisabled(p)" (click)="movePageUp(p)" title="Move sibling page up (requires multiple pages on the same level)">
                    <i class="fa fa-arrow-up"></i>
                  </button>
                  <button type="button" class="btn btn-primary" [disabled]="isMovePageDownDisabled(p)" (click)="movePageDown(p)" title="Move sibling page down (requires multiple pages on the same level)">
                    <i class="fa fa-arrow-down"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.definition || !implementationGuide.definition.page">
            <tr>
              <th colspan="2">
                <p>No pages have been defined for this implementation guide.</p>
                <button type="button" class="btn btn-primary" (click)="toggleRootPage(true)">
                  Add a narrative page
                </button>
              </th>
            </tr>
            </tfoot>
          </table>
        </div>

        <app-fhir-markdown [parentObject]="implementationGuide" propertyName="copyright" title="Copyright" tooltipPath="ImplementationGuide.copyright"></app-fhir-markdown>
      </ng-template>
    </ngb-tab>

    <!-- Resources -->
    <ngb-tab id="resources">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.resources-tab']">Resources</span>
      </ng-template>
      <ng-template ngbTabContent>
        <input type="checkbox" [ngModel]="implementationGuide.definition && implementationGuide.definition.resource" (ngModelChange)="toggleResources($event)"/> Implementation guide has resources

        <table class="table table-striped" *ngIf="implementationGuide.definition && implementationGuide.definition.resource">
          <thead>
          <tr>
            <th>
              Reference
              <app-tooltip-icon tooltipPath="ImplementationGuide.definition.resource.reference"></app-tooltip-icon>
            </th>
            <th>
              Name
              <app-tooltip-icon tooltipPath="ImplementationGuide.definition.resource.name"></app-tooltip-icon>
            </th>
            <th>
              Example?
              <app-tooltip-icon tooltipPath="ImplementationGuide.definition.resource.example[x]"></app-tooltip-icon>
            </th>
            <th class="actions-column-1">
              <div class="pull-right">
                <button type="button" class="btn btn-primary" title="Add existing resources to this implementation guide" (click)="addResources()">
                  <i class="fas fa-hand-pointer"></i>
                </button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let resource of implementationGuide.definition.resource; let ri = index">
            <td>
              <app-fhir-reference
                [parentObject]="resource"
                propertyName="reference"
                [hideDisplay]="true"
                [isFormGroup]="false"
                [required]="true"
                [prependIconClass]="isDuplicateResource(resource) ? 'fa fa-copy text-error' : ''"
                prependIconTooltip="This is a duplicate">
              </app-fhir-reference>
            </td>
            <td>
              <app-fhir-string [parentObject]="resource" propertyName="name" [isFormGroup]="false"></app-fhir-string>
            </td>
            <td>
              <app-fhir-boolean [parentObject]="resource" propertyName="exampleBoolean" [isFormGroup]="false" *ngIf="!resource.hasOwnProperty('exampleCanonical')"></app-fhir-boolean>
              <span *ngIf="resource.exampleCanonical" title="This resource is an example of a profile">{{resource.exampleCanonical.length > 30 ? '...' : ''}}{{resource.exampleCanonical.substr(-30)}}</span>
            </td>
            <td>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" title="Edit additional fields for this resource" (click)="editResource(resource)">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-primary" title="Remove this resource from the implementation guide" (click)="implementationGuide.definition.resource.splice(ri, 1)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <!-- Resource Groups -->
        <div class="card">
          <div class="card-header">
            Groups
            <app-tooltip-icon tooltipKey="ig.groups"></app-tooltip-icon>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                ID
                <app-tooltip-icon tooltipPath="ImplementationGuide.definition.grouping.id"></app-tooltip-icon>
              </th>
              <th>
                Name
                <app-tooltip-icon tooltipPath="ImplementationGuide.definition.grouping.name"></app-tooltip-icon>
              </th>
              <th class="actions-column-2">
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" (click)="addGrouping()" title="Add a new group">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.definition && implementationGuide.definition.grouping && implementationGuide.definition.grouping.length > 0">
            <tr *ngFor="let group of implementationGuide.definition.grouping">
              <td>
                {{group.id || ''}}
                <span *ngIf="!group.id" style="color: red;">A group ID is required to associate resources to this group. Edit the group and create assign an ID to it.</span>
              </td>
              <td>
                <app-fhir-string [parentObject]="group" propertyName="name" [isFormGroup]="false"></app-fhir-string>
              </td>
              <td>
                <div class="pull-right btn-group">
                  <button type="button" class="btn btn-primary" (click)="editGroup(group)" title="Edit this group">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-primary" title="Remove this grouping" (click)="removeGroup(group)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.definition || !implementationGuide.definition.grouping || implementationGuide.definition.grouping.length === 0">
            <tr>
              <th colspan="3">
                <p>No groups have been defined for this implementation guide.</p>
                <button type="button" class="btn btn-primary" (click)="addGrouping()">
                  Add a group
                </button>
              </th>
            </tr>
            </tfoot>
          </table>
        </div>
      </ng-template>
    </ngb-tab>

    <!-- Other -->
    <ngb-tab id="other">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.globals-tab']">Other</span>
      </ng-template>
      <ng-template ngbTabContent>
        <div class="card">
          <div class="card-header">
            Parameters <app-tooltip-icon tooltipPath="ImplementationGuide.definition.parameter"></app-tooltip-icon>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                Code <app-tooltip-icon tooltipPath="ImplementationGuide.definition.parameter.code"></app-tooltip-icon>
              </th>
              <th>
                Value <app-tooltip-icon tooltipPath="ImplementationGuide.definition.parameter.value"></app-tooltip-icon>
              </th>
              <th class="actions-column-1">
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" (click)="addParameter()" title="Add a new parameter">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.definition && implementationGuide.definition.parameter">
            <tr *ngFor="let param of implementationGuide.definition.parameter; let pi = index">
              <td>
                <app-fhir-string [parentObject]="param" propertyName="code" [isFormGroup]="false" [required]="true"></app-fhir-string>
              </td>
              <td>
                <app-fhir-string [parentObject]="param" propertyName="value" [isFormGroup]="false" [required]="true"></app-fhir-string>
              </td>
              <td>
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" (click)="implementationGuide.definition.parameter.splice(pi, 1)" title="Remove this parameter">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.definition || !implementationGuide.definition.parameter || implementationGuide.definition.parameter.length === 0">
            <tr>
              <td colspan="3">
                No parameters have been defined. Click <a href="javascript:void(0)" (click)="addParameter()">here</a> to add one.
              </td>
            </tr>
            </tfoot>
          </table>
        </div>

        <div class="card">
          <div class="card-header">
            Globals <app-tooltip-icon tooltipPath="ImplementationGuide.global"></app-tooltip-icon>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                Type
                <app-tooltip-icon tooltipPath="ImplementationGuide.global.type"></app-tooltip-icon>
              </th>
              <th>
                Profile
                <app-tooltip-icon tooltipPath="ImplementationGuide.global.profile"></app-tooltip-icon>
              </th>
              <th class="actions-column-1">
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" title="Add global" (click)="addGlobal()">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.global">
            <tr *ngFor="let g of implementationGuide.global; let i = index" [attr.data-index]="i">
              <td>
                <select class="form-control" [(ngModel)]="g.type">
                  <option *ngFor="let o of resourceTypeCodes" [ngValue]="o.code">{{o.display}}</option>
                </select>
              </td>
              <td>
                <app-fhir-string [parentObject]="g" propertyName="profile" [required]="true" [isFormGroup]="false"></app-fhir-string>
              </td>
              <td>
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" title="Remove global"
                          (click)="implementationGuide.global.splice(i, 1)"><i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.global || implementationGuide.global.length === 0">
            <tr>
              <td colspan="3">
                No globals have been defined. Click <a href="javascript:void(0)" (click)="addGlobal()">here</a> to add one.
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </ng-template>
    </ngb-tab>

    <!-- Permissions -->
    <ngb-tab id="permissions" *ngIf="configService.config.enableSecurity">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.permissions-tab']">Permissions</span>
      </ng-template>
      <ng-template ngbTabContent>
        <trifolia-fhir-resource-permissions [resource]="implementationGuide"></trifolia-fhir-resource-permissions>
      </ng-template>
    </ngb-tab>

    <!-- Validation -->
    <ngb-tab id="validation">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.validation-tab']">Validation</span> <span *ngIf="validation && validation.messages && validation.messages.length > 0">({{validation.messages.length}})</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-validation-results [results]="validation"></app-validation-results>
      </ng-template>
    </ngb-tab>

    <!-- RAW JSON/XML -->
    <ngb-tab id="raw">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.raw-tab']">RAW</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-raw-resource [resource]="implementationGuide" [shown]="igTabs.activeId === 'raw'"></app-raw-resource>
      </ng-template>
    </ngb-tab>

    <!-- Version History -->
    <ngb-tab id="history" *ngIf="!isNew">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.history-tab']">History</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-resource-history [(resource)]="implementationGuide"></app-resource-history>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<ng-template #dependsOn>
  <div class="card">
    <div class="card-header">
      <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('dependsOn')" (ngModelChange)="Globals.toggleProperty(implementationGuide, 'dependsOn', [{ version: 'current' }])"/>
      Dependencies
      <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn"></app-tooltip-icon>
    </div>
    <table class="table table-striped" *ngIf="implementationGuide.hasOwnProperty('dependsOn')">
      <thead>
      <tr>
        <th>
          URI
          <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.uri"></app-tooltip-icon>
        </th>
        <th>
          Location
          <app-tooltip-icon tooltipKey="ig.dependsOn.location"></app-tooltip-icon>
        </th>
        <th>
          Package ID
          <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.packageId"></app-tooltip-icon>
        </th>
        <th>
          Name
          <app-tooltip-icon tooltipKey="ig.dependsOn.name"></app-tooltip-icon>
        </th>
        <th>
          Version
          <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.version"></app-tooltip-icon>
        </th>
        <th class="actions-column-1">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" title="Add a dependency" (click)="implementationGuide.dependsOn.push({ uri: '', version: 'current' })">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let dependsOn of implementationGuide.dependsOn; let di = index">
        <td>
          <div class="input-group">
            <input type="text" class="form-control" [class.is-invalid]="!dependsOn.uri" [(ngModel)]="dependsOn.uri"/>
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary" (click)="selectPublishedIg(dependsOn)">
                <i class="fas fa-hand-pointer"></i>
              </button>
            </div>
          </div>
        </td>
        <td>
          <input type="text" class="form-control" [class.is-invalid]="!getDependsOnLocation(dependsOn)" [ngModel]="getDependsOnLocation(dependsOn)"
                 (ngModelChange)="setDependsOnLocation(dependsOn, $event)"/>
        </td>
        <td>
          <app-fhir-string [parentObject]="dependsOn" propertyName="packageId" [required]="true" [isFormGroup]="false"></app-fhir-string>
        </td>
        <td>
          <input type="text" class="form-control" [class.is-invalid]="!getDependsOnName(dependsOn)" [ngModel]="getDependsOnName(dependsOn)" (ngModelChange)="setDependsOnName(dependsOn, $event)"/>
        </td>
        <td>
          <app-fhir-string [parentObject]="dependsOn" propertyName="version" [isFormGroup]="false"></app-fhir-string>
        </td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-primary" title="Remove this dependency" (click)="implementationGuide.dependsOn.splice(di, 1)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!canEdit(implementationGuide)" [attr.data-intro]="Globals.introText['resource.save-btn']">Save</button>
    <button type="button" class="btn btn-secondary" (click)="revert()" *ngIf="!isNew">Revert</button>
  </div>
  <span class="message">{{message}}</span>
</footer>
