<h1>Implementation Guide (R4)</h1>

<div class="alert alert-danger" *ngIf="igNotFound">Implementation Guide with id <strong>{{route.snapshot.paramMap.get('id')}}</strong> was not found on the selected FHIR server!</div>

<div class="ig-main" *ngIf="implementationGuide">
  <h2>
    {{implementationGuide.name || 'no-name'}} <span class="badge badge-warning" *ngIf="!canEdit(implementationGuide)">View-only</span><span class="badge badge-danger" *ngIf="isDirty">Changed!</span>
  </h2>
  <ngb-tabset [destroyOnHide]="false" #igTabs="ngbTabset">
    <ngb-tab id="general" title="General">
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>ID</label>
              <div [class.input-group]="!isNew">
                <input type="text" class="form-control" [disabled]="!isNew" [(ngModel)]="implementationGuide.id" placeholder="AUTO" />
                <div class="input-group-btn" *ngIf="!isNew">
                  <button type="button" class="btn btn-primary" (click)="changeId()">Change</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="url" title="URL" [required]="true" tooltipPath="ImplementationGuide.url" (change)="isDirty = true; nameChanged();"></app-fhir-string>
          </div>

          <div class="col-md-6">
            <app-fhir-string
              [parentObject]="implementationGuide"
              [required]="true"
              (change)="isDirty = true; nameChanged()"
              [pattern]="Globals.regexPatterns.namePattern"
              [patternMessage]="Globals.tooltips['name.validation.failed']"
              propertyName="name"
              title="Name"
              tooltipPath="ImplementationGuide.name">
            </app-fhir-string>
          </div>

          <div class="col-md-6">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="title" title="Title" tooltipPath="ImplementationGuide.title" (change)="isDirty = true; nameChanged()"></app-fhir-string>
          </div>

          <div class="col-md-6">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="publisher" title="Publisher" tooltipPath="ImplementationGuide.publisher" (change)="isDirty = true; nameChanged()"></app-fhir-string>
          </div>

          <div class="col-md-3">
            <app-fhir-string [parentObject]="implementationGuide" propertyName="version" title="Version" tooltipPath="ImplementationGuide.version" (change)="isDirty = true; nameChanged()"></app-fhir-string>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>
                Package ID
                <app-tooltip-icon tooltipPath="ImplementationGuide.packageId"></app-tooltip-icon>
              </label>
              <input type="text" class="form-control" [(ngModel)]="implementationGuide.packageId" (change)="isDirty = true; nameChanged(); packageIdChanged()" [class.is-invalid]="!packageIdFormatValid || !implementationGuide.packageId" />
              <span class="help-block" *ngIf="!implementationGuide.packageId">You must specify Package ID.</span>
              <div class="help-block" *ngIf="!packageIdFormatValid">If this is an HL7 implementation guide, it must match the format <strong>hl7.family.realm.id</strong>.
                <ul><li>"family" can be "fhir" or "cda"</li><li>"realm" can be "us" or "uv"</li></ul>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>
                <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('fhirVersion')" (ngModelChange)="Globals.toggleProperty(implementationGuide, 'fhirVersion', [])"
                (change)="isDirty=true; nameChanged()"/>
                FHIR Version
              </label>
              <div class="input-group" *ngFor="let fhirVersion of implementationGuide.fhirVersion; let fvi = index; trackBy: Globals.trackByFn">
                <input type="text" class="form-control" [ngModel]="fhirVersion" readonly="readonly"/>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-primary" title="Remove this FHIR version" (click)="implementationGuide.fhirVersion.splice(fvi, 1); isDirty=true; nameChanged()">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
              <div class="input-group" *ngIf="implementationGuide.hasOwnProperty('fhirVersion')">
                <input type="text" class="form-control" [(ngModel)]="newFhirVersion" (change)="isDirty=true; nameChanged()"/>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" (click)="newFhirVersion = '4.0.1'">4.0.1</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="newFhirVersion = '4.0.0'">4.0.0</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="newFhirVersion = '3.0.2'">3.0.2</a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="newFhirVersion = '3.0.1'">3.0.1</a>
                  </div>
                </div>
                <div class="input-group-append">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-primary" [disabled]="!newFhirVersion" (click)="addNewFhirVersion(); isDirty=true; nameChanged();" title="Add this FHIR version">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="form-group">
              <label>
                <span>Status </span>
                <app-tooltip-icon tooltipPath="ImplementationGuide.status"></app-tooltip-icon>
              </label>
              <select class="form-control" [(ngModel)]="implementationGuide.status" (change)="isDirty=true; nameChanged();">
                <option [ngValue]="'draft'">Draft</option>
                <option [ngValue]="'active'">Active</option>
                <option [ngValue]="'retired'">Retired</option>
                <option [ngValue]="'unknown'">Unknown</option>
              </select>
            </div>
          </div>

          <div class="col-md-3" *ngIf="implementationGuide.packageId && implementationGuide.packageId.startsWith('hl7.')">
            <div class="form-group">
              <label>HL7 Work Group</label>
              <select class="form-control" [(ngModel)]="hl7WorkGroup" (change)="isDirty = true; nameChanged();" [class.is-invalid]="!hl7WorkGroup">
                <option *ngFor="let wg of Globals.hl7WorkGroups" [value]="wg.url">{{wg.name}}</option>
                <option [ngValue]="undefined">Unspecified</option>
              </select>
            </div>
          </div>

          <div class="col-md-3">
            <app-fhir-date [parentObject]="implementationGuide" propertyName="date" title="Date" [allowTime]="true"></app-fhir-date>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <app-fhir-markdown
              [parentObject]="implementationGuide"
              [isOptional]="true"
              [mediaReferences]="mediaReferences"
              propertyName="description"
              title="Description"
              (valueChangeEmitter)="isDirty=true; nameChanged();"
              tooltipPath="ImplementationGuide.description">
            </app-fhir-markdown>
          </div>

          <div class="col-md-12">
            <ng-container *ngTemplateOutlet="dependsOn"></ng-container>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-fhir-multi-jurisdiction [parentObject]="implementationGuide" propertyName="jurisdiction"
                                           (change)="isDirty=true; nameChanged();"></app-fhir-multi-jurisdiction>
            </div>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="narrative">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.narrative-tab']">Narrative/Pages</span>
      </ng-template>
      <ng-template ngbTabContent>
        <ng-template #pageKeyboardShortcuts>
          ALT + UP/DOWN = Select previous/next page<br/>
          CTRL + ALT + &lt;ARROW KEY&gt; = Move page
        </ng-template>

        <div class="card">
          <div class="card-header">Pages</div>
          <table class="table">
            <thead>
            <tr>
              <th>
                Title
                <app-tooltip-icon tooltipPath="ImplementationGuide.definition.page.title"></app-tooltip-icon>
              </th>
              <th>
                File Name
              </th>
              <th class="actions-column-5">
                <i class="fas fa-keyboard" [ngbTooltip]="pageKeyboardShortcuts" triggers="click"></i>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.definition && implementationGuide.definition.page">
            <tr *ngFor="let p of pages" class="page-prefix-{{p.level}}" [class.page-highlight]="selectedPage === p" (click)="selectedPage = p" (focusin)="selectedPage = p">
              <td>
                <input type="text" class="form-control" [ngModel]="p.page.title" (ngModelChange)="p.page.setTitle($event, this.implementationGuide.definition.page === p.page)" [class.is-invalid]="!p.page.title" (change)="isDirty=true; nameChanged();"/>
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="p.page.fileName" [class.is-invalid]="!p.page.fileName || isFileNameInvalid(p)" (change)="isDirty=true; nameChanged();"/>
                <span *ngIf="isFileNameInvalid(p)" style="color:red">The file name must not include special characters such as "&" and "/"</span>
              </td>
              <td>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary" (click)="editPage(p)" title="Edit this page">
                    <i class="fa fa-edit"></i>
                  </button>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" title="Add a page as a child of this page" id="addPageMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa fa-plus"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="addPageMenu">
                      <a class="dropdown-item" href="javascript:void(0)" (click)="addChildPage(p); isDirty=true; nameChanged();">New Generic Page</a>
                      <a class="dropdown-item" href="javascript:void(0)" (click)="addChildPage(p, 'downloads'); isDirty=true; nameChanged();">New "Downloads" Page</a>
                    </div>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" title="Re-arrange the pages" id="rearrangePages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-arrows-alt"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="rearrangePages">
                      <a class="dropdown-item" href="javascript:void(0)" [class.disabled]="isMovePageUpDisabled(p)" (click)="movePageUp(p)" title="Move sibling page up (requires multiple pages on the same level)">
                        Move up (CTRL+ALT+UP)
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" [class.disabled]="isMovePageDownDisabled(p)" (click)="movePageDown(p)" title="Move sibling page down (requires multiple pages on the same level)">
                        Move down (CTRL+ALT+DOWN)
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" [class.disabled]="isMovePageOutDisabled(p)" (click)="movePageOut(p)" title="Move page in a level">
                        Move left (CTRL+ALT+LEFT)
                      </a>
                      <a class="dropdown-item" href="javascript:void(0)" [class.disabled]="isMovePageInDisabled(p)" (click)="movePageIn(p)" title="Move page out a level, as a child of the previous sibling page">
                        Move right (CTRL+ALT+RIGHT)
                      </a>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary" (click)="removePage(p);" title="Remove this page">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.definition || !implementationGuide.definition.page">
            <tr>
              <th colspan="3">
                <p>No pages have been defined for this implementation guide.</p>
                <button type="button" class="btn btn-primary" (click)="toggleRootPage(true); isDirty=true; nameChanged();">
                  Add a narrative page
                </button>
              </th>
            </tr>
            </tfoot>
          </table>
        </div>

        <app-fhir-markdown [parentObject]="implementationGuide" propertyName="copyright" title="Copyright" tooltipPath="ImplementationGuide.copyright" (valueChangeEmitter)="isDirty=true; nameChanged();"></app-fhir-markdown>

        <app-fhir-narrative [resource]="implementationGuide" (change)="isDirty=true; nameChanged();"></app-fhir-narrative>
      </ng-template>
    </ngb-tab>

    <!-- Resources -->
    <ngb-tab id="resources">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.resources-tab']">Resources</span>
      </ng-template>
      <ng-template ngbTabContent>

        <!-- Resource Groups -->
        <div class="card">
          <div class="card-header">
            Groups
            <app-tooltip-icon tooltipKey="ig.groups"></app-tooltip-icon>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                ID
                <app-tooltip-icon tooltipPath="ImplementationGuide.definition.grouping.id"></app-tooltip-icon>
              </th>
              <th>
                Name
                <app-tooltip-icon tooltipPath="ImplementationGuide.definition.grouping.name"></app-tooltip-icon>
              </th>
              <th class="actions-column-2">
                <div class="pull-right btn-group">
                  <button type="button" class="btn btn-primary" (click)="addGrouping(); isDirty=true; nameChanged();" title="Add a new group">
                    <i class="fa fa-plus"></i>
                  </button>
                  <button type="button" class="btn btn-primary" (click)="sortGroups()" title="Sort the groups alphabetically">
                    <i class="fas fa-sort"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.definition && implementationGuide.definition.grouping && implementationGuide.definition.grouping.length > 0">
            <tr *ngFor="let group of implementationGuide.definition.grouping; let i = index">
              <td>
                {{group.id || ''}}
                <span *ngIf="!group.id" style="color: red;">A group ID is required to associate resources to this group. Edit the group and create assign an ID to it.</span>
              </td>
              <td>
                <app-fhir-string [parentObject]="group" propertyName="name" [isFormGroup]="false" (change)="isDirty=true; nameChanged();"></app-fhir-string>
              </td>
              <td>
                <div class="pull-right btn-group">
                  <button type="button" class="btn btn-primary" (click)="editGroup(group)" title="Edit this group">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-primary" (click)="moveGroupUp(group)" [disabled]="i === 0" title="Move this group up">
                    <i class="fa fa-arrow-up"></i>
                  </button>
                  <button type="button" class="btn btn-primary" (click)="moveGroupDown(group)" [disabled]="i === implementationGuide.definition.grouping.length - 1" title="Move this group down">
                    <i class="fa fa-arrow-down"></i>
                  </button>
                  <button type="button" class="btn btn-primary" title="Remove this grouping" (click)="removeGroup(group); isDirty=true; nameChanged();">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.definition || !implementationGuide.definition.grouping || implementationGuide.definition.grouping.length === 0">
            <tr>
              <th colspan="3">
                <p>No groups have been defined for this implementation guide.</p>
                <button type="button" class="btn btn-primary" (click)="addGrouping(); isDirty=true; nameChanged();">
                  Add a group
                </button>
              </th>
            </tr>
            </tfoot>
          </table>
        </div>

        <div class="card">
          <div class="card-header">Resources</div>
          <table class="table table-striped">
            <thead>
            <tr>
              <td colspan="4">
                <div class="row">
                  <div class="col-md-6">
                    <div class="btn-group-toggle" data-toggle="buttons">
                      <label class="btn" [class.btn-primary]="!isFilterResourceTypeAll" [class.btn-info]="isFilterResourceTypeAll" (click)="toggleFilterResourceType('all')">
                        All
                      </label>
                      <label class="btn" [class.btn-primary]="!filterResourceType.profile" [class.btn-info]="filterResourceType.profile" (click)="toggleFilterResourceType('profile')">
                        Profiles
                      </label>
                      <label class="btn" [class.btn-primary]="!filterResourceType.terminology" [class.btn-info]="filterResourceType.terminology" (click)="toggleFilterResourceType('terminology')">
                        Terminology
                      </label>
                      <label class="btn" [class.btn-primary]="!filterResourceType.example" [class.btn-info]="filterResourceType.example" (click)="toggleFilterResourceType('example')">
                        Examples
                      </label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="Search resources" [(ngModel)]="filterResourceQuery"/>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <th>Reference</th>
              <th>Name</th>
              <th>Group</th>
              <th>Example?</th>
              <th class="actions-column-1">
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary" (click)="addResources()" title="Add existing resources to this implementation guide">
                    <i class="fas fa-hand-pointer"></i>
                  </button>
                  <button type="button" class="btn btn-primary" (click)="sortResources()" title="Sort the resources alphabetically">
                    <i class="fas fa-sort"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resource of resources; let ri = index">
              <td>
                <app-fhir-reference
                  [parentObject]="resource"
                  propertyName="reference"
                  [hideDisplay]="true"
                  [isFormGroup]="false"
                  [required]="true"
                  (change)="isDirty=true; nameChanged();"
                  [prependIconClass]="isDuplicateResource(resource) ? 'fa fa-copy text-error' : ''"
                  prependIconTooltip="This is a duplicate">
                </app-fhir-reference>
              </td>
              <td>
                <app-fhir-string [parentObject]="resource" propertyName="name" [isFormGroup]="false" (change)="isDirty=true; nameChanged();"></app-fhir-string>
              </td>
              <td>
                <select class="form-control" [(ngModel)]="resource.groupingId" (change)="isDirty=true; nameChanged()">
                  <option *ngFor="let g of implementationGuide.definition?.grouping" [ngValue]="g.id">{{g.name || g.id}}</option>
                </select>
              </td>
              <td>
                <app-fhir-boolean [parentObject]="resource" propertyName="exampleBoolean" [isFormGroup]="false" *ngIf="!resource.hasOwnProperty('exampleCanonical')" (change)="isDirty=true; nameChanged();"></app-fhir-boolean>
                <span *ngIf="resource.exampleCanonical" title="This resource is an example of a profile">{{resource.exampleCanonical.length > 30 ? '...' : ''}}{{resource.exampleCanonical.substr(-30)}}</span>
              </td>
              <td>
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary" title="Edit additional fields for this resource" (click)="editResource(resource)">
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-primary" title="Move this resource up in the list" [disabled]="ri <= 0" (click)="moveResource(resource, 'up'); isDirty = true">
                    <i class="fas fa-arrow-up"></i>
                  </button>
                  <button type="button" class="btn btn-primary" title="Move this resource down in the list" [disabled]="ri >= implementationGuide.definition.resource.length - 1" (click)="moveResource(resource, 'down'); isDirty = true">
                    <i class="fas fa-arrow-down"></i>
                  </button>
                  <button type="button" class="btn btn-outline-primary" (click)="removeResource(resource); isDirty=true; nameChanged();">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.definition || !implementationGuide.definition.resource || implementationGuide.definition.resource.length === 0">
            <tr>
              <th colspan="4">No resources have been added to this implementation guide, yet. Click <a href="javascript:void(0)" (click)="addResources(); isDirty=true; nameChanged();">here</a> to add one.</th>
            </tr>
            </tfoot>
          </table>
        </div>
      </ng-template>
    </ngb-tab>

    <!-- Other -->
    <ngb-tab id="other">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.other-tab']">Other</span>
      </ng-template>
      <ng-template ngbTabContent>

        <app-fhir-boolean [parentObject]="implementationGuide" propertyName="experimental" title="Experimental" tooltipPath="ImplementationGuide.experimental" (change)="isDirty=true; nameChanged();"></app-fhir-boolean>

        <app-fhir-multi-contact [parentObject]="implementationGuide" propertyName="contact" title="Contacts" tooltipPath="ImplementationGuide.contact"
                                (change)="isDirty=true; nameChanged();"></app-fhir-multi-contact>

        <div class="card">
          <div class="card-header">
            Parameters <app-tooltip-icon tooltipKey="ig.parameter"></app-tooltip-icon>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                Code <app-tooltip-icon tooltipPath="ImplementationGuide.definition.parameter.code"></app-tooltip-icon>
              </th>
              <th>
                Value <app-tooltip-icon tooltipPath="ImplementationGuide.definition.parameter.value"></app-tooltip-icon>
              </th>
              <th class="actions-column-1">
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" (click)="addParameter(); isDirty=true; nameChanged();" title="Add a new parameter">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.definition && implementationGuide.definition.parameter">
            <tr *ngFor="let param of implementationGuide.definition.parameter; let pi = index">
              <td>
                <div class="input-group">
                  <input type="text" class="form-control" [class.is-invalid]="!param.code" [(ngModel)]="param.code" (change)="isDirty=true; nameChanged();"/>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="javascript:void(0)" *ngFor="let p of Globals.igParameters" (click)="param.code = p; isDirty=true; nameChanged();">{{p}}</a>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <app-fhir-string [parentObject]="param" propertyName="value" [isFormGroup]="false" [required]="true" (change)="isDirty=true; nameChanged();"></app-fhir-string>
              </td>
              <td>
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" (click)="implementationGuide.definition.parameter.splice(pi, 1); isDirty=true; nameChanged();" title="Remove this parameter">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.definition || !implementationGuide.definition.parameter || implementationGuide.definition.parameter.length === 0">
            <tr>
              <td colspan="3">
                No parameters have been defined. Click <a href="javascript:void(0)" (click)="addParameter(); isDirty=true; nameChanged();">here</a> to add one.
              </td>
            </tr>
            </tfoot>
          </table>
        </div>

        <div class="card">
          <div class="card-header">
            Globals <app-tooltip-icon tooltipPath="ImplementationGuide.global"></app-tooltip-icon>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                Type
                <app-tooltip-icon tooltipPath="ImplementationGuide.global.type"></app-tooltip-icon>
              </th>
              <th>
                Profile
                <app-tooltip-icon tooltipPath="ImplementationGuide.global.profile"></app-tooltip-icon>
              </th>
              <th class="actions-column-1">
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" title="Add global" (click)="addGlobal(); isDirty=true; nameChanged();">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.global">
            <tr *ngFor="let g of implementationGuide.global; let i = index" [attr.data-index]="i">
              <td>
                <select class="form-control" [(ngModel)]="g.type" (change)="isDirty=true; nameChanged();">
                  <option *ngFor="let o of resourceTypeCodes" [ngValue]="o.code">{{o.display}}</option>
                </select>
              </td>
              <td>
                <app-fhir-string [parentObject]="g" propertyName="profile" [required]="true" [isFormGroup]="false" (change)="isDirty=true; nameChanged();"></app-fhir-string>
              </td>
              <td>
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" title="Remove global"
                          (click)="implementationGuide.global.splice(i, 1); isDirty=true; nameChanged();"><i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.global || implementationGuide.global.length === 0">
            <tr>
              <td colspan="3">
                No globals have been defined. Click <a href="javascript:void(0)" (click)="addGlobal(); isDirty=true; nameChanged();">here</a> to add one.
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </ng-template>
    </ngb-tab>

    <!-- Publishing -->
    <ngb-tab id="publishing" title="Publishing">
      <ng-template ngbTabContent>
        <div class="row">
          <div class="col-md-12">
            <trifolia-fhir-package-list
              [implementationGuide]="implementationGuide"
              [defaultPackageId]="packageId"
              [defaultTitle]="this.implementationGuide.title"
              [defaultName]="this.implementationGuide.name" (change)="isDirty = true; nameChanged();">
            </trifolia-fhir-package-list>
          </div>

          <div class="col-md-12">
            <trifolia-fhir-ignore-warnings [implementationGuide]="implementationGuide" (change)="isDirty = true; nameChanged();"></trifolia-fhir-ignore-warnings>
          </div>
        </div>
      </ng-template>
    </ngb-tab>

    <!-- Permissions -->
    <ngb-tab id="permissions" *ngIf="configService.config.enableSecurity">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.permissions-tab']">Permissions
          <i class="fas fa-exclamation" style="color: red" *ngIf="!canEdit(implementationGuide)" title="No write permissions for current user specified!"></i></span>
      </ng-template>
      <ng-template ngbTabContent>
        <trifolia-fhir-resource-permissions [resource]="implementationGuide" (change)="isDirty=true; nameChanged();"></trifolia-fhir-resource-permissions>
      </ng-template>
    </ngb-tab>

    <!-- Validation -->
    <ngb-tab id="validation">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.validation-tab']">Validation</span> <span *ngIf="validation && validation.messages && validation.messages.length > 0">({{validation.messages.length}})</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-validation-results [results]="validation"></app-validation-results>
      </ng-template>
    </ngb-tab>

    <!-- RAW JSON/XML -->
    <ngb-tab id="raw">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.raw-tab']">RAW</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-raw-resource [resource]="implementationGuide" [shown]="igTabs.activeId === 'raw'"></app-raw-resource>
      </ng-template>
    </ngb-tab>

    <!-- Version History -->
    <ngb-tab id="history" *ngIf="!isNew">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.history-tab']">History</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-resource-history [(resource)]="implementationGuide"></app-resource-history>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<ng-template #dependsOn>
  <div class="card">
    <div class="card-header">
      Dependencies
      <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn"></app-tooltip-icon>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>
          URI
          <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.uri"></app-tooltip-icon>
        </th>
        <!--th>
          Location
          <app-tooltip-icon tooltipKey="ig.dependsOn.location"></app-tooltip-icon>
        </th-->
        <th>
          Package ID
          <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.packageId"></app-tooltip-icon>
        </th>
        <!--th>
          Name
          <app-tooltip-icon tooltipKey="ig.dependsOn.name"></app-tooltip-icon>
        </th-->
        <th>
          Version
          <app-tooltip-icon tooltipPath="ImplementationGuide.dependsOn.version"></app-tooltip-icon>
        </th>
        <th class="actions-column-1">
          <div class="pull-right">
            <button type="button" class="btn btn-primary" title="Add a dependency" (click)="addDependencies(); isDirty=true; nameChanged();">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="implementationGuide.dependsOn">
      <tr *ngFor="let dependsOn of implementationGuide.dependsOn; let di = index">
        <td>
          <div class="input-group">
            <input type="text" class="form-control" [class.is-invalid]="!dependsOn.uri" [(ngModel)]="dependsOn.uri" (change)="isDirty=true; nameChanged();"/>
          </div>
        </td>
        <!--td>
          <input type="text" class="form-control" [class.is-invalid]="!getDependsOnLocation(dependsOn)" [ngModel]="getDependsOnLocation(dependsOn)"
                 (ngModelChange)="setDependsOnLocation(dependsOn, $event)"/>
        </td-->
        <td>
          <app-fhir-string [parentObject]="dependsOn" propertyName="packageId" [required]="true" (change)="isDirty=true; nameChanged();" [isFormGroup]="false"></app-fhir-string>
        </td>
        <!--td>
          <input type="text" class="form-control" [class.is-invalid]="!getDependsOnName(dependsOn)" [ngModel]="getDependsOnName(dependsOn)" (ngModelChange)="setDependsOnName(dependsOn, $event)"/>
        </td-->
        <td>
          <app-fhir-string [parentObject]="dependsOn" propertyName="version" [isFormGroup]="false" (change)="isDirty=true; nameChanged();"></app-fhir-string>
        </td>
        <td>
          <div class="pull-right">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" (click)="selectPublishedIg(dependsOn)">
                <i class="fas fa-hand-pointer"></i>
              </button>
              <button type="button" class="btn btn-primary" title="Remove this dependency" (click)="implementationGuide.dependsOn.splice(di, 1); isDirty = true; nameChanged();">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot *ngIf="!implementationGuide.dependsOn">
        <tr>
          <th colspan="4">No dependencies have been added to this implementation guide, yet. Click <a href="javascript:void(0)" (click)="addDependencies(); isDirty = true; nameChanged();">here</a> to add one.</th>
        </tr>
      </tfoot>
    </table>
  </div>
</ng-template>

<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!canEdit(implementationGuide)" [attr.data-intro]="Globals.introText['resource.save-btn']">Save</button>
    <button type="button" class="btn btn-secondary" (click)="revert()" *ngIf="!isNew">Revert</button>
  </div>
  <span class="message">{{message}}</span>
  <div class="pull-right">
    <button type="button" class="btn btn-danger" title="Delete this Implementation Guide" (click)="implementationGuideService.deleteImplementationGuide(implementationGuide)">
      <i class="fa fa-trash"></i> Delete
    </button>
  </div>
</footer>
