tr.page-prefix-1 td:first-child {
    padding-left: 25px;
}
tr.page-prefix-2 td:first-child {
    padding-left: 35px;
}
tr.page-prefix-3 td:first-child {
    padding-left: 45px;
}
tr.page-prefix-4 td:first-child {
    padding-left: 55px;
}
tr.page-prefix-5 td:first-child {
    padding-left: 65px;
}
tr.page-prefix-6 td:first-child {
    padding-left: 75px;
}
.card {
    margin-bottom: 15px;
}
tr.page-highlight {
  background-color: lightgray !important;
}

.filter-row {
  padding-left: 15px;
}

.filter-row label {
  margin-right: 5px;
}

.filter-row .col-md-6.checkboxes {
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px 10px 0px;
}
