<div class="modal-header">
  <h4 class="modal-title">Edit R4 Page</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body" *ngIf="page">
  <div class="mb-3">
    <label>Title</label>
    <input type="text" class="form-control" [ngModel]="page.title" (ngModelChange)="page.setTitle($event, implementationGuide.definition.page === inputPage)" [class.is-invalid]="!page.title" />
  </div>

  <div class="mb-3">
    <app-fhir-string [parentObject]="page" propertyName="fileName" [disabled] = true title="File Name" [required]="true" tooltipKey="ig.page.fileName" ></app-fhir-string>
  </div>

  <div class="mb-3" *ngIf="page.generation !== 'generated'">
    <label>
      Show on top nav menu
      <app-tooltip-icon tooltipKey="ig.page.showTopNavMenu"></app-tooltip-icon>
    </label>
    <input type="text" class="form-control" [(ngModel)]="navMenu" [disabled] = true [ngbTypeahead]="pageNavMenuSearch" placeholder="Top menu name" />
  </div>

  <div class="mb-3" *ngIf="level === 0">
    <label>
      <input type="checkbox" [(ngModel)]="reuseDescription" [disabled]="true" /> The content of this page should be the same as the description and contact(s) of the implementation guide (ImplementationGuide.description and ImplementationGuide.contact).
    </label>
  </div>

  <div class="mb-3" *ngIf="!reuseDescription">
    <label>Content</label>
    <trifolia-fhir-markdown [(value)]="contentMarkdown" [mediaReferences]="getMediaReferences()" [disabled]="true"></trifolia-fhir-markdown>
  </div>

  <hr />

  <app-fhir-select-single-code [parentObject]="page" propertyName="generation" title="Generation" valueSetUrl="http://hl7.org/fhir/ValueSet/guide-page-generation" [required]="true" tooltipKey="ig.page.generation"></app-fhir-select-single-code>

  <app-fhir-string [parentObject]="page" propertyName="nameUrl" *ngIf="page.hasOwnProperty('nameUrl')"  disabled = "true" title="Name URL" [required]="true" tooltipKey="ig.page.name"></app-fhir-string>

  <app-fhir-reference [parentObject]="page" propertyName="nameReference" *ngIf="page.hasOwnProperty('nameReference')"  disabled = "true"  title="Name Reference" [required]="true"></app-fhir-reference>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.dismiss()">Cancel</button>
</div>
