<div class="modal-header">
  <h4 class="modal-title">Edit Page</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="page">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" [ngModel]="page.title" (ngModelChange)="page.setTitle($event, implementationGuide.definition.page === inputPage)" [class.is-invalid]="!page.title" />
  </div>

  <div class="form-group">
    <label>
      File Name
      <app-tooltip-icon tooltipKey="ig.page.fileName"></app-tooltip-icon>
    </label>
    <input type="text" class="form-control" [(ngModel)]="page.fileName" [class.is-invalid]="!page.fileName || !page.fileName.endsWith(page.getExtension()) || !isRootPageValid" />
    <p class="text-muted" *ngIf="!page.fileName">File name is required, or the page will not export/publish correctly.</p>
    <p class="text-muted" *ngIf="page.fileName && !page.fileName.endsWith(page.getExtension())">This page's file names must end with the {{page.getExtension()}} extension, or the page will not export/publish correctly.</p>
    <p class="text-muted" *ngIf="isRootPageValid">It is <em>strongly</em> encouraged that the root page of the implementation guide have a file name of "index.{{page.getExtension()}}". Otherwise, the published implementation guide may not contain a home page.</p>
  </div>

  <div class="form-group" *ngIf="page.generation !== 'generated'">
    <label>
      Show on top nav menu
      <app-tooltip-icon tooltipKey="ig.page.showTopNavMenu"></app-tooltip-icon>
    </label>
    <input type="text" class="form-control" [(ngModel)]="page.navMenu" [ngbTypeahead]="pageNavMenuSearch" placeholder="Top menu name" />
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" [(ngModel)]="page.reuseDescription" /> The content of this page should be the same as the description and contact(s) of the implementation guide (ImplementationGuide.description and ImplementationGuide.contact).
    </label>
  </div>

  <div class="form-group" *ngIf="!page.reuseDescription">
    <label>Content</label>
    <trifolia-fhir-markdown [(value)]="page.contentMarkdown" [mediaReferences]="getMediaReferences()"></trifolia-fhir-markdown>
  </div>

  <hr />

  <app-fhir-select-single-code [parentObject]="page" propertyName="generation" title="Generation" valueSetUrl="http://hl7.org/fhir/ValueSet/guide-page-generation" [required]="true" tooltipKey="ig.page.generation"></app-fhir-select-single-code>

  <div class="form-group">
    <label>Name Type</label>
    <select class="form-control" [(ngModel)]="nameType">
      <option>Url</option>
      <option>Reference</option>
    </select>
  </div>

  <app-fhir-string [parentObject]="page" propertyName="nameUrl" *ngIf="page.hasOwnProperty('nameUrl')" title="Name URL" [required]="true" tooltipKey="ig.page.name"></app-fhir-string>

  <app-fhir-reference [parentObject]="page" propertyName="nameReference" *ngIf="page.hasOwnProperty('nameReference')" title="Name Reference" [required]="true"></app-fhir-reference>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.dismiss()">Cancel</button>
</div>
