<div class="modal-header">
  <h4 class="modal-title">Edit Include</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card">
    <div class="card-header">
      <input type="checkbox" [ngModel]="include.hasOwnProperty('concept')" (ngModelChange)="globals.toggleProperty(include, 'concept', [])" />
      Concepts
    </div>
    <table class="table table-striped" *ngIf="include.hasOwnProperty('concept')">
      <thead>
      <tr>
        <th>Code</th>
        <th>Display</th>
        <th>
          <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm" title="Add a concept" (click)="include.concept.push({ code: '' })">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      <tr *ngFor="let concept of include.concept; let ci = index">
        <td>
          <input type="text" class="form-control" [(ngModel)]="concept.code" />
        </td>
        <td>
          <div class="input-group">
            <div class="input-group-addon">
              <input type="checkbox" [ngModel]="concept.hasOwnProperty('display')" (ngModelChange)="globals.toggleProperty(concept, 'display', '')" />
            </div>
            <input type="text" class="form-control" [disabled]="!concept.hasOwnProperty('display')" [(ngModel)]="concept.display" />
          </div>
        </td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm" title="Remove this concept" (click)="include.concept.splice(ci, 1)">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </td>
      </tr>
      </thead>
    </table>
  </div>

  <div class="card">
    <div class="card-header">
      <input type="checkbox" [ngModel]="include.hasOwnProperty('filter')" (ngModelChange)="globals.toggleProperty(include, 'filter', [{ property: '', op: 'is-a', value: '' }])" />
      Filters
    </div>
    <table class="table table-striped" *ngIf="include.hasOwnProperty('filter')">
      <thead>
      <tr>
        <th>Property</th>
        <th>Operator</th>
        <th>Value</th>
        <th>
          <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm" title="Add a filter" (click)="include.filter.push({ property: '', op: 'is-a', value: '' })">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let filter of include.filter; let fi = index">
        <td>
          <input type="text" class="form-control" [(ngModel)]="filter.property" />
        </td>
        <td>
          <select class="form-control" [(ngModel)]="filter.op">
            <option value="=">Equals (=)</option>
            <option value="is-a">Is-a</option>
            <option value="descendent-of">Descendent Of</option>
            <option value="is-not-a">Is-not-a</option>
            <option value="regex">Regex</option>
            <option value="in">In</option>
            <option value="not-in">Not in</option>
            <option value="generalizes">Generalizes</option>
            <option value="exists">Exists</option>
          </select>
        </td>
        <td>
          <input type="text" class="form-control" [(ngModel)]="filter.value" />
        </td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm" title="Remove this filter" (click)="include.filter.splice(fi, 1)">
              <i class="fa fa-remove"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="activeModal.close()">OK</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
</div>
