<div class="alert alert-warning" *ngIf="message">{{message}}</div>

<div class="row" *ngIf="historyBundle && historyBundle.results">
  <div [class.col-md-12]="!rightResource || !leftResource" [class.col-md-4]="!!rightResource && !!leftResource">
    <table class="table table-striped" *ngIf="historyBundle && historyBundle.total > 0">
      <thead>
      <tr>
        <th>Left</th>
        <th>Right</th>
        <th>Version ID</th>
        <th>Timestamp</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let entry of historyBundle.results; let ei = index">
        <td><input [(ngModel)]="leftResource" [value]="entry.content" name="leftSelect" type="radio" /></td>
        <td><input [(ngModel)]="rightResource" [value]="entry.content" name="rightSelect" type="radio" /></td>
        <td>{{entry.content?.meta?.versionId}}{{res?.meta?.versionId === entry.content?.meta?.versionId ? ' (In Editor)' : ''}}</td>
        <td>{{entry.content?.meta?.lastUpdated}}</td>
        <td>{{getActionDisplay(entry)}}</td>
      </tr>
      </tbody>
    </table>

    <ngb-pagination
    [(page)]="page"
    [pageSize]="20"
    [collectionSize]="historyBundle.total"
    (pageChange)="getHistory()"></ngb-pagination>
  </div>
  <div *ngIf="rightResource && leftResource" class="col-md-8">
    <h3>
      Comparing version {{leftResource.meta.versionId}}
      <button (click)="loadHistory(leftResource,rightResource,!isLeftResource)" class="btn btn-default"
              title="Restore this version. Must press 'Save' before this restored version is persisted."
              type="button">
        <i class="fas fa-upload"></i>
      </button>
      to version {{rightResource.meta.versionId}}
      <button (click)="loadHistory(rightResource,leftResource,isLeftResource)" class="btn btn-default"
              title="Restore this version. Must press 'Save' before this restored version is persisted."
              type="button">
        <i class="fas fa-upload"></i>
      </button>
    </h3>
    <inline-diff [oldText]="rightResource | json" [newText]="leftResource | json"></inline-diff>
  </div>
</div>
