<fieldset [disabled]="disabled">
  <ngb-tabset justify="fill">
    <ngb-tab title="General">
      <ng-template ngbTabContent>
        <div class="form-control">
          <label>ID/Path</label>
          <div class="input-group">
            <input type="text" class="form-control" readonly="readonly" [(ngModel)]="element.id" />
            <input type="text" class="form-control" readonly="readonly" [(ngModel)]="element.path" />
          </div>
        </div>

        <div class="form-control" *ngIf="elementTreeModel.isSliceRoot">
          <label>Slice Name</label>
          <div class="input-group" *ngIf="!editingSliceName">
            <input type="text" class="form-control" [ngModel]="element.sliceName" readonly="readonly" *ngIf="!editingSliceName" />
            <div class="input-grp-btn">
              <button type="button" class="btn btn-default" (click)="toggleEditSliceName()">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>
          <div class="input-group" *ngIf="editingSliceName">
            <input type="text" class="form-control" [(ngModel)]="editedSliceName" />
            <div class="input-group-btn">
              <button type="button" class="btn btn-default" (click)="toggleEditSliceName()">
                <i class="fa fa-check"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="form-control">
          <label>
            <input type="checkbox" [ngModel]="element.hasOwnProperty('representation')" (ngModelChange)="globals.toggleProperty(element, 'representation', 'xmlAttr')" />
            Representation
            <i class="fa fa-question" ngbTooltip="{{globals.tooltips['ed.representation']}}" placement="top"></i>
          </label>
          <select class="form-control" [(ngModel)]="element.representation" [disabled]="!element.hasOwnProperty('representation')">
            <option>xmlAttr</option>
            <option>xmlText</option>
            <option>typeAttr</option>
            <option>cdaText</option>
            <option>xhtml</option>
          </select>
        </div>

        <!-- Code -->
        <div class="form-control">
          <label>
            <input type="checkbox" [ngModel]="element.hasOwnProperty('code')" (ngModelChange)="globals.toggleProperty(element, 'code', [])" />
            Code
            <i class="fa fa-question" ngbTooltip="{{globals.tooltips['ed.code']}}" placement="top"></i>
          </label>
          <div class="pull-right" *ngIf="element.hasOwnProperty('code')">
            <i class="fa fa-plus" title="Add a code" (click)="element.code.push({})"></i>
          </div>
          <div class="input-group" *ngFor="let c of element.code; let i = index" [attr.data-index]="i">
            <div class="input-group-addon">
              <input type="checkbox" [ngModel]="c.hasOwnProperty('system')" (ngModelChange)="globals.toggleProperty(c, 'system', '')" />
            </div>
            <input type="text" class="form-control" placeholder="system" [disabled]="!c.hasOwnProperty('system')" [(ngModel)]="c.system" />
            <div class="input-group-addon">
              <input type="checkbox" [ngModel]="c.hasOwnProperty('code')" (ngModelChange)="globals.toggleProperty(c, 'code', '')" />
            </div>
            <input type="text" class="form-control" placeholder="code" [disabled]="!c.hasOwnProperty('code')" [(ngModel)]="c.code" />
            <div class="input-group-addon">
              <input type="checkbox" [ngModel]="c.hasOwnProperty('display')" (ngModelChange)="globals.toggleProperty(c, 'display', '')" />
            </div>
            <input type="text" class="form-control" placeholder="display" [disabled]="!c.hasOwnProperty('display')" [(ngModel)]="c.display" />
            <div class="input-group-btn">
              <button type="button" class="btn btn-default clickable" (click)="element.code.splice(i, 1)" title="Remove this code"><i class="fa fa-remove"></i></button>
            </div>
          </div>
          <div *ngIf="element.code && element.code.length == 0">No codes</div>
        </div>

        <!-- Min -->
        <div class="form-control">
          <label>
            <input type="checkbox" [ngModel]="element.hasOwnProperty('min')" (ngModelChange)="globals.toggleProperty(element, 'min', elementTreeModel.min)" />
            Min
            <i class="fa fa-question" ngbTooltip="{{globals.tooltips['ed.min']}}" placement="top"></i>
          </label>
          <input type="number" class="form-control" [disabled]="!element.hasOwnProperty('min')" [(ngModel)]="element.min" />
        </div>

        <!-- Max -->
        <div class="form-control">
          <label>
            <input type="checkbox" [ngModel]="element.hasOwnProperty('max')" (ngModelChange)="globals.toggleProperty(element, 'max', elementTreeModel.max)" />
            Max
            <i class="fa fa-question" ngbTooltip="{{globals.tooltips['ed.max']}}" placement="top"></i>
          </label>
          <div class="input-group">
            <input type="number" class="form-control" [disabled]="!element.hasOwnProperty('max') || element.max === '*'" [ngModel]="element.max" (ngModelChange)="element.max=$event.toString()" />
            <div class="input-group-addon">
              <input type="checkbox" [ngModel]="element.max === '*'" (ngModelChange)="toggleMaxUnlimited()" [disabled]="elementTreeModel.baseElement.max === '0' || elementTreeModel.baseElement.max === '1'" /> Unlimited
            </div>
          </div>
        </div>

        <!-- Type -->
        <div class="form-control">
          <label>
            <input type="checkbox" [ngModel]="element.hasOwnProperty('type')" (ngModelChange)="globals.toggleProperty(element, 'type', [])" />
            Type
            <i class="fa fa-question" ngbTooltip="{{globals.tooltips['ed.type']}}" placement="top"></i>
          </label>
          <div class="pull-right" *ngIf="element.hasOwnProperty('type')">
            <i class="fa fa-plus clickable" title="Add a type" (click)="element.type.push({ code: 'Address' })"></i>
          </div>
          <div class="input-group" *ngFor="let t of element.type; let i = index" [attr.data-index]="i">
            <select class="form-control" [(ngModel)]="t.code">
              <option *ngFor="let o of globals.fhirDefinedTypes">{{o}}</option>
            </select>
            <input type="text" class="form-control" readonly value="{{globals.getShortString(t.profile, false, 30) || globals.getShortString(t.targetProfile, false, 30)}}" title="{{t.profile || t.targetProfile}}" />
            <div class="input-group-btn">
              <button type="button" class="btn btn-default clickable" (click)="openTypeModel(element, t)"><i class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-default clickable" (click)="element.type.splice(i, 1)"><i class="fa fa-remove"></i></button>
            </div>
          </div>
          <div *ngIf="element.type && element.type.length == 0">No types</div>
        </div>

        <div class="form-control">
          <label>Default Value</label>
          ...
        </div>

        <div class="form-control">
          <label>Max Length</label>
          <input type="number" class="form-control" />
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Narrative">
      <ng-template ngbTabContent>
        <div class="form-control">
          <label>Short</label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-control">
          <label>Label</label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-control">
          <label>Definition</label>
          <textarea class="form-control"></textarea>
        </div>

        <div class="form-control">
          <label>Comment</label>
          <textarea class="form-control"></textarea>
        </div>

        <div class="form-control">
          <label>Requirements</label>
          <textarea class="form-control"></textarea>
        </div>

        <div class="form-control">
          <label>Alias</label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-control">
          <label>Meaning when missing</label>
          <textarea class="form-control"></textarea>
        </div>

        <div class="form-control">
          <label>Order meaning</label>
          <input type="text" class="form-control" />
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Binding">
      <ng-template ngbTabContent>
        <div class="form-control">
          <label>Binding</label>
          ...
        </div>

        <div class="form-control">
          <label>Fixed</label>
          ...
        </div>

        <div class="form-control">
          <label>Pattern</label>
          ...
        </div>

        <div class="form-control">
          <label>Example</label>
          ...
        </div>

        <div class="form-control">
          <label>Min Value</label>
          ...
        </div>

        <div class="form-control">
          <label>Max Value</label>
          ...
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Extra">
      <ng-template ngbTabContent>
        <div class="form-control">
          <label>Content Reference</label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-control">
          <label>Condition</label>
          ...
        </div>

        <div class="form-control">
          <label>Constraint</label>
          ...
        </div>

        <div class="form-control">
          <label>Must Support</label>
          <input type="checkbox" />
        </div>

        <div class="form-control">
          <label>Is Modifier?</label>
          <input type="checkbox" />
        </div>

        <div class="form-control">
          <label>Is Modifier Reason</label>
          <input type="text" class="form-control" />
        </div>

        <div class="form-control">
          <label>Is Summary?</label>
          <input type="checkbox" />
        </div>

        <div class="form-control">
          <label>Mapping</label>
          ...
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="JSON">
      <ng-template ngbTabContent>
        <pre>{{element | json}}</pre>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Info">
      <ng-template ngbTabContent>
        <pre>{{elementTreeModel | json}}</pre>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</fieldset>