
<div class="card" *ngIf="element">
    <div class="card-header">
        <input type="checkbox" [ngModel]="element.hasOwnProperty('binding')" (ngModelChange)="Globals.toggleProperty(element, 'binding', getDefaultBinding())"/>
        Binding
        <app-tooltip-icon tooltipPath="ElementDefinition.binding"></app-tooltip-icon>
    </div>
    <div class="card-body" *ngIf="element.hasOwnProperty('binding')">
        <app-fhir-select-single-code [parentObject]="element.binding" propertyName="strength"
                                     valueSetUrl="http://hl7.org/fhir/ValueSet/binding-strength"
                                     title="Strength" tooltipPath="ElementDefinition.binding.strength"
                                     [required]="true"></app-fhir-select-single-code>

        <app-fhir-string [parentObject]="element.binding" propertyName="description" title="Description" tooltipPath="ElementDefinition.binding.description"></app-fhir-string>

        <div class="form-group" *ngIf="configService.isFhirSTU3">
            <label>
                <input type="checkbox"
                       [ngModel]="Globals.getChoiceProperty(element.binding, 'valueSet', valueSetChoices)"
                       (ngModelChange)="Globals.toggleChoiceProperty(element.binding, 'valueSet', valueSetChoices, '')"/>
                Value Set
                <app-tooltip-icon tooltipPath="ElementDefinition.binding.valueSet[x]"></app-tooltip-icon>
            </label>
            <div class="input-group">
                <div class="input-group-addon">
                    <select class="form-control"
                            [disabled]="!Globals.getChoiceProperty(element.binding, 'valueSet', valueSetChoices)"
                            [ngModel]="Globals.getChoiceProperty(element.binding, 'valueSet', valueSetChoices)"
                            (ngModelChange)="setValueSetChoice(element.binding, $event)">
                        <option value="Uri">URI</option>
                        <option value="Reference">Reference</option>
                    </select>
                    <input type="text" class="form-control"
                           *ngIf="Globals.getChoiceProperty(element.binding, 'valueSet', valueSetChoices) === 'Uri'"
                           [(ngModel)]="STU3Element.binding.valueSetUri"/>
                    <app-fhir-reference
                            *ngIf="Globals.getChoiceProperty(element.binding, 'valueSet', valueSetChoices) === 'Reference'"
                            [parentObject]="element.binding"
                            propertyName="valueSetReference"
                            resourceType="ValueSet"></app-fhir-reference>
                </div>
            </div>
        </div>

        <div class="form-group" *ngIf="configService.isFhirR4">
            <label>
                Value Set
                <app-tooltip-icon tooltipPath="ElementDefinition.binding.valueSet"></app-tooltip-icon>
            </label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="R4ValueSet" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default" title="Select a value set" (click)="selectValueSet()">
                        <i class="fa fa-hand-pointer-o"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>