tr.invalid td{
  text-decoration: line-through;
}

.card.results {
  margin-top: 10px;
}

/* i.warning {
  color: #ff0000;
} */

span.message {
  text-decoration: none;
  padding-left: 15px
}

select {
  max-width: 150px;
}
