<h1>Import</h1>

<ul ngbNav #t="ngbNav" class="nav-tabs" [activeId]="activeTab" (navChange)="activeTab = $event.nextId">
  <li ngbNavItem="file">
    <a ngbNavLink>
      <span [attr.data-intro]="Globals.introText['import.file-tab']">Files</span>
    </a>
    <ng-template ngbNavContent>
      <div class="alert alert-info">You may select (or drag-and-drop) JSON, XML, XLSX (excel) and image (JPG, PNG, GIF, etc.) files in this window. Excel files will be imported as value sets. See the help documentation for more information.
      </div>

      <div class="alert alert-danger" *ngIf="errorMessage !== ''">{{errorMessage}}</div>

      <ngx-file-drop (onFileDrop)="dropped($event)">
        <ng-template ngx-file-drop-content-tmp>
          <span [attr.data-intro]="Globals.introText['import.file.drag-and-drop']">Drag and drop file or <a href="javascript:void(0)" (click)="selectFile.click()">click to select</a>.</span>
          <input style="display: none;" type="file" class="form-control" (change)="filesChanged($event)" #selectFile/>
        </ng-template>
      </ngx-file-drop>

      <table class="table table-striped" *ngIf="!configService.showingIntroduction && files && files.length > 0">
        <thead>
        <tr>
          <th>File Name</th>
          <th>ID(s)</th>
          <th>Type</th>
          <th>Action</th>
          <th>Example?</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let f of files; let fi = index" [class.invalid]="(f.contentType === 0 || f.contentType === 1) && !f.resource">
          <td>
            {{f.name}}
            <i *ngIf="f.message" class="fas fa-exclamation warning"><span class="message">{{f.message}}</span></i>
          </td>
          <td>{{getIdDisplay(f) || f.name}}</td>
          <td>{{getContentTypeDisplay(f)}}</td>
          <td>
            <span *ngIf="f.resource?.resourceType !== 'Bundle'">{{f.status.substring(0, 1).toUpperCase()}}{{f.status.substring(1)}}&nbsp;</span>
            <select (change)="importBundle = getFileBundle()" *ngIf="f.resource?.resourceType === 'Bundle'" [(ngModel)]="f.bundleOperation" class="form-select">
              <option value="store">Store</option>
              <option value="execute">Execute</option>
            </select>
            <a *ngIf="f.status === 'update' && f.resource" href="javascript:void(0)" (click)="viewUpdateDiff(f)">
              <i class="fas fa-eye"></i>
            </a>
            <i *ngIf="!f.singleIg" class="fas fa-exclamation warning" style="padding-left:15px;" [ngbTooltip]="f.multipleIgMessage"></i>
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="f.isExample || f.isCDAExample" [disabled]="f.isCDAExample" />
          </td>
          <td class="actions-column-1">
            <div class="pull-right">
              <a href="javascript:void(0)" (click)="removeImportFile(fi)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="dropdown" *ngIf="files && files.length > 0 && importBundle">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Download Transaction Bundle
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="javascript:void(0)" (click)="downloadBundle('json')">JSON</a>
          <a class="dropdown-item" href="javascript:void(0)" (click)="downloadBundle('xml')">XML</a>
        </div>
      </div>

      <!-- INTRO -->
      <table class="table table-striped" *ngIf="configService.showingIntroduction" [attr.data-intro]="Globals.introText['import.file.list']">
        <thead>
        <tr>
          <th>File Name</th>
          <th>ID(s)</th>
          <th>Type</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>test-profile.json</td>
          <td>test-profile</td>
          <td>Resource JSON</td>
          <td class="actions-column-1">
            <div class="pull-right">
              <i class="fas fa-trash-alt" [attr.data-intro]="Globals.introText['import.file.delete']"></i>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </li>
  <li ngbNavItem="text">
    <a ngbNavLink>
      <span [attr.data-intro]="Globals.introText['import.text-tab']">Text</span>
    </a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-2">
          <label class="form-label">Content Type</label>
          <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="textContentType" id="textContentType0" [value]="0" [(ngModel)]="textContentType"/>
              <label class="form-check-label" for="textContentType0">JSON</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="textContentType" id="textContentType1" [value]="1" [(ngModel)]="textContentType"/>
              <label class="form-check-label" for="textContentType1">XML</label>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="textContentIsExampleSwitch">Is Example?</label>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="textContentIsExampleSwitch" [(ngModel)]="textContentIsExample">
          </div>
        </div>
    </div>

      <div class="mb-3" [attr.data-intro]="Globals.introText['import.text.content']">
        <label>Text</label>
        <textarea class="form-control" rows="20" [(ngModel)]="textContent"></textarea>
      </div>
    </ng-template>
  </li>

  <li ngbNavItem="vsac">
    <a ngbNavLink>
      <span [attr.data-intro]="Globals.introText['import.vsac-tab']">VSAC</span>
    </a>
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Search Criteria</div>
            <div class="card-body">
              <div class="mb-3" [attr.data-intro]="Globals.introText['import.vsac.id']">
                <label>ID</label>
                <input type="text" class="form-control" [(ngModel)]="vsacCriteria.id" placeholder="OID" />
                <div class="help-block">This is the OID of the value set as specified by the VSAC browser (ex: 2.16.840.1.113762.1.4.1096.153).</div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card" [attr.data-intro]="Globals.introText['import.vsac.credentials']">
            <div class="card-header">VSAC Credentials</div>
            <div class="card-body">
              <div class="mb-3">
                <label>
                  API Key <app-tooltip-icon tooltipKey="vsac.apikey"></app-tooltip-icon>
                </label>
                <input type="password" class="form-control" [(ngModel)]="vsacCriteria.password"/>
              </div>

              <p>
                <input type="checkbox" [(ngModel)]="rememberVsacCredentials"/> Remember VSAC credentials in the future <app-tooltip-icon tooltipKey="vsac.remember"></app-tooltip-icon>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
  <!-- <li ngbNavItem="github">
    <a ngbNavLink>
      <span [attr.data-intro]="Globals.introText['import.github-tab']">GitHub</span>
    </a>
    <ng-template ngbNavContent>
      <app-import-github-panel #importGithubPanel></app-import-github-panel>
    </ng-template>
  </li> -->
</ul>
<div [ngbNavOutlet]="t" class="mt-2"></div>

<!-- <div class="card results" *ngIf="outcome || resultsBundle">
  <div class="card-body" *ngIf="outcome">
    <p *ngIf="outcome.text && outcome.text.div && (!outcome.issue || outcome.issue.length === 0)" [innerHTML]="outcome.text.div"></p>
    <ul>
      <li *ngFor="let issue of outcome.issue">
        <span>{{issue.severity}}{{issue.location && issue.location.length === 1 ? ' - ' + issue.location[0] : ''}}: </span>
        <span>{{issue.diagnostics}}</span>
      </li>
    </ul>
  </div>
  <div class="card-body" *ngIf="resultsBundle">
    <div *ngFor="let entry of resultsBundle.entry; let i = index">
      <p><strong>Bundle entry {{i + 1}}</strong></p>
      <div *ngIf="getBundleEntryOutcome(entry) && getBundleEntryOutcome(entry).issue">
        <ul *ngIf="getBundleEntryOutcome(entry).issue.length > 1">
          <li *ngFor="let issue of getBundleEntryOutcome(entry).issue; let ii = index">
            #{{ii + 1}} - {{issue.diagnostics}}
          </li>
        </ul>
        <p *ngIf="getBundleEntryOutcome(entry).issue.length === 1">
          {{getBundleEntryOutcome(entry).issue[0].diagnostics}}
        </p>
      </div>
    </div>
  </div>
</div> -->

<footer class="footer">
  <button type="button" class="btn btn-primary" (click)="import(t)" [disabled]="importDisabled()" [attr.data-intro]="Globals.introText['import.import-btn']">Import</button>
  <span class="message">{{message}}</span>
</footer>
