.profile-picture {
    width: 21px;
    height: 21px;
}

.container.container-large {
    max-width: 100% !important;
}

.nav-icons {
    display: inherit;
}

.navbar-brand > img {
    position: absolute;
}

.navbar-brand > span {
    margin-left: 64px;
}