.sub-nav-link {
  color: rgba(255,255,255,.5);
  text-decoration: none;
}

.profile-picture {
  width: 21px;
  height: 21px;
}

.nav-link.dropdown-toggle.active a {
  color: #fff;
}

.container.container-large {
  max-width: 100% !important;
}