<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Trifolia on FHIR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
        <a class="nav-link dropdown-toggle" [routerLinkActive]="['active']" href="#" id="igMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="sub-nav-link" title="Implementation Guides">IG's</a>
        </a>
        <div class="dropdown-menu" aria-labelledby="igMenu">
          <a class="dropdown-item" routerLink="/implementation-guide">Browse</a>
          <a class="dropdown-item" routerLink="/implementation-guide/new">New</a>
          <div class="dropdown-divider" *ngIf="recentItemService.recentImplementationGuides.length > 0"></div>
          <a class="dropdown-item" routerLink="/implementation-guide/{{ri.id}}" *ngFor="let ri of recentItemService.recentImplementationGuides">
            {{ri.display}}
            <div class="badge badge-light">{{ri.id}}</div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" [routerLinkActive]="['active']" href="#" id="sdMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="sub-nav-link" title="Structure Definitions">Struc. Def's</a>
        </a>
        <div class="dropdown-menu" aria-labelledby="sdMenu">
          <a class="dropdown-item" routerLink="/structure-definition">Browse</a>
          <a class="dropdown-item" routerLink="/structure-definition/new">New</a>
          <div class="dropdown-divider" *ngIf="recentItemService.recentStructureDefinitions.length > 0"></div>
          <a class="dropdown-item" routerLink="/structure-definition/{{ri.id}}" *ngFor="let ri of recentItemService.recentStructureDefinitions">
            {{ri.display}}
            <div class="badge badge-light">{{ri.id}}</div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" [routerLinkActive]="['active']" href="#" id="vsMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="sub-nav-link">Value Sets</a>
        </a>
        <div class="dropdown-menu" aria-labelledby="vsMenu">
          <a class="dropdown-item" routerLink="/value-set">Browse</a>
          <a class="dropdown-item" routerLink="/value-set/new">New</a>
          <div class="dropdown-divider" *ngIf="recentItemService.recentValueSets.length > 0"></div>
          <a class="dropdown-item" routerLink="/value-set/{{ri.id}}" *ngFor="let ri of recentItemService.recentValueSets">
            {{ri.display}}
            <div class="badge badge-light">{{ri.id}}</div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" [routerLinkActive]="['active']" href="#" id="codeSystemMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="sub-nav-link">Code Systems</a>
        </a>
        <div class="dropdown-menu" aria-labelledby="codeSystemMenu">
          <a class="dropdown-item" routerLink="/code-system">Browse</a>
          <a class="dropdown-item" routerLink="/code-system/new">New</a>
          <div class="dropdown-divider" *ngIf="recentItemService.recentCodeSystems.length > 0"></div>
          <a class="dropdown-item" routerLink="/code-system/{{ri.id}}" *ngFor="let ri of recentItemService.recentCodeSystems">
            {{ri.display}}
            <div class="badge badge-light">{{ri.id}}</div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" [routerLinkActive]="['active']" href="#" id="csMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="sub-nav-link" title="Capability Statements">Cap. Stmt's</a>
        </a>
        <div class="dropdown-menu" aria-labelledby="csMenu">
          <a class="dropdown-item" routerLink="/capability-statement">Browse</a>
          <a class="dropdown-item" routerLink="/capability-statement/new">New</a>
          <div class="dropdown-divider" *ngIf="recentItemService.recentCapabilityStatements.length > 0"></div>
          <a class="dropdown-item" routerLink="/capability-statement/{{ri.id}}" *ngFor="let ri of recentItemService.recentCapabilityStatements">
            {{ri.display}}
            <div class="badge badge-light">{{ri.id}}</div>
          </a>
        </div>
      </li>
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()" [routerLinkActive]="['active']">
        <a class="nav-link dropdown-toggle" [routerLinkActive]="['active']" href="#" id="csMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <a class="sub-nav-link" title="Operation Definitions">Op. Def's</a>
        </a>
        <div class="dropdown-menu" aria-labelledby="csMenu">
          <a class="dropdown-item" routerLink="/operation-definition">Browse</a>
          <a class="dropdown-item" routerLink="/operation-definition/new">New</a>
          <div class="dropdown-divider" *ngIf="recentItemService.recentOperationDefinitions.length > 0"></div>
          <a class="dropdown-item" routerLink="/operation-definition/{{ri.id}}" *ngFor="let ri of recentItemService.recentOperationDefinitions">
            {{ri.display}}
            <div class="badge badge-light">{{ri.id}}</div>
          </a>
        </div>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated()" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/export">Export</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated()" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/import">Import</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" *ngIf="configService.config">
        <select class="form-control" [ngModel]="configService.fhirServer" (ngModelChange)="configService.changeFhirServer($event)">
          <option *ngFor="let fs of configService.config.fhirServers" value="{{fs.id}}">{{fs.name}}</option>
        </select>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="helpMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="helpMenu">
          <a class="dropdown-item" href="/help" target="_new">Documentation</a>
          <a class="dropdown-item" href="#">Request Support</a>
          <a class="dropdown-item" href="#">:Version:</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" *ngIf="authService.isAuthenticated()" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="profile-picture" *ngIf="userProfile && userProfile.picture" src="{{userProfile.picture}}" />
          {{getDisplayName()}}
        </a>
        <a class="nav-link dropdown-toggle" *ngIf="!authService.isAuthenticated()" href="#" id="profileMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Not Logged In</a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileMenu">
          <a class="dropdown-item" *ngIf="authService.isAuthenticated()" routerLink="/users/me">Profile</a>
          <a class="dropdown-item" *ngIf="!authService.isAuthenticated()" (click)="authService.login()">Login</a>
          <a class="dropdown-item" *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container" [class.container-large]="isBigContainer">
  <div class="jumbotron">
    <div class="alert alert-warning status-message" *ngIf="configService.statusMessage">{{configService.statusMessage}}</div>
    <router-outlet></router-outlet>
  </div>
</div>
