
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Trifolia on FHIR</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" *ngIf="authService.isAuthenticated()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div>
            <div class="row">
              <div class="col-md-3">
                <span class="text-uppercase text-white">Implementation Guides</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="/implementation-guide">Browse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/implementation-guide/new">New</a>
                  </li>
                  <li class="nav-item" *ngFor="let ri of recentItemService.recentImplementationGuides">
                    <a class="nav-link" routerLink="/implementation-guide/{{ri.id}}">{{ri.id}}</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-3">
                <span class="text-uppercase text-white">Structure Definitions</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="/structure-definition">Browse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/structure-definition/new">New</a>
                  </li>
                  <li class="nav-item" *ngFor="let ri of recentItemService.recentStructureDefinitions">
                    <a class="nav-link" routerLink="/structure-definition/{{ri.id}}">{{ri.id}}</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-3">
                <span class="text-uppercase text-white">Operation Definitions</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/operation-definition">Browse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/operation-definition/new">New</a>
                  </li>
                  <li class="nav-item" *ngFor="let ri of recentItemService.recentOperationDefinitions">
                    <a class="nav-link" routerLink="/operation-definition/{{ri.id}}">{{ri.id}}</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-3">
                <span class="text-uppercase text-white">Capability Statements</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="/capability-statement">Browse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/capability-statement/new">New</a>
                  </li>
                  <li class="nav-item" *ngFor="let ri of recentItemService.recentCapabilityStatements">
                    <a class="nav-link" routerLink="/capability-statement/{{ri.id}}">{{ri.id}}</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-3">
                <span class="text-uppercase text-white">Value Sets</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="/value-set">Browse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/value-set/new">New</a>
                  </li>
                  <li class="nav-item" *ngFor="let ri of recentItemService.recentValueSets">
                    <a class="nav-link" routerLink="/value-set/{{ri.id}}">{{ri.id}}</a>
                  </li>
                </ul>
              </div>

              <div class="col-md-3">
                <span class="text-uppercase text-white">Code Systems</span>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" routerLink="/code-system">Browse</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/code-system/new">New</a>
                  </li>
                  <li class="nav-item" *ngFor="let ri of recentItemService.recentCodeSystems">
                    <a class="nav-link" routerLink="/code-system/{{ri.id}}">{{ri.id}}</a>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated()">
        <a class="nav-link" routerLink="/other-resources">Other Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)" (click)="openFile()">Open from computer</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated()">
        <a class="nav-link" routerLink="/export">Export</a>
      </li>
      <li class="nav-item" *ngIf="authService.isAuthenticated()">
        <a class="nav-link" routerLink="/import">Import</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <select class="form-control" name="fhirServerSelect" *ngIf="configService.config" [ngModel]="configService.fhirServer" (ngModelChange)="configService.changeFhirServer($event)">
        <option *ngFor="let fs of configService.config.fhirServers" value="{{fs.id}}">{{fs.name}}</option>
      </select>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!authService.isAuthenticated()">
          <a class="nav-link" href="javascript:void(0)" (click)="authService.login()">Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" routerLink="/users/me">
            <img class="profile-picture" *ngIf="userProfile && userProfile.picture" src="{{userProfile.picture}}" />
            {{getDisplayName()}}
          </a>
        </li>
        <li class="nav-item" *ngIf="authService.isAuthenticated()">
          <a class="nav-link" href="javascript:void(0)" (click)="authService.logout()">Logout</a>
        </li>
      </ul>
    </form>
  </div>


</nav>

<div class="container" [class.container-large]="isBigContainer">
  <div class="jumbotron">
    <div class="alert alert-warning status-message" *ngIf="configService.statusMessage">{{configService.statusMessage}}</div>
    <router-outlet *ngIf="fhirService.loaded"></router-outlet>
    <div *ngIf="!fhirService.loaded">
      Loading information from selected FHIR server...
    </div>
  </div>
</div>
