<div class="row" *ngIf="project">
  <div class="col-md-6">
    <div class="mb-3">
      <h6>Project ID</h6>
      <div>
        {{project.id}}
      </div>
    </div>
    <div class="mb-3">
      <h6>Project Name</h6>
      <div [class.input-group]="true">
        <input type="text" class="form-control" [disabled]="false" [(ngModel)]="project.name"  />
      </div>
    </div>
    <div class="mb-3">
      <h6>Author</h6>
      <div>
        {{project.author}}
      </div>
    </div>
    <div class="mb-3">
      <h6>MigratedFrom</h6>
      <div>
       {{project.migratedFrom}}
      </div>
    </div>
    <div class="mb-3">
      <h6>FhirVersion</h6>
      <div>
        {{project.fhirVersion}}
      </div>
    </div>

    <div class="mb-3">
      <h6>Project Contributors</h6>
      <div [class.input-group]="true">
        <div *ngFor="let contr of project.contributors">
          {{contr.user}}
        </div>
      </div>
    </div>
    <div class="mb-3">
       <table class="table table-striped" *ngIf="project.igs">
          <thead>
            <tr>
              <th>
                Implementation Guide ID
                <app-tooltip-icon tooltipPath="Resource.id"></app-tooltip-icon>
              </th>
              <th>Implementation Guide Name</th>
   <!--           <th>Published</th>-->
            </tr>
          </thead>
          <tr *ngFor="let ig of project.igs">
            <td><a   role="button" routerLink="/projects/{{ig.id}}/implementation-guide"
                     title="Edit Project Implementation Guides ">
                     <i> {{ig.id}}</i>
                </a>
            </td>
            <td>{{ig.resource.name}}</td>
           <!-- <td>
                <i *ngIf="ig.resource.published === true" class="fas fa-check" style="color:green" title="Success"></i>
                <i *ngIf="ig.resource.published === false" class="fas fa-times" style="color:red" title="Failed"></i>
                <i *ngIf="ig.resource.published === null" class="fas fa-question" style="color:black" title="Not Published"></i>
            </td>-->
          </tr>
        </table>
    </div>

  </div>
</div>
<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="revert()" *ngIf="!isNew">Revert</button>
  </div>
  <span class="message">{{message}}</span>
</footer>


