<div class="modal-header">
  <h4 class="modal-title">Select version of published implementation guide</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
  <table class="table table-striped" *ngIf="editions">
    <thead>
    <tr>
      <th>URI</th>
      <th>Version</th>
      <th class="actions-column-1"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let version of versions">
      <td>{{canonical + '/ImplementationGuide/' + packageName + '#' + version}}</td>
      <td>{{version}}</td>
      <td>
        <button (click)="selectEdition(version)" class="btn btn-primary" title="Select this implementation guide" type="button">
          <i class="fas fa-hand-pointer"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
</div>
