<h1>Value Set</h1>

<div class="alert alert-danger" *ngIf="vsNotFound">Value Set with id <strong>{{route.snapshot.paramMap.get('id')}}</strong> was not found on the selected FHIR server!</div>

<ngb-tabset *ngIf="valueSet" [destroyOnHide]="false">
    <ngb-tab title="General">
        <ng-template ngbTabContent>
            <div class="row">
                <div class="col-md-8">
                    <app-fhir-string [parentObject]="valueSet" propertyName="url" title="URL" tooltipPath="ValueSet.url"></app-fhir-string>

                    <app-fhir-string [parentObject]="valueSet" propertyName="name" title="Name" (change)="nameChanged()" tooltipPath="ValueSet.name"></app-fhir-string>

                    <app-fhir-string [parentObject]="valueSet" propertyName="title" title="Title" (change)="nameChanged()" tooltipPath="ValueSet.title"></app-fhir-string>

                    <div class="card">
                        <div class="card-header">
                            <input type="checkbox" [ngModel]="valueSet.hasOwnProperty('identifier')" (ngModelChange)="globals.toggleProperty(valueSet, 'identifier', [{ use: 'official', value: ''}])" />
                            Identifier(s)
                            <app-tooltip-icon tooltipPath="ValueSet.identifier"></app-tooltip-icon>
                        </div>
                        <table class="table table-striped" *ngIf="valueSet.hasOwnProperty('identifier')">
                            <thead>
                            <tr>
                                <th>Use <app-tooltip-icon tooltipPath="Identifier.use"></app-tooltip-icon></th>
                                <th>System <app-tooltip-icon tooltipPath="Identifier.system"></app-tooltip-icon></th>
                                <th>Value <app-tooltip-icon tooltipPath="Identifier.value"></app-tooltip-icon></th>
                                <th>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default btn-sm" title="Add an identifier" (click)="valueSet.identifier.push({ use: 'official', value: '' })">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let identifier of valueSet.identifier; let ii = index">
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <input type="checkbox" [ngModel]="identifier.hasOwnProperty('use')" (ngModelChange)="globals.toggleProperty(identifier, 'use', 'official')" />
                                        </div>
                                        <select class="form-control" [disabled]="!identifier.hasOwnProperty('use')" [(ngModel)]="identifier.use">
                                            <option value="usual">Usual</option>
                                            <option value="official">Official</option>
                                            <option value="temp">Temporary</option>
                                            <option value="secondary">Secondary</option>
                                            <option value="old">Old</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <input type="checkbox" [ngModel]="identifier.hasOwnProperty('system')" (ngModelChange)="globals.toggleProperty(identifier, 'system', '')" />
                                        </div>
                                        <input type="text" class="form-control" [disabled]="!identifier.hasOwnProperty('system')" [(ngModel)]="identifier.system" />
                                    </div>
                                </td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <input type="checkbox" [ngModel]="identifier.hasOwnProperty('value')" (ngModelChange)="globals.toggleProperty(identifier, 'value', '')" />
                                        </div>
                                        <input type="text" class="form-control" [disabled]="!identifier.hasOwnProperty('value')" [(ngModel)]="identifier.value" />
                                    </div>
                                </td>
                                <td>
                                    <div class="pull-right btn-group">
                                        <button type="button" class="btn btn-default btn-sm" title="Edit this identifier">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm" title="Remove this identifier" (click)="valueSet.identifier.splice(ii, 1)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <app-fhir-multi-use-context [parentObject]="valueSet" propertyName="useContext" tooltipPath="ValueSet.useContext"></app-fhir-multi-use-context>

                    <app-fhir-markdown [parentObject]="valueSet" propertyName="description" title="Description" [isFormGroup]="true" tooltipPath="ValueSet.description"></app-fhir-markdown>

                    <app-fhir-markdown [parentObject]="valueSet" propertyName="purpose" title="Purpose" [isFormGroup]="true" tooltipPath="ValueSet.purpose"></app-fhir-markdown>

                    <app-fhir-markdown [parentObject]="valueSet" propertyName="copyright" title="Copyright" [isFormGroup]="true" tooltipPath="ValueSet.copyright"></app-fhir-markdown>
                </div>
                <div class="col-md-4">
                    <app-fhir-string [parentObject]="valueSet" propertyName="id" title="ID" placeholder="AUTO" *ngIf="isNew"></app-fhir-string>

                    <app-fhir-string [parentObject]="valueSet" propertyName="version" title="Version" tooltipPath="ValueSet.version"></app-fhir-string>

                    <app-fhir-select-single-code [parentObject]="valueSet" propertyName="status" title="Status" [required]="true" valueSetUrl="http://hl7.org/fhir/ValueSet/publication-status" tooltipPath="ValueSet.status"></app-fhir-select-single-code>
                </div>
            </div>
        </ng-template>
    </ngb-tab>

    <ngb-tab>
        <ng-template ngbTabTitle>Compose</ng-template>
        <ng-template ngbTabContent>
            <input type="checkbox" [ngModel]="valueSet.hasOwnProperty('compose')" (ngModelChange)="globals.toggleProperty(valueSet, 'compose', { include: [{}] })" /> Value set has a "compose" definition <app-tooltip-icon tooltipPath="ValueSet.compose"></app-tooltip-icon>

            <div *ngIf="valueSet.hasOwnProperty('compose')">
                <app-fhir-date [parentObject]="valueSet.compose" propertyName="lockedDate" title="Locked Date" tooltipPath="ValueSet.compose.lockedDate"></app-fhir-date>

                <app-fhir-boolean [parentObject]="valueSet.compose" propertyName="inactive" title="Inactive" tooltipPath="ValueSet.compose.inactive"></app-fhir-boolean>

                <p>
                    <input type="checkbox" [ngModel]="valueSet.compose.hasOwnProperty('include')" (ngModelChange)="globals.toggleProperty(valueSet.compose, 'include', [{}])"/> This value set has include entries  tooltipPath="ValueSet.compose.include"
                </p>

                <ngb-tabset *ngIf="valueSet.compose.hasOwnProperty('include')" #includeTabSet [destroyOnHide]="false">
                    <ngb-tab *ngFor="let include of valueSet.compose.include; let ii = index" id="include-{{ii}}">
                        <ng-template ngbTabTitle>
                            Include {{ii+1}}
                            <i class="fas fa-trash-alt" title="Remove this include" (click)="globals.promptForRemove(valueSet.compose.include, ii, 'Are you sure you want to remove this item?', $event)"></i>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <app-fhir-string [parentObject]="include" propertyName="system" title="System" tooltipPath="ValueSet.compose.include.system"></app-fhir-string>

                            <app-fhir-string [parentObject]="include" propertyName="version" title="Version" tooltipPath="ValueSet.compose.include.version"></app-fhir-string>

                            <app-valueset-concept-card [parentObject]="include" propertyName="concept"></app-valueset-concept-card>

                            <div class="card">
                                <div class="card-header">
                                    <input type="checkbox" [ngModel]="include.hasOwnProperty('filter')" (ngModelChange)="globals.toggleProperty(include, 'filter', [{ property: '', op: '=', value: '' }])"/>
                                    Filters
                                    <app-tooltip-icon tooltipPath="ValueSet.compose.include.filter"></app-tooltip-icon>
                                </div>
                                <table class="table table-striped" *ngIf="include.hasOwnProperty('filter')">
                                    <thead>
                                    <tr>
                                        <th>Property <app-tooltip-icon tooltipPath="ValueSet.compose.include.filter.property"></app-tooltip-icon></th>
                                        <th>Operator <app-tooltip-icon tooltipPath="ValueSet.compose.include.filter.op"></app-tooltip-icon></th>
                                        <th>Value <app-tooltip-icon tooltipPath="ValueSet.compose.include.filter.value"></app-tooltip-icon></th>
                                        <th class="actions-column-1">
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default" (click)="include.filter.push({ property: '', op: '=', value: '' })">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let filter of include.filter; let fi = index">
                                        <td>
                                            <app-fhir-string [parentObject]="filter" propertyName="property" [isFormGroup]="false" [required]="true"></app-fhir-string>
                                        </td>
                                        <td>
                                            <app-fhir-select-single-code [parentObject]="filter" propertyName="op" [isFormGroup]="false" [required]="true" valueSetUrl="http://hl7.org/fhir/ValueSet/filter-operator"></app-fhir-select-single-code>
                                        </td>
                                        <td>
                                            <app-fhir-string [parentObject]="filter" propertyName="value" [isFormGroup]="false" [required]="true"></app-fhir-string>
                                        </td>
                                        <td>
                                            <div class="pull-right">
                                                <button type="button" class="btn btn-default" title="Remove this filter" (click)="globals.promptForRemove(include.filter, fi)">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab [disabled]="true">
                        <ng-template ngbTabTitle>
                            <button type="button" class="btn btn-default" title="Add an include entry" (click)="addIncludeEntry(includeTabSet)">Add</button>
                        </ng-template>
                        <ng-template ngbTabContent></ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </ng-template>
    </ngb-tab>

    <!-- Validation -->
    <ngb-tab id="validation" title="Validation">
        <ng-template ngbTabContent>
            <app-validation-results [results]="validation"></app-validation-results>
        </ng-template>
    </ngb-tab>

    <!-- JSON -->
    <ngb-tab title="RAW">
        <ng-template ngbTabContent>
            <app-raw-resource [resource]="valueSet"></app-raw-resource>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<footer class="footer">
    <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="save()">Save</button>
        <button type="button" class="btn btn-default" (click)="revert()" *ngIf="!isNew">Revert</button>
    </div>
    <span class="message">{{message}}</span>
</footer>