<div class="modal-header">
    <h4 class="modal-title">Select a resource</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="input-group" *ngIf="!resourceType || !hideResourceType">
        <div class="input-group-addon">Type</div>
        <select class="form-control" [(ngModel)]="resourceType" (change)="criteriaChanged()">
            <option *ngFor="let o of resourceTypeCodes" [ngValue]="o.code">{{o.display}}</option>
        </select>
    </div>

    <div class="input-group" *ngIf="showContentSearch">
        <div class="input-group-addon">Search</div>
        <input class="form-control" [(ngModel)]="contentSearch" (ngModelChange)="criteriaChangedEvent.next($event)" />
    </div>

    <div class="input-group" *ngIf="showNameSearch">
        <div class="input-group-addon">Name</div>
        <input class="form-control" [(ngModel)]="nameSearch" (ngModelChange)="criteriaChangedEvent.next($event)" />
    </div>

    <div class="input-group" *ngIf="showTitleSearch">
        <div class="input-group-addon">Title</div>
        <input class="form-control" [(ngModel)]="titleSearch" (ngModelChange)="criteriaChangedEvent.next($event)" />
    </div>

    <div class="alert alert-info" *ngIf="message">{{message}}</div>

    <table class="table" *ngIf="results">
        <thead>
        <tr>
            <th *ngIf="selectMultiple"> </th>
            <th>Resources</th>
            <th *ngIf="!selectMultiple">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of results.entry">
            <td *ngIf="selectMultiple">
                <input type="checkbox" [ngModel]="isSelected(e)" (ngModelChange)="setSelected(e, $event)" />
            </td>
            <td>
                {{e.resource | fhirDisplay}}
                <sub>{{e.resource.resourceType}}/{{e.resource.id}}</sub>
            </td>
            <td *ngIf="!selectMultiple">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" (click)="select(e, c)">Select</button>
                </div>
            </td>
        </tr>
        <tr *ngIf="results.entry.length < results.total">
            <td colspan="2">
                <a href="javascript:void()" (click)="criteriaChanged(true)">Load More</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">Showing {{results.entry.length}} of {{results.total}} results</th>
        </tr>
        </tfoot>
    </table>
</div>
<div class="modal-footer">
    <div class="pull-left" *ngIf="selected.length > 0">
        Selected {{selected.length}}: <span *ngFor="let s of selected">{{s.resourceType}}/{{s.id}} </span>
        [ <a href="javascript:void()" (click)="selected.splice(0, selected.length)">clear</a> ]
    </div>
    <button type="button" class="btn btn-primary" (click)="select()" *ngIf="selectMultiple" [disabled]="selected.length === 0">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>