<div class="card context" *ngIf="structureDefinition">
    <div class="card-header">
        <input type="checkbox" [ngModel]="structureDefinition.hasOwnProperty('context')" (ngModelChange)="Globals.toggleProperty(structureDefinition, 'context', [{ type: '', expression: '' }])"/>
        Context <app-tooltip-icon tooltipPath="StructureDefinition.context"></app-tooltip-icon>
    </div>
    <table class="table table-striped" *ngIf="structureDefinition.hasOwnProperty('context')">
        <thead>
        <tr>
            <th>
                Type <app-tooltip-icon tooltipKey="StructureDefinition.context.type"></app-tooltip-icon>
            </th>
            <th>
                Expression <app-tooltip-icon tooltipKey="StructureDefinition.context.expression"></app-tooltip-icon>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ci of structureDefinition.context; let cii = index; trackBy: Globals.trackByFn" >
            <td>
                <select class="form-control" [(ngModel)]="structureDefinition.context[cii].type">
                  <option value="fhirpath">FHIR Path</option>
                  <option value="element">Element</option>
                  <option value="extension">Extension</option>
                </select>
                <span *ngIf="structureDefinition.context[cii].type===''">
                  There must be a context type selected</span>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="ci.expression"/>
              <span *ngIf="structureDefinition.type==='Extension' && structureDefinition.context[cii].expression===''">
                If the StructureDefinition type is Extension, there must be a context expression inputted</span>
            </td>
            <td>
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" title="Remove this context" (click)="structureDefinition.context.splice(cii, 1)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
