.profile-picture {
    width: 21px;
    height: 21px;
}

.d-flex {
    min-height: 100%;
}

.nav-icons {
    display: inherit;
}

.navbar-brand > img {
    position: absolute;
}

.navbar-brand > span {
    margin-left: 64px;
}