
<p>Identifiers:</p>
<ul>
  <li *ngFor="let i of practitioner.identifier">{{i.value}} {{i.system ? '(' + i.system + ')' : ''}}</li>
</ul>

<div class="form-group">
  <label>First Name</label>
  <input type="text" class="form-control" [(ngModel)]="firstName" required [class.is-invalid]="!firstName" />
</div>

<div class="form-group">
  <label>Last Name</label>
  <input type="text" class="form-control" [(ngModel)]="lastName" required [class.is-invalid]="!lastName" />
</div>

<div class="form-group">
  <label>Email</label>
  <input type="text" class="form-control" [(ngModel)]="email" required email [class.is-invalid]="!email" />
</div>

<div class="form-group">
  <label>Phone</label>
  <input type="text" class="form-control" [(ngModel)]="phone" />
</div>

<div class="form-group" *ngIf="configService.config?.announcementService">
  <input type="checkbox" [(ngModel)]="announcements" /> Send me announcements regarding Trifolia!
</div>
