
<h1>Page</h1>

<ng-container *ngIf="page" >
  <ul ngbNav #qTabs="ngbNav" class="nav-tabs" [destroyOnHide]="false">
    <li ngbNavItem>
      <a ngbNavLink>General</a>
      <ng-template ngbNavContent>
          <div class="page">
            <div class="row">
              <div class="col-6">
                <app-fhir-string [parentObject]="page" propertyName="name" [required]="true" title="Name"
                              [pattern]="namePattern"
                              [patternMessage]="messagePattern"
                              [disabled] = "page.name === 'index' || page.id" (change)='idChangedEvent.next()'></app-fhir-string>
                <div class="help-block">{{alreadyInUseNameMessage}}</div>
              </div>
              <div class="col-6">
                <label>
                  Show on top nav menu
                  <app-tooltip-icon tooltipKey="ig.page.showTopNavMenu"></app-tooltip-icon>
                </label>
                <input type="text" class="form-control" [(ngModel)]="page.navMenu" [ngbTypeahead]="pageNavMenuSearch" placeholder="Top menu name" />
              </div>
            </div>

            <div class="mb-3" *ngIf="!reuseDescription">
              <label>Content</label>
                <trifolia-fhir-markdown  [(value)]="page.content" [required]="contentRequired" ></trifolia-fhir-markdown>
            </div>
            <div class="mb-3" *ngIf="page.name === 'index'">
              <label>
                <input type="checkbox" [(ngModel)]="reuseDescription" /> The content of this page should be the same as the description and contact(s) of the implementation guide (ImplementationGuide.description and ImplementationGuide.contact).
              </label>
            </div>
          </div>
      </ng-template>
    </li>
  <!-- Version History -->
  <li ngbNavItem="history"  *ngIf="!isNew">
    <a ngbNavLink>History</a>
    <ng-template ngbNavContent>
      <app-resource-history [resource]="page" (resourceChange)="page = $event; page.content = $event;"></app-resource-history>
    </ng-template>
  </li>
  </ul>
  <div [ngbNavOutlet]="qTabs" class="mt-2"></div>
</ng-container>

<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saveDisabled()">Save</button>
    <button type="button" class="btn btn-secondary" (click)="revert()" *ngIf="!isNew">Revert</button>
  </div>
  <span class="message">{{message}}</span>
</footer>

