<h1>Capability Statement</h1>

<ngb-tabset>
    <ngb-tab title="General">
        <ng-template ngbTabContent>
            <div class="row">
                <div class="col-md-8">
                    <app-fhir-string [parentObject]="capabilityStatement" propertyName="url" title="URL"></app-fhir-string>

                    <app-fhir-string [parentObject]="capabilityStatement" propertyName="name" title="Name"></app-fhir-string>

                    <app-fhir-string [parentObject]="capabilityStatement" propertyName="title" title="Title"></app-fhir-string>

                    <app-fhir-string [parentObject]="capabilityStatement" propertyName="publisher" title="Publisher"></app-fhir-string>

                    <div class="card">
                        <div class="card-header">
                            Formats
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-sm" title="Add a format"
                                        (click)="capabilityStatement.format.push('')">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table class="table table-striped">
                            <tbody>
                            <tr *ngFor="let f of capabilityStatement.format; let i = index; trackBy: globals.trackByFn">
                                <td>
                                    <input type="text" class="form-control"
                                           [(ngModel)]="capabilityStatement.format[i]"/>
                                </td>
                                <td>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default btn-sm" title="Remove this format"
                                                (click)="capabilityStatement.format.splice(i, 1)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Patch Formats
                            <input type="checkbox" [ngModel]="capabilityStatement.hasOwnProperty('patchFormat')"
                                   (ngModelChange)="globals.toggleProperty(capabilityStatement, 'patchFormat', [''])"/>
                            <div class="pull-right">
                                <button type="button" class="btn btn-default btn-sm" title="Add a format"
                                        [disabled]="!capabilityStatement.hasOwnProperty('patchFormat')"
                                        (click)="capabilityStatement.patchFormat.push('')">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <table class="table table-striped" *ngIf="capabilityStatement.hasOwnProperty('patchFormat')">
                            <tbody>
                            <tr *ngFor="let f of capabilityStatement.patchFormat; let i = index; trackBy: globals.trackByFn">
                                <td>
                                    <input type="text" class="form-control"
                                           [(ngModel)]="capabilityStatement.patchFormat[i]"/>
                                </td>
                                <td>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default btn-sm" title="Remove this format"
                                                (click)="capabilityStatement.patchFormat.splice(i, 1)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <app-fhir-markdown [parentObject]="capabilityStatement" propertyName="description" title="Description" [isOptional]="true"></app-fhir-markdown>

                    <app-fhir-markdown [parentObject]="capabilityStatement" propertyName="purpose" title="Purpose"></app-fhir-markdown>

                    <app-fhir-markdown [parentObject]="capabilityStatement" propertyName="copyright" title="Copyright"></app-fhir-markdown>
                </div>

                <div class="col-md-4">
                    <app-fhir-date [parentObject]="capabilityStatement" propertyName="date" title="Date" [isOptional]="false"></app-fhir-date>

                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-control" [(ngModel)]="capabilityStatement.status"
                                [class.is-invalid]="!capabilityStatement.status">
                            <option value="draft">Draft</option>
                            <option value="active">Active</option>
                            <option value="retired">Retired</option>
                            <option value="unknown">Unknown</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Kind</label>
                        <select class="form-control" [(ngModel)]="capabilityStatement.kind"
                                [class.is-invalid]="!capabilityStatement.kind">
                            <option value="instance">Instance</option>
                            <option value="capability">Capability</option>
                            <option value="requirements">Requirements</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Accept Unknown</label>
                        <select class="form-control" [(ngModel)]="capabilityStatement.acceptUnknown"
                                [class.is-invalid]="!capabilityStatement.acceptUnknown">
                            <option value="no">No</option>
                            <option value="extensions">Extensions</option>
                            <option value="elements">Elements</option>
                            <option value="both">Both</option>
                        </select>
                    </div>

                    <app-fhir-string [parentObject]="capabilityStatement" propertyName="fhirVersion" title="FHIR Version" [required]="true"></app-fhir-string>

                    <app-fhir-string [parentObject]="capabilityStatement" propertyName="version" title="Version" [required]="true"></app-fhir-string>

                    <app-fhir-boolean [parentObject]="capabilityStatement" propertyName="experimental" title="Experimental" [required]="true"></app-fhir-boolean>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Additional">
        <ng-template ngbTabContent>

            <!-- Use Context -->
            <app-fhir-multi-use-context [parentObject]="capabilityStatement" propertyName="useContext"></app-fhir-multi-use-context>

            <app-fhir-multi-jurisdiction [parentObject]="capabilityStatement"
                                         property="jurisdiction"></app-fhir-multi-jurisdiction>

            <div class="card">
                <div class="card-header">Software</div>
                <div class="card-body">...</div>
            </div>

            <div class="card">
                <div class="card-header">Implementation</div>
                <div class="card-body">...</div>
            </div>

            <div class="card">
                <div class="card-header">Instantiates</div>
                <div class="card-body">...</div>
            </div>

            <div class="card">
                <div class="card-header">Implementation Guides</div>
                <div class="card-body">...</div>
            </div>

            <div class="card">
                <div class="card-header">Profiles</div>
                <div class="card-body">...</div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="REST">
        <ng-template ngbTabContent>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Messaging">
        <ng-template ngbTabContent>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Document">
        <ng-template ngbTabContent>
            <p>
                <input type="checkbox" [ngModel]="capabilityStatement.hasOwnProperty('document')"
                       (ngModelChange)="globals.toggleProperty(capabilityStatement, 'document', [{ mode: 'producer', profile: { reference: '', display: '' }}])"/>
                Capability statement has document(s)
            </p>

            <table class="table table-striped" *ngIf="capabilityStatement.hasOwnProperty('document')">
                <thead>
                <tr>
                    <th>Mode</th>
                    <th>Documentation</th>
                    <th>Profile</th>
                    <th>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" title="Add document"
                                    (click)="capabilityStatement.document.push({ mode: 'producer', profile: { reference: '', display: '' }})">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let d of capabilityStatement.document; let i = index">
                    <td>
                        <select class="form-control">
                            <option value="producer">Producer</option>
                            <option value="consumer">Consumer</option>
                        </select>
                    </td>
                    <td>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <input type="checkbox" [ngModel]="d.hasOwnProperty('documentation')"
                                       (ngModelChange)="globals.toggleProperty(d, 'documentation', '')"/>
                            </div>
                            <input type="text" class="form-control" [(ngModel)]="d.documentation"
                                   [disabled]="!d.hasOwnProperty('documentation')"/>
                        </div>
                    </td>
                    <td>
                        <app-fhir-reference [reference]="d.profile" resourceType="StructureDefinition"
                                            [hideResourceType]="true"></app-fhir-reference>
                    </td>
                    <td>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" title="Remove this document"
                                    (click)="capabilityStatement.document.splice(i, 1)">
                                <i class="fa fa-remove"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-template>
    </ngb-tab>

    <!-- Validation -->
    <ngb-tab id="validation" title="Validation">
        <ng-template ngbTabContent>
            <app-validation-results [results]="validation"></app-validation-results>
        </ng-template>
    </ngb-tab>

    <!-- JSON -->
    <ngb-tab title="JSON">
        <ng-template ngbTabContent>
            <ngb-tabset [justify]="'fill'">
                <ngb-tab title="Pretty">
                    <ng-template ngbTabContent>
                        <t-json-viewer [json]="capabilityStatement"></t-json-viewer>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Plain">
                    <ng-template ngbTabContent>
                        <pre>{{capabilityStatement | json}}</pre>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<footer class="footer">
    <button type="button" class="btn btn-default" (click)="save()">Save</button>
    <span class="message">{{message}}</span>
</footer>