<h1>Edit User/Person</h1>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>My Information</a>
    <ng-template ngbNavContent>
      <user-edit [user]="user" #editUser></user-edit>

      <button type="button" class="btn btn-primary" (click)="saveUser()" [disabled]="!editUser.valid">Save</button>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Groups</a>
    <ng-template ngbNavContent>
      <div class="row">
        <div [class.col-md-3]="editGroup" [class.col-md-12]="!editGroup">
          <h3>Managing Groups</h3>
          <table class="table table-striped managing-groups-table" *ngIf="managingGroups">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th class="actions-column-2">
                <div class="pull-right">
                  <button type="button" class="btn btn-default" title="Add a group" (click)="addGroup()">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mg of managingGroups">
              <td>{{mg.id}}</td>
              <td>{{mg.name}}</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-default" title="Edit this group" (click)="editGroup = mg">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-default" title="Delete this group" (click)="deleteGroup(mg)">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="managingGroups.length === 0">
            <tr>
              <td colspan="3">You are not the manager of any groups.</td>
            </tr>
            </tfoot>
          </table>

          <h3>Membership Groups</h3>
          <table class="table table-striped membership-groups-table" *ngIf="membershipGroups">
            <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th class="actions-column-1">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mg of membershipGroups">
              <td>{{mg.id}}</td>
              <td>{{mg.name}}</td>
              <td>
                <button type="button" class="btn btn-default" title="Remove myself from this" [disabled]="isAdmin(mg)">
                  <i class="fas fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="membershipGroups.length === 0">
            <tr>
              <td colspan="3">You are not a member of any other groups.</td>
            </tr>
            </tfoot>
          </table>
        </div>
        <div class="col-md-9" *ngIf="editGroup">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="mb-3">
                    <label>Name</label>
                    <input type="text" class="form-control" [(ngModel)]="editGroup.name" [class.is-invalid]="!editGroup.name" />
                  </div>

                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Member</th>
                      <th class="actions-column-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let member of editGroup.members; let mi = index">
                      <td>
                        {{member.name || 'Unknown'}}
                      </td>
                      <td>
                        <button type="button" class="btn btn-default" title="Remove this member" [disabled]="isAdmin(editGroup, member)" (click)="editGroup.members.splice(mi, 1)">
                          <i class="fas fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-md-6">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchUsersName" />
                    <input type="text" class="form-control" placeholder="Search by complete email" [(ngModel)]="searchUsersEmail" />
                    <div class="input-group-btn">
                      <button type="submit" class="btn btn-primary" title="Search for users" (click)="searchUsers()">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>

                  <table class="table table-striped" *ngIf="searchUsersBundle">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>User</th>
                      <th>Email</th>
                      <th class="actions-column-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let u of searchUsersResults">
                      <td>{{u.id}}</td>
                      <td>{{u.name}}</td>
                      <td>{{u.email}}</td>
                      <td>
                        <button type="button" class="btn btn-default" title="Add this user as a member to the group" (click)="addMember(u)">
                          <i class="fas fa-plus"></i>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="btn-group">
                <button type="button" class="btn btn-primary" (click)="saveGroup()" [disabled]="!editGroup.name">Save</button>
                <button type="button" class="btn btn-outline-primary" (click)="editGroup = null">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<footer class="footer" *ngIf="message">
  <span class="message">{{message}}</span>
</footer>
