<h1>Edit User/Person</h1>

<ngb-tabset>
    <ngb-tab title="General">
        <ng-template ngbTabContent>
            <app-fhir-practitioner [practitioner]="practitioner"></app-fhir-practitioner>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="RAW">
        <ng-template ngbTabContent>
            <app-raw-resource [resource]="practitioner"></app-raw-resource>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<footer class="footer">
    <button type="button" class="btn btn-default" (click)="save()">Save</button>
    <span class="message">{{message}}</span>
</footer>
