<h2>Users</h2>

<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Users</a>
    <ng-template ngbNavContent>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Identifier</th>
          <th>Source</th>
          <th>Name</th>
          <th class="actions-column-1">
            <div class="pull-right">
              <button type="button" class="btn btn-primary" (click)="refreshUsers()">Refresh</button>
            </div>
          </th>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>
            <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="searchUsersName" (change)="usersCriteriaChanged()" />
          </td>
          <td>&nbsp;</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let u of users">
          <td>{{u.id}}</td>
          <td>{{getAuthIdIdentifier(u.authId)}}</td>
          <td>{{getAuthIdSource(u.authId)}}</td>
          <!-- <td>{{u.authId[0]}}</td>
          <td>{{u.authId[0]}}</td> -->
          <td>{{u.name}}</td>
          <td>
            <div class="pull-right">
              <button type="button" class="btn btn-primary" (click)="mergeUser(u)">Merge</button>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <th colspan="5">Showing 10 of {{totalUsers}} users.</th>
        </tr>
        </tfoot>
      </table>

      <ngb-pagination
        class="d-flex justify-content-center"
        [maxSize]="5"
        [collectionSize]="totalUsers"
        [(page)]="usersPage"
        [boundaryLinks]="true"
        (pageChange)="usersPageChanged.next()">
      </ngb-pagination>
    </ng-template>
  </li>

  <li ngbNavItem>
    <a ngbNavLink>Active Users</a>
    <ng-template ngbNavContent>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>User Id</th>
          <th>Name</th>
          <th>Email</th>
          <th>
            <div class="pull-right">
              <button type="button" class="btn btn-primary" (click)="refresh()">Refresh</button>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let au of activeUsers">
          <td>{{au.userId}}</td>
          <td>{{au.name}}</td>
          <td>{{au.email}}</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </li>

  <li ngbNavItem>
    <a ngbNavLink>Broadcast Message</a>
    <ng-template ngbNavContent>
      <textarea class="form-control" #messageToBroadcast></textarea>
      <button type="button" class="btn btn-primary" (click)="broadcastMessage(messageToBroadcast.value)">Broadcast!</button>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>
