<h1>Profiles/Extensions (Structure Definitions)</h1>

<app-tooltip-icon tooltipKey="structuredefinition.description" [showAsAlert]="true"
                  alertTitle="Description"></app-tooltip-icon>

<div class="card" [attr.data-intro]="Globals.introText['browse.search']">
  <div class="card-header">Search</div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" [ngModel]="nameText" (ngModelChange)="nameTextChanged($event)"
                 placeholder="Search name"/>
        </div>
      </div>
      <div class="col-md-6" *ngIf="showMoreSearch">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" [ngModel]="titleText" (ngModelChange)="titleTextChanged($event)"
                 placeholder="Search title"/>
        </div>
      </div>
      <div class="col-md-6" *ngIf="showMoreSearch">
        <div class="form-group">
          <label>URL</label>
          <input type="text" class="form-control" [ngModel]="urlText" (ngModelChange)="urlTextChanged($event)"
                 placeholder="Search complete url"/>
        </div>
      </div>
      <div class="col-md-6" *ngIf="!configService.project">
        <label>Implementation Guide</label>
        <app-implementation-guide-typeahead [implementationGuideId]="implementationGuideId" (implementationGuideIdChange)="implementationGuideIdChanged($event)"></app-implementation-guide-typeahead>
      </div>
      <div class="col-md-12">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" title="Clear filters" (click)="clearFilters()">
            <i class="fa fa-times"></i> Clear
          </button>
          <button type="button" class="btn btn-primary" title="Refresh" (click)="getStructureDefinitions()">
            <i class="fa fa-search"></i> Search
          </button>
          <button type="button" class="btn btn-primary" title="Show more/less" (click)="toggleSearchOptions()">
            <i class="fas" [class.fa-chevron-circle-down]="!showMoreSearch"
               [class.fa-chevron-circle-up]="showMoreSearch"></i> {{showMoreSearch ? 'Less' : 'More'}} options
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<br/>

<div *ngIf="response && response.total > 0" [attr.data-intro]="Globals.introText['browse.paging']">
  <ngb-pagination class="d-flex justify-content-center"
                  *ngIf="response && response.total > 0"
                  [maxSize]="5"
                  [collectionSize]="response.total"
                  [(page)]="page"
                  [boundaryLinks]="true"
                  (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
</div>

<table class="table table-striped" *ngIf="response">
  <thead>
  <tr>
    <th>ID</th>
    <th>Title/Name, URL</th>
    <th class="experimental">Experimental</th>
    <th>Type</th>
    <th class="contact">Contact</th>
    <th>
      <div class="pull-right">
        <a class="btn btn-primary" routerLink="{{configService.baseSessionUrl}}/structure-definition/new"
           title="Create a new structure definition" [attr.data-intro]="Globals.introText['browse.add']">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </th>
  </tr>
  </thead>
  <tbody *ngIf="!configService.showingIntroduction">
  <tr *ngFor="let structureDefinition of structureDefinitions">
    <td>{{structureDefinition.id}}</td>
    <td>
      {{structureDefinition.title || structureDefinition.name}} <i class="fa fa-comment"
                                                                   *ngIf="structureDefinition.description"
                                                                   [ngbTooltip]="structureDefinition.description"></i>
      <br/>
      <sub *ngIf="structureDefinition.title">{{structureDefinition.name}}</sub>
      <sub>{{structureDefinition.url}}</sub>
    </td>
    <td class="experimental">{{structureDefinition.experimental ? "Yes" : "No"}}</td>
    <td>{{structureDefinition.type}}</td>
    <td class="contact">{{getContactDisplay(structureDefinition)}}</td>
    <td>
      <div class="pull-right btn-group">
        <a class="btn btn-primary"
           routerLink="{{configService.baseSessionUrl}}/structure-definition/{{structureDefinition.id}}"
           title="Edit this resource">
          <i class="fas" [class.fa-edit]="canEdit(structureDefinition)" [class.fa-eye]="!canEdit(structureDefinition)"></i>
        </a>
        <button type="button" class="btn btn-secondary" (click)="remove(structureDefinition)"
                [disabled]="!canEdit(structureDefinition)" title="Remove this resource">
          <i class="fas fa-trash-alt"></i>
        </button>
        <button type="button" class="btn btn-secondary" (click)="changeId(structureDefinition)"
                [disabled]="!canEdit(structureDefinition)" title="Change this resource's ID">
          <i class="fa fa-id-badge"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
  <tbody *ngIf="configService.showingIntroduction">
  <tr>
    <td>DEMO-ID</td>
    <td>
      Demo Title <i class="fa fa-comment" ngbTooltip="This is a description of the profile"></i>
      <br/>
      <sub>Demo Name</sub>
      <sub>http://some.url/for/this/profile</sub>
    </td>
    <td class="experimental">Yes</td>
    <td>Composition</td>
    <td class="contact">Joe Somebody</td>
    <td>
      <div class="pull-right btn-group">
        <a class="btn btn-primary" href="#" title="Edit this resource"
           [attr.data-intro]="Globals.introText['browse.edit']">
          <i class="fa fa-edit"></i>
        </a>
        <button type="button" class="btn btn-secondary" title="Remove this resource"
                [attr.data-intro]="Globals.introText['browse.remove']">
          <i class="fas fa-trash-alt"></i>
        </button>
        <button type="button" class="btn btn-secondary" title="Change this resource's ID"
                [attr.data-intro]="Globals.introText['browse.changeid']">
          <i class="fa fa-id-badge"></i>
        </button>
      </div>
    </td>
  </tr>
  </tbody>
  <tfoot>
  <tr *ngIf="response && response.total === 0">
    <td colspan="3">No profiles (structure definitions)! Create one by clicking <a
      routerLink="{{configService.baseSessionUrl}}/structure-definition/new">here</a>...
    </td>
  </tr>
  <tr *ngIf="response && response.total > 0">
    <td colspan="6">
      <ngb-pagination class="d-flex justify-content-center" [maxSize]="5" [collectionSize]="response.total"
                      [(page)]="page" [boundaryLinks]="true"
                      (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
    </td>
  </tr>
  </tfoot>
</table>

<footer class="footer">
  <span class="message">{{message}}</span>
</footer>
