tr > th:last-child,
tr > td:last-child {
    padding-right: 0px;
}

@media (max-width: 1024px) {
    th.experimental,
    td.experimental {
        display: none;
    }

    th.contact,
    td.contact {
        display: none;
    }
}

select.disabled {
    color: graytext;
}

option {
    color: black;
}

option[value='0: null'] {
    color: graytext;
}