<div class="form-group" *ngIf="isFormGroup && parentObject">
    <label>
        <input type="checkbox" *ngIf="!required" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, defaultValue)" />
        {{title}}
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </label>
    <input type="date" class="form-control"
           [ngModel]="parentObject[propertyName] | date: 'yyyy-MM-dd'"
           (ngModelChange)="parentObject[propertyName] = $event"
           [disabled]="!required && !parentObject.hasOwnProperty(propertyName)"
           [class.is-invalid]="required && !parentObject[propertyName]" />
</div>
<div class="input-group" *ngIf="!isFormGroup && parentObject">
    <div class="input-group-addon" *ngIf="!required || title">
        <input type="checkbox" *ngIf="!required" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="globals.toggleProperty(parentObject, propertyName, defaultValue)" />
        {{title}}
        <app-tooltip-icon [tooltipPath]="tooltipPath" [tooltipKey]="tooltipKey"></app-tooltip-icon>
    </div>
    <input type="date" class="form-control"
           [ngModel]="parentObject[propertyName] | date: 'yyyy-MM-dd'"
           (ngModelChange)="parentObject[propertyName] = $event"
           [disabled]="!required && !parentObject.hasOwnProperty(propertyName)"
           [class.is-invalid]="required && !parentObject[propertyName]" />
</div>