<h1>Implementation Guide (STU3)</h1>

<div class="alert alert-danger" *ngIf="igNotFound">Implementation Guide with id <strong>{{route.snapshot.paramMap.get('id')}}</strong> was not found on the selected FHIR server!</div>

<div class="ig-main" *ngIf="implementationGuide">
  <h2>{{implementationGuide.name || 'no-name'}} <span class="badge badge-warning" *ngIf="!canEdit(implementationGuide)">View-only</span></h2>

  <ngb-tabset [destroyOnHide]="false" (tabChange)="tabChange($event)" #igTabs="ngbTabset">
    <ngb-tab id="general">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.general-tab']">General</span>
      </ng-template>
      <ng-template ngbTabContent>
        <fieldset>
          <div class="row">
            <div class="col-md-8">
              <app-fhir-string [parentObject]="implementationGuide" propertyName="url" title="URL" [required]="true" tooltipPath="ImplementationGuide.url"></app-fhir-string>

              <app-fhir-string
                [parentObject]="implementationGuide"
                [required]="true"
                (change)="nameChanged()"
                [pattern]="Globals.regexPatterns.namePattern"
                [patternMessage]="Globals.tooltips['name.validation.failed']"
                propertyName="name"
                title="Name"
                tooltipPath="ImplementationGuide.name">
              </app-fhir-string>

              <app-fhir-markdown [parentObject]="implementationGuide" propertyName="description" title="Description" [isOptional]="true" tooltipPath="ImplementationGuide.description"></app-fhir-markdown>

              <app-fhir-string [parentObject]="implementationGuide" propertyName="publisher" title="Publisher" tooltipPath="ImplementationGuide.publisher"></app-fhir-string>

              <app-fhir-markdown [parentObject]="implementationGuide" propertyName="copyright" title="Copyright" tooltipPath="ImplementationGuide.copyright"></app-fhir-markdown>

              <app-fhir-multi-contact [parentObject]="implementationGuide" propertyName="contact" title="Contacts" tooltipPath="ImplementationGuide.contact"></app-fhir-multi-contact>

              <div class="card">
                <div class="card-header">Dependencies
                  <app-tooltip-icon tooltipPath="ImplementationGuide.dependency"></app-tooltip-icon>
                </div>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>URI</th>
                    <th>Version</th>
                    <th class="actions-column-1">
                      <div class="pull-right">
                        <button type="button" class="btn btn-default" title="Add a dependency" (click)="addDependency()">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let dependency of dependencies">
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" [class.is-invalid]="!getDependencyName(dependency)" [ngModel]="getDependencyName(dependency)"
                               (ngModelChange)="setDependencyName(dependency, $event)"/>
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default" (click)="selectPublishedIg(dependency)">
                            <i class="fas fa-hand-pointer"></i>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="text" class="form-control" [class.is-invalid]="!getDependencyLocation(dependency)" [ngModel]="getDependencyLocation(dependency)"
                             (ngModelChange)="setDependencyLocation(dependency, $event)"/>
                    </td>
                    <td>
                      <input type="text" class="form-control" [class.is-invalid]="!getDependencyVersion(dependency)" [ngModel]="getDependencyVersion(dependency)"
                             (ngModelChange)="setDependencyVersion(dependency, $event)"/>
                    </td>
                    <td>
                      <div class="pull-right">
                        <button type="button" class="btn btn-default" title="Remove this dependency" (click)="removeDependency(dependency)">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>ID
                  <app-tooltip-icon *ngIf="!isNew" tooltipKey="resource.move"></app-tooltip-icon>
                </label>
                <div [class.input-group]="!isNew">
                  <input type="text" class="form-control" [disabled]="!isNew" [(ngModel)]="implementationGuide.id" placeholder="AUTO"/>
                  <div class="input-group-btn" *ngIf="!isNew">
                    <button type="button" class="btn btn-primary" (click)="changeId()">Change</button>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Package ID</label>
                <input type="text" class="form-control" [(ngModel)]="packageId"/>
              </div>

              <app-fhir-string [parentObject]="implementationGuide" propertyName="version" title="Version" tooltipPath="ImplementationGuide.version"></app-fhir-string>

              <div class="form-group">
                <label>Status
                  <app-tooltip-icon tooltipPath="ImplementationGuide.status"></app-tooltip-icon>
                </label>
                <select class="form-control" [(ngModel)]="implementationGuide.status">
                  <option [ngValue]="'draft'">Draft</option>
                  <option [ngValue]="'active'">Active</option>
                  <option [ngValue]="'retired'">Retired</option>
                  <option [ngValue]="'unknown'">Unknown</option>
                </select>
              </div>

              <app-fhir-string [parentObject]="implementationGuide" propertyName="fhirVersion" title="FHIR Version"></app-fhir-string>

              <app-fhir-boolean [parentObject]="implementationGuide" propertyName="experimental" title="Experimental" tooltipPath="ImplementationGuide.experimental"></app-fhir-boolean>
              <div class="container">
                <div class="btn-holder">
               	 <button 
                type="button"  href="javascript:void(0)"routerLink="{{configService.baseSessionUrl}}/home" (click)="removeImplementationGuide()"  
				         >Delete Implementation Guide</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </ng-template>
    </ngb-tab>
    
    <!-- Globals -->
    <ngb-tab id="globals">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.globals-tab']">Globals</span>
      </ng-template>
      <ng-template ngbTabContent>
        <p>
          <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('global')"
                 (ngModelChange)="Globals.toggleProperty(implementationGuide, 'global', [{type: '', profile: { reference: '' }}])"/> Allow globals
          <app-tooltip-icon tooltipPath="ImplementationGuide.global"></app-tooltip-icon>
        </p>

        <table class="table" *ngIf="implementationGuide.hasOwnProperty('global')">
          <thead>
          <tr>
            <th>Type
              <app-tooltip-icon tooltipPath="ImplementationGuide.global.type"></app-tooltip-icon>
            </th>
            <th>Profile
              <app-tooltip-icon tooltipPath="ImplementationGuide.global.profile"></app-tooltip-icon>
            </th>
            <th class="actions-column-1">
              <div class="pull-right">
                <button type="button" class="btn btn-primary" title="Add global"
                        (click)="implementationGuide.global.push({type: '', profile: { reference: '' }})">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let g of implementationGuide.global; let i = index" [attr.data-index]="i">
            <td>
              <select class="form-control" [(ngModel)]="g.type">
                <option *ngFor="let o of resourceTypeCodes" [ngValue]="o.code">{{o.display}}</option>
              </select>
            </td>
            <td>
              <app-fhir-reference [parentObject]="g" propertyName="profile" [isFormGroup]="false"></app-fhir-reference>
            </td>
            <td>
              <div class="pull-right">
                <button type="button" class="btn btn-default" title="Remove global"
                        (click)="implementationGuide.global.splice(i, 1)"><i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="resources">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.resources-tab']">Resources</span>
      </ng-template>
      <ng-template ngbTabContent>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              Package <app-tooltip-icon tooltipPath="ImplementationGuide.package"></app-tooltip-icon>
            </th>
            <th>
              Resource <app-tooltip-icon tooltipPath="ImplementationGuide.package.resource"></app-tooltip-icon>
            </th>
            <th>
              Example? <app-tooltip-icon tooltipPath="ImplementationGuide.package.resource.example"></app-tooltip-icon>
            </th>
            <th class="actions-column-2">
              <div class="pull-right">
                <button type="button" class="btn btn-default" title="Add a resource to this implementation guide" (click)="addResources()">
                  <i class="fas fa-hand-pointer"></i>
                </button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ir of resources">
            <td>
              <select class="form-control" [ngModel]="ir.igPackage" (ngModelChange)="changeResourcePackage(ir, $event)">
                <option *ngFor="let p of implementationGuide.package; let pi = index" [ngValue]="p">{{p.name || 'Index ' + pi}}</option>
              </select>
            </td>
            <td>
              <app-fhir-reference [parentObject]="ir.resource" propertyName="sourceReference" resourceType="StructureDefinition" [isFormGroup]="false" [required]="true" [hideDisplay]="true"></app-fhir-reference>
            </td>
            <td>
              <app-fhir-boolean [parentObject]="ir.resource" propertyName="example" [isFormGroup]="false"></app-fhir-boolean>
            </td>
            <td>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" title="Edit additional fields for this resource" (click)="editImplementationGuideResource(ir)">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-secondary" title="Remove this resource (and package, if no resources are left in it) from this implementation guide"
                        (click)="removeResource(ir)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr *ngIf="resources.length === 0">
            <td colspan="3">No resources are associated with this implementation guide.</td>
          </tr>
          </tfoot>
        </table>
      </ng-template>
    </ngb-tab>

    <!-- Packages -->
    <ngb-tab id="packages">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.packages-tab']">Packages</span>
      </ng-template>
      <ng-template ngbTabContent>
        <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('package')"
               (ngModelChange)="Globals.toggleProperty(implementationGuide, 'package', [{ name: '', resource: [{ sourceReference: { reference: '', display: '' }, example: false}]}])"/> This
        implementation guide has packages
        <app-tooltip-icon tooltipPath="ImplementationGuide.package"></app-tooltip-icon>
        <ngb-tabset *ngIf="implementationGuide.hasOwnProperty('package')" justify="center" #packagesTabSet [destroyOnHide]="false">
          <ngb-tab *ngFor="let p of implementationGuide.package; let pi = index" id="package-{{pi}}">
            <ng-template ngbTabTitle>
              <span title="{{p.name}}">#{{pi + 1}}</span>
              <i class="fas fa-trash-alt" title="Remove this package"
                 (click)="ClientHelper.promptForRemove(implementationGuide.package, pi, 'Are you sure you want to remove this package?', $event)"></i>
            </ng-template>
            <ng-template ngbTabContent>
              <div class="form-group">
                <label>Name
                  <app-tooltip-icon tooltipPath="ImplementationGuide.package.name"></app-tooltip-icon>
                </label>
                <input type="text" class="form-control" [(ngModel)]="p.name"/>
              </div>

              <div class="form-group">
                <label>
                  <input type="checkbox" [ngModel]="p.hasOwnProperty('description')"
                         (ngModelChange)="Globals.toggleProperty(p, 'description', '')"/>
                  Description
                  <app-tooltip-icon tooltipPath="ImplementationGuide.package.description"></app-tooltip-icon>
                </label>
                <trifolia-fhir-markdown [(value)]="p.description" [disabled]="!p.hasOwnProperty('description')"></trifolia-fhir-markdown>
              </div>

              <h4>Resources
                <app-tooltip-icon tooltipPath="ImplementationGuide.package.resource"></app-tooltip-icon>
              </h4>
              <table class="table">
                <thead>
                <tr>
                  <th>Name
                    <app-tooltip-icon tooltipPath="ImplementationGuide.package.resource.name"></app-tooltip-icon>
                  </th>
                  <th>Source Type</th>
                  <th>Source</th>
                  <th class="actions-column-2">
                    <div class="pull-right">
                      <button type="button" class="btn btn-primary" title="Add resource" (click)="addResources(p)">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let r of p.resource; let ri = index" [attr.data-index]="ri">
                  <td>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <input type="checkbox" [ngModel]="r.hasOwnProperty('name')"
                               (ngModelChange)="Globals.toggleProperty(r, 'name', '')"/>
                      </div>
                      <input type="text" class="form-control" [(ngModel)]="r.name"
                             [disabled]="!r.hasOwnProperty('name')"/>
                    </div>
                  </td>
                  <td>
                    <div class="input-group">
                      <select class="form-control" [ngModel]="getResourceSourceType(r)"
                              (ngModelChange)="setResourceSourceType(r, $event)">
                        <option value="uri">URI</option>
                        <option value="reference">Reference</option>
                      </select>
                    </div>
                  </td>
                  <td>
                    <input type="text" class="form-control" *ngIf="r.hasOwnProperty('sourceUri')" [(ngModel)]="r.sourceUri" placeholder="URI"/>
                    <app-fhir-reference *ngIf="r.hasOwnProperty('sourceReference')" [parentObject]="r" propertyName="sourceReference" [required]="true" [isFormGroup]="false"></app-fhir-reference>
                  </td>
                  <td>
                    <div class="btn-group pull-right">
                      <button type="button" class="btn btn-default" (click)="editPackageResourceModal(r, packageResourceModal)" title="Edit additional properties for this package resource">
                        <i class="fa fa-edit"></i>
                      </button>
                      <button type="button" class="btn btn-default" [disabled]="p.resource.length === 1"
                              (click)="ClientHelper.promptForRemove(p.resource, ri, 'Are you sure you want to remove this resource?')" title="Remove resource">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </ng-template>
          </ngb-tab>
          <ngb-tab [disabled]="true">
            <ng-template ngbTabTitle>
              <button type="button" class="btn btn-default" title="Add a package entry" (click)="addPackageEntry(packagesTabSet)">Add</button>
            </ng-template>
            <ng-template ngbTabContent></ng-template>
          </ngb-tab>
        </ngb-tabset>
      </ng-template>
    </ngb-tab>

    <!-- Binary -->
    <ngb-tab id="binary" title="Binary">
      <ng-template ngbTabContent>
        <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('binary')" (ngModelChange)="Globals.toggleProperty(implementationGuide, 'binary', [''])"/>
        Implementation guide has binary URIs
        <app-tooltip-icon tooltipPath="ImplementationGuide.binary"></app-tooltip-icon>

        <table class="table" *ngIf="implementationGuide.hasOwnProperty('binary')">
          <thead>
          <tr>
            <th>URI</th>
            <th class="actions-column-1">
              <div class="pull-right">
                <button type="button" class="btn btn-default" title="Add a new binary URI" (click)="implementationGuide.binary.push('')">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let b of implementationGuide.binary; let i = index; trackBy: Globals.trackByFn">
            <td>
              <input type="text" class="form-control" [(ngModel)]="implementationGuide.binary[i]"/>
            </td>
            <td>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" title="Remove this binary URI" (click)="implementationGuide.binary.splice(i, 1)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <!-- Pages -->
    <ngb-tab id="pages">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['ig.narrative-tab']">Narrative/Pages</span>
      </ng-template>
      <ng-template ngbTabContent>
        <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('page')"
               (ngModelChange)="toggleRootPage($event)"/> Implementation guide has pages
        <app-tooltip-icon tooltipPath="ImplementationGuide.page"></app-tooltip-icon>

        <table class="table" *ngIf="implementationGuide.hasOwnProperty('page')">
          <thead>
          <tr>
            <th>Title
              <app-tooltip-icon tooltipPath="ImplementationGuide.page.title"></app-tooltip-icon>
            </th>
            <th>Kind
              <app-tooltip-icon tooltipPath="ImplementationGuide.page.kind"></app-tooltip-icon>
            </th>
            <th class="actions-column-5">&nbsp;</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of pages" class="page-prefix-{{p.level}}">
            <td>
              <input type="text" class="form-control" [(ngModel)]="p.page.title"
                     [class.is-invalid]="!p.page.title"/>
            </td>
            <td>
              <select class="form-control" [(ngModel)]="p.page.kind" [class.is-invalid]="!p.page.kind">
                <option value="page">Page</option>
                <option value="example">Example</option>
                <option value="list">List</option>
                <option value="include">Include</option>
                <option value="directory">Directory</option>
                <option value="dictionary">Dictionary</option>
                <option value="toc">Table of Contents</option>
                <option value="resource">Resource</option>
              </select>
            </td>
            <td>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" (click)="editPage(p)" title="Edit this page">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-default" [disabled]="pages.length === 1" (click)="removePage(p)" title="Remove this page and all children">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-default" (click)="addChildPage(p)" title="Add a page as a child of this page">
                  <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-default" [disabled]="isMovePageUpDisabled(p)" (click)="movePageUp(p)" title="Move sibling page up">
                  <i class="fa fa-arrow-up"></i>
                </button>
                <button type="button" class="btn btn-default" [disabled]="isMovePageDownDisabled(p)" (click)="movePageDown(p)" title="Move sibling page down">
                  <i class="fa fa-arrow-down"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="permissions" *ngIf="configService.config.enableSecurity">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.permissions-tab']">Permissions</span>
      </ng-template>
      <ng-template ngbTabContent>
        <trifolia-fhir-resource-permissions [resource]="implementationGuide"></trifolia-fhir-resource-permissions>
      </ng-template>
    </ngb-tab>

    <!-- Validation -->
    <ngb-tab id="validation">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.validation-tab']">Validation</span> <span *ngIf="validation && validation.messages && validation.messages.length > 0">({{validation.messages.length}})</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-validation-results [results]="validation"></app-validation-results>
      </ng-template>
    </ngb-tab>

    <!-- RAW JSON/XML -->
    <ngb-tab id="raw">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.raw-tab']">RAW</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-raw-resource [resource]="implementationGuide" [shown]="igTabs.activeId === 'raw'"></app-raw-resource>
      </ng-template>
    </ngb-tab>

    <!-- Version History -->
    <ngb-tab id="history" *ngIf="!isNew">
      <ng-template ngbTabTitle>
        <span [attr.data-intro]="Globals.introText['resource.history-tab']">History</span>
      </ng-template>
      <ng-template ngbTabContent>
        <app-resource-history [(resource)]="implementationGuide"></app-resource-history>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<ng-template #packageResourceModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit package resource</h4>
    <button type="button" class="close" aria-label="Close" (click)="closePackageResourceModal(d)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-fhir-string [parentObject]="currentResource" propertyName="name" title="Name"></app-fhir-string>

    <div class="form-group">
      <label>Source type</label>
      <div class="input-group">
        <select class="form-control" [ngModel]="getResourceSourceType(currentResource)" (ngModelChange)="setResourceSourceType(currentResource, $event)">
          <option value="uri">URI</option>
          <option value="reference">Reference</option>
        </select>
      </div>
    </div>

    <app-fhir-string *ngIf="currentResource.hasOwnProperty('sourceUri')" [parentObject]="currentResource" propertyName="sourceUri" title="Source URI" [required]="true"></app-fhir-string>

    <app-fhir-reference *ngIf="currentResource.hasOwnProperty('sourceReference')" [parentObject]="currentResource" propertyName="sourceReference" [required]="true"
                        title="Source Reference"></app-fhir-reference>

    <app-fhir-string [parentObject]="currentResource" propertyName="description" title="Description"></app-fhir-string>

    <app-fhir-string [parentObject]="currentResource" propertyName="acronym" title="Acronym"></app-fhir-string>

    <app-fhir-boolean [parentObject]="currentResource" propertyName="example" title="Example"></app-fhir-boolean>

    <app-fhir-reference [parentObject]="currentResource" propertyName="exampleFor" resourceType="StructureDefinition" *ngIf="currentResource.example || currentResource.exampleFor"
                        title="Example for"></app-fhir-reference>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closePackageResourceModal(c)">Close</button>
  </div>
</ng-template>

<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!canEdit(implementationGuide)" [attr.data-intro]="Globals.introText['resource.save-btn']">Save</button>
    <button type="button" class="btn btn-secondary" (click)="revert()" *ngIf="!isNew">Revert</button>
  </div>
  <span class="message">{{message}}</span>
</footer>
