<h1>Implementation Guide (STU3)</h1>

<div class="alert alert-danger" *ngIf="igNotFound">Implementation Guide with id <strong>{{route.snapshot.paramMap.get('id')}}</strong> was not found on the selected FHIR server!</div>

<div class="ig-main" *ngIf="fhirResource && implementationGuide">
  <h2>
    {{implementationGuide.name || 'no-name'}} <span class="badge bg-warning" *ngIf="!canEdit(fhirResource)">View-only</span>

  </h2>
  <ul ngbNav #igTabs="ngbNav" class="nav-tabs" [destroyOnHide]="false" (navChange)="tabChange($event)">
    <li ngbNavItem="general">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['ig.general-tab']">General</span>
      </a>
      <ng-template ngbNavContent>
        <fieldset>
          <div class="row">
            <div class="col-md-8">
              <app-fhir-string [parentObject]="implementationGuide" propertyName="url" title="URL" [required]="true" tooltipPath="ImplementationGuide.url" (change)="igChanging.emit(true);"></app-fhir-string>

              <app-fhir-string
                [parentObject]="implementationGuide"
                [required]="true"
                (change)="igChanging.emit(true);"
                [pattern]="Globals.regexPatterns.namePattern"
                [patternMessage]="Globals.tooltips['name.validation.failed']"
                propertyName="name"
                title="Name"
                tooltipPath="ImplementationGuide.name">
              </app-fhir-string>

              <app-fhir-markdown [parentObject]="implementationGuide" propertyName="description" title="Description" [isOptional]="true" tooltipPath="ImplementationGuide.description" (change)="igChanging.emit(true);"></app-fhir-markdown>

              <app-fhir-string [parentObject]="implementationGuide" propertyName="publisher" title="Publisher" tooltipPath="ImplementationGuide.publisher" (change)="igChanging.emit(true);"></app-fhir-string>

              <app-fhir-markdown [parentObject]="implementationGuide" propertyName="copyright" title="Copyright" tooltipPath="ImplementationGuide.copyright" (change)="igChanging.emit(true);"></app-fhir-markdown>

              <app-fhir-multi-contact [parentObject]="implementationGuide" propertyName="contact" title="Contacts" tooltipPath="ImplementationGuide.contact" (change)="igChanging.emit(true);"></app-fhir-multi-contact>

              <div class="card">
                <div class="card-header">Dependencies
                  <app-tooltip-icon tooltipPath="ImplementationGuide.dependency"></app-tooltip-icon>
                </div>
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Package ID</th>
                    <th>Dependency ID</th>
                    <th>URI</th>
                    <th>Version</th>
                    <th class="actions-column-1">
                      <div class="pull-right">
                        <button type="button" class="btn btn-default" title="Add a dependency" (click)="addDependency(); igChanging.emit(true);">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let dependency of dependencies">
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" [class.is-invalid]="!getDependencyName(dependency)" [ngModel]="getDependencyName(dependency)"
                               (ngModelChange)="setDependencyName(dependency, $event)" (change)="igChanging.emit(true);"/>
                        <div class="input-group-btn">
                          <button type="button" class="btn btn-default" (click)="selectPublishedIg(dependency)">
                            <i class="fas fa-hand-pointer"></i>
                          </button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <input type="text" class="form-control" [class.is-invalid]="!getDependencyID(dependency)" [ngModel]="getDependencyID(dependency)"
                             (ngModelChange)="setDependencyID(dependency, $event)" (change)="igChanging.emit(true);"/>
                    </td>
                    <td>
                      <input type="text" class="form-control" [class.is-invalid]="!getDependencyLocation(dependency)" [ngModel]="getDependencyLocation(dependency)"
                             (ngModelChange)="setDependencyLocation(dependency, $event)" (change)="igChanging.emit(true);"/>
                    </td>
                    <td>
                      <input type="text" class="form-control" [class.is-invalid]="!getDependencyVersion(dependency)" [ngModel]="getDependencyVersion(dependency)"
                             (ngModelChange)="setDependencyVersion(dependency, $event)" (change)="igChanging.emit(true);"/>
                    </td>
                    <td>
                      <div class="pull-right">
                        <button type="button" class="btn btn-default" title="Remove this dependency" (click)="removeDependency(dependency); igChanging.emit(true);">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4">
              <div class="mb-3">
                <label>ID
                  <app-tooltip-icon *ngIf="!isNew" tooltipKey="resource.move"></app-tooltip-icon>
                </label>
                <div [class.input-group]="!isNew">
                  <input type="text" class="form-control" [disabled]="!isNew" [(ngModel)]="implementationGuide.id" placeholder="AUTO"/>
                  <div class="input-group-btn" *ngIf="!isNew">
                    <button type="button" class="btn btn-primary" (click)="changeId()">Change</button>
                  </div>
                </div>
              </div>

              <app-fhir-date [parentObject]="implementationGuide" propertyName="date" title="Date" [allowTime]="true"></app-fhir-date>

              <div class="mb-3">
                <label>Package ID</label>
                <input type="text" class="form-control" [(ngModel)]="packageId" [class.is-invalid]="!packageId || !packageIdFormatValid" (change)="igChanging.emit(true);"/>
                <span class="help-block" *ngIf="!packageId">You must specify Package ID.</span>
                <div class="help-block" *ngIf="!packageIdFormatValid">If this is an HL7 implementation guide, it must match the format <strong>hl7.family.realm.id</strong>.
                  <ul><li>"family" can be "fhir" or "cda"</li><li>"realm" can be "us" or "uv"</li></ul>
                </div>
              </div>

              <div class="mb-3" *ngIf="packageId && packageId.startsWith('hl7.')">
                <label>HL7 Work Group</label>
                <select class="form-select" [(ngModel)]="hl7WorkGroup" [class.is-invalid]="!hl7WorkGroup" (change)="igChanging.emit(true);">
                  <option *ngFor="let wg of Globals.hl7WorkGroups" [value]="wg.url">{{wg.name}}</option>
                  <option [ngValue]="undefined">Unspecified</option>
                </select>
              </div>

              <app-fhir-string
                [parentObject]="implementationGuide"
                propertyName="version"
                title="Version"
                tooltipPath="ImplementationGuide.version"
                [required]="true"
                (change)="igChanging.emit(true);">
              </app-fhir-string>

              <div class="mb-3">
                <label>Status
                  <app-tooltip-icon tooltipPath="ImplementationGuide.status"></app-tooltip-icon>
                </label>
                <select class="form-select" [(ngModel)]="implementationGuide.status" (change)="igChanging.emit(true);">
                  <option [ngValue]="'draft'">Draft</option>
                  <option [ngValue]="'active'">Active</option>
                  <option [ngValue]="'retired'">Retired</option>
                  <option [ngValue]="'unknown'">Unknown</option>
                </select>
              </div>

              <app-fhir-string [parentObject]="implementationGuide" propertyName="fhirVersion" title="FHIR Version" (change)="igChanging.emit(true);"></app-fhir-string>

              <app-fhir-boolean [parentObject]="implementationGuide" propertyName="experimental" title="Experimental" tooltipPath="ImplementationGuide.experimental"
                                (change)="igChanging.emit(true);"></app-fhir-boolean>
            </div>
          </div>
        </fieldset>
      </ng-template>
    </li>

    <!-- Pages -->
    <li ngbNavItem="pages">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['ig.narrative-tab']">Narrative/Pages</span>
      </a>
      <ng-template ngbNavContent>
        <table class="table">
          <thead>
          <tr>
            <th>
              Title
              <app-tooltip-icon tooltipPath="ImplementationGuide.page.title"></app-tooltip-icon>
            </th>
            <th>
              File Name (Source)
              <app-tooltip-icon tooltipPath="ImplementationGuide.page.source"></app-tooltip-icon>
            </th>
            <th>
              Kind
              <app-tooltip-icon tooltipPath="ImplementationGuide.page.kind"></app-tooltip-icon>
            </th>
            <th class="actions-column-5">&nbsp;</th>
          </tr>
          </thead>
          <tbody *ngIf="pages?.length">
          <tr *ngFor="let p of pages" class="page-prefix-{{p.level}}">
            <td>
              <input type="text" class="form-control" [ngModel]="p.page.title" (ngModelChange)="p.page.setTitle($event, this.implementationGuide.page === p.page)" [class.is-invalid]="!p.page.title"
              (change)="igChanging.emit(true);"/>
            </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="p.page.source" [class.is-invalid]="!p.page.source" (change)="igChanging.emit(true);"/>
              <span *ngIf="isFileNameInvalid(p)" style="color:red">The file name must not include special characters such as "&" and "/"</span>
            </td>
            <td>
              <select class="form-select" [(ngModel)]="p.page.kind" [class.is-invalid]="!p.page.kind" (change)="igChanging.emit(true);">
                <option value="page">Page</option>
                <option value="example">Example</option>
                <option value="list">List</option>
                <option value="include">Include</option>
                <option value="directory">Directory</option>
                <option value="dictionary">Dictionary</option>
                <option value="toc">Table of Contents</option>
                <option value="resource">Resource</option>
              </select>
            </td>
            <td>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" (click)="editPage(p)" title="Edit this page">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-default" (click)="removePage(p); igChanging.emit(true);" title="Remove this page and all children">
                  <i class="fas fa-trash-alt"></i>
                </button>
                <button type="button" class="btn btn-default" (click)="addChildPage(p); igChanging.emit(true);" title="Add a page as a child of this page">
                  <i class="fa fa-plus"></i>
                </button>
                <button type="button" class="btn btn-default" [disabled]="isMovePageUpDisabled(p)" (click)="movePageUp(p); igChanging.emit(true);" title="Move sibling page up">
                  <i class="fa fa-arrow-up"></i>
                </button>
                <button type="button" class="btn btn-default" [disabled]="isMovePageDownDisabled(p)" (click)="movePageDown(p); igChanging.emit(true);" title="Move sibling page down">
                  <i class="fa fa-arrow-down"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot *ngIf="!pages?.length">
          <tr>
            <th colspan="3">
              <p>No pages have been defined for this implementation guide.</p>
              <button type="button" class="btn btn-primary" (click)="toggleRootPage(true); igChanging.emit(true);">
                Add a narrative page
              </button>
            </th>
          </tr>
          </tfoot>
        </table>
      </ng-template>
    </li>

    <!-- Other -->
    <li ngbNavItem="other">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['ig.other-tab']">Other</span>
      </a>
      <ng-template ngbNavContent>
        <app-fhir-multi-jurisdiction [parentObject]="implementationGuide" propertyName="jurisdiction" (change)="igChanging.emit(true);"></app-fhir-multi-jurisdiction>

        <div class="card">
          <div class="card-header">
            Parameters <app-tooltip-icon tooltipKey="ig.parameter"></app-tooltip-icon>
          </div>
          <table class="table table-striped">
            <thead>
            <tr>
              <th>
                Code
              </th>
              <th>
                Value
              </th>
              <th class="actions-column-1">
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" (click)="addParameter(); igChanging.emit(true);" title="Add a new parameter">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="parameters.length > 0">
            <tr *ngFor="let param of parameters; let pi = index">
              <td>
                <div class="input-group">
                  <input type="text" class="form-control" [class.is-invalid]="!param.code" [(ngModel)]="param.code" (change)="igChanging.emit(true);"/>
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:void(0)" *ngFor="let p of Globals.igParameters" (click)="param.code = p">{{p}}</a>
                  </div>
                </div>
              </td>
              <td>
                <app-fhir-string [parentObject]="param" propertyName="value" [isFormGroup]="false" [required]="true" (change)="igChanging.emit(true);"></app-fhir-string>
              </td>
              <td>
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" (click)="removeParameter(param); igChanging.emit(true);" title="Remove this parameter">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="parameters.length === 0">
            <tr>
              <td colspan="3">
                No parameters have been defined. Click <a href="javascript:void(0)" (click)="addParameter(); igChanging.emit(true);">here</a> to add one.
              </td>
            </tr>
            </tfoot>
          </table>
        </div>

        <div class="card">
          <div class="card-header">
            Globals
            <app-tooltip-icon tooltipPath="ImplementationGuide.global"></app-tooltip-icon>
          </div>
          <table class="table">
            <thead>
            <tr>
              <th>Type
                <app-tooltip-icon tooltipPath="ImplementationGuide.global.type"></app-tooltip-icon>
              </th>
              <th>Profile
                <app-tooltip-icon tooltipPath="ImplementationGuide.global.profile"></app-tooltip-icon>
              </th>
              <th class="actions-column-1">
                <div class="pull-right">
                  <button type="button" class="btn btn-primary" title="Add global" (click)="addGlobal(); igChanging.emit(true);">
                    <i class="fa fa-plus"></i>
                  </button>
                </div>
              </th>
            </tr>
            </thead>
            <tbody *ngIf="implementationGuide.hasOwnProperty('global')">
            <tr *ngFor="let g of implementationGuide.global; let i = index" [attr.data-index]="i">
              <td>
                <select class="form-select" [(ngModel)]="g.type" (change)="igChanging.emit(true);">
                  <option *ngFor="let o of resourceTypeCodes" [ngValue]="o.code">{{o.display}}</option>
                </select>
              </td>
              <td>
                <app-fhir-reference [parentObject]="g" propertyName="profile" [isFormGroup]="false" (change)="igChanging.emit(true);"></app-fhir-reference>
              </td>
              <td>
                <div class="pull-right">
                  <button type="button" class="btn btn-default" title="Remove global"
                          (click)="implementationGuide.global.splice(i, 1); igChanging.emit(true);"><i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot *ngIf="!implementationGuide.global || implementationGuide.global.length === 0">
            <tr>
              <td colspan="3">
                <p><em>This implementation guide does not have any global definitions.</em></p>
                <button type="button" class="btn btn-primary" (click)="addGlobal(); igChanging.emit(true);">Add a global definition</button>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </ng-template>
    </li>

    <!-- Publishing -->
    <li ngbNavItem="publishing">
      <a ngbNavLink>Publishing</a>
      <ng-template ngbNavContent>
        <div class="row">
          <div class="col-md-12">
            <trifolia-fhir-package-list
              [implementationGuide]="implementationGuide"
              [defaultName]="implementationGuide.name"
              [defaultPackageId]="packageId"
              (change)="igChanging.emit(true);">
            </trifolia-fhir-package-list>
          </div>

          <div class="col-md-12">
            <trifolia-fhir-ignore-warnings [implementationGuide]="implementationGuide" (change)="igChanging.emit(true);;"></trifolia-fhir-ignore-warnings>
          </div>

          <div class="col-md-12">
            <trifolia-fhir-jira-spec [implementationGuide]="implementationGuide" (change)="igChanging.emit(true);;"></trifolia-fhir-jira-spec>
          </div>
        </div>
      </ng-template>
    </li>

    <li ngbNavItem="resources">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['ig.resources-tab']">Resources</span>
      </a>
      <ng-template ngbNavContent>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>
              Package <app-tooltip-icon tooltipPath="ImplementationGuide.package"></app-tooltip-icon>
            </th>
            <th>
              Resource <app-tooltip-icon tooltipPath="ImplementationGuide.package.resource"></app-tooltip-icon>
            </th>
            <th>
              Example? <app-tooltip-icon tooltipPath="ImplementationGuide.package.resource.example"></app-tooltip-icon>
            </th>
            <th class="actions-column-2">
              <div class="pull-right">
                <button type="button" class="btn btn-default" title="Add a resource to this implementation guide" (click)="addResources()">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let ir of resources">
            <td>
              <select class="form-select" [ngModel]="ir.igPackage" (ngModelChange)="changeResourcePackage(ir, $event)" (change)="igChanging.emit(true);">
                <option *ngFor="let p of implementationGuide.package; let pi = index" [ngValue]="p">{{p.name || 'Index ' + pi}}</option>
              </select>
            </td>
            <td>
              <app-fhir-reference [parentObject]="ir.resource" propertyName="sourceReference" resourceType="StructureDefinition" [isFormGroup]="false" [required]="true" [hideDisplay]="true"
                                  (change)="igChanging.emit(true);"></app-fhir-reference>
            </td>
            <td>
              <app-fhir-boolean [parentObject]="ir.resource" propertyName="example" [isFormGroup]="false" (change)="igChanging.emit(true);"></app-fhir-boolean>
            </td>
            <td>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" title="Edit additional fields for this resource" (click)="editImplementationGuideResource(ir)">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-secondary" title="Remove this resource (and package, if no resources are left in it) from this implementation guide"
                        (click)="removeResource(ir);">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr *ngIf="resources.length === 0">
            <td colspan="3">No resources are associated with this implementation guide.</td>
          </tr>
          </tfoot>
        </table>
      </ng-template>
    </li>

    <!-- Packages -->
    <li ngbNavItem="packages">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['ig.packages-tab']">Packages</span>
      </a>
      <ng-template ngbNavContent>
        <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('package')"
               (ngModelChange)="Globals.toggleProperty(implementationGuide, 'package', [{ name: '', resource: [{ sourceReference: { reference: '', display: '' }, example: false}]}])"
        (change)="igChanging.emit(true);"/> This
        implementation guide has packages
        <app-tooltip-icon tooltipPath="ImplementationGuide.package"></app-tooltip-icon>
        <ng-container *ngIf="implementationGuide.hasOwnProperty('package')">
          <ul ngbNav #packagesTabSet="ngbNav" justify="center" [destroyOnHide]="false">
            <li *ngFor="let p of implementationGuide.package; let pi = index" ngbNavItem="package-{{pi}}">
              <a ngbNavLink>
                <span title="{{p.name}}">#{{pi + 1}}</span>
                <i class="fas fa-trash-alt" title="Remove this package"
                   (click)="prompt(implementationGuide.package, pi, 'Are you sure you want to remove this package?', $event)"></i>
              </a>
              <ng-template ngbNavContent>
                <div class="mb-3">
                  <label>Name
                    <app-tooltip-icon tooltipPath="ImplementationGuide.package.name"></app-tooltip-icon>
                  </label>
                  <input type="text" class="form-control" [(ngModel)]="p.name" (change)="igChanging.emit(true);"/>
                </div>
                <div class="mb-3">
                  <label>
                    <input type="checkbox" [ngModel]="p.hasOwnProperty('description')"
                           (ngModelChange)="Globals.toggleProperty(p, 'description', '')" (change)="igChanging.emit(true);"/>
                    Description
                    <app-tooltip-icon tooltipPath="ImplementationGuide.package.description"></app-tooltip-icon>
                  </label>
                  <trifolia-fhir-markdown [(value)]="p.description" [disabled]="!p.hasOwnProperty('description')" (valueChange)="igChanging.emit(true);"></trifolia-fhir-markdown>
                </div>
                <h4>Resources
                  <app-tooltip-icon tooltipPath="ImplementationGuide.package.resource"></app-tooltip-icon>
                </h4>
                <table class="table">
                  <thead>
                  <tr>
                    <th>Name
                      <app-tooltip-icon tooltipPath="ImplementationGuide.package.resource.name"></app-tooltip-icon>
                    </th>
                    <th>Source Type</th>
                    <th>Source</th>
                    <th class="actions-column-2">
                      <div class="pull-right">
                        <button type="button" class="btn btn-primary" title="Add resource" (click)="addResources(p)">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let r of p.resource; let ri = index" [attr.data-index]="ri">
                    <td>
                      <div class="input-group">
                        <div class="input-group-addon">
                          <input type="checkbox" [ngModel]="r.hasOwnProperty('name')"
                                 (ngModelChange)="Globals.toggleProperty(r, 'name', '')" (change)="igChanging.emit(true);"/>
                        </div>
                        <input type="text" class="form-control" [(ngModel)]="r.name"
                               [disabled]="!r.hasOwnProperty('name')" (change)="igChanging.emit(true);"/>
                      </div>
                    </td>
                    <td>
                      <div class="input-group">
                        <select class="form-select" [ngModel]="getResourceSourceType(r)"
                                (ngModelChange)="setResourceSourceType(r, $event)" (change)="igChanging.emit(true);">
                          <option value="uri">URI</option>
                          <option value="reference">Reference</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <input type="text" class="form-control" *ngIf="r.hasOwnProperty('sourceUri')" [(ngModel)]="r.sourceUri" placeholder="URI" (change)="igChanging.emit(true);"/>
                      <app-fhir-reference *ngIf="r.hasOwnProperty('sourceReference')" [parentObject]="r" propertyName="sourceReference" [required]="true" [isFormGroup]="false"
                                          (change)="igChanging.emit(true);"></app-fhir-reference>
                    </td>
                    <td>
                      <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default" (click)="editPackageResourceModal(r, packageResourceModal)" title="Edit additional properties for this package resource">
                          <i class="fa fa-edit"></i>
                        </button>
                        <button type="button" class="btn btn-default" [disabled]="p.resource.length === 1"
                                (click)="prompt(p.resource, ri, 'Are you sure you want to remove this resource?')" title="Remove resource">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
            <li ngbNavItem [disabled]="true">
              <a ngbNavLink>
                <button type="button" class="btn btn-default" title="Add a package entry" (click)="addPackageEntry(packagesTabSet); igChanging.emit(true);">Add</button>
              </a>
              <ng-template ngbNavContent></ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="packagesTabSet" class="mt-2"></div>
        </ng-container>
      </ng-template>
    </li>

    <!-- Binary -->
    <li ngbNavItem="binary">
      <a ngbNavLink>Binary</a>
      <ng-template ngbNavContent>
        <input type="checkbox" [ngModel]="implementationGuide.hasOwnProperty('binary')" (ngModelChange)="Globals.toggleProperty(implementationGuide, 'binary', [''])"
               (change)="igChanging.emit(true);"/>
        Implementation guide has binary URIs
        <app-tooltip-icon tooltipPath="ImplementationGuide.binary"></app-tooltip-icon>

        <table class="table" *ngIf="implementationGuide.hasOwnProperty('binary')">
          <thead>
          <tr>
            <th>URI</th>
            <th class="actions-column-1">
              <div class="pull-right">
                <button type="button" class="btn btn-default" title="Add a new binary URI" (click)="implementationGuide.binary.push(''); igChanging.emit(true);">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let b of implementationGuide.binary; let i = index; trackBy: Globals.trackByFn">
            <td>
              <input type="text" class="form-control" [(ngModel)]="implementationGuide.binary[i]" (change)="igChanging.emit(true);"/>
            </td>
            <td>
              <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" title="Remove this binary URI" (click)="implementationGuide.binary.splice(i, 1); igChanging.emit(true);">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-template>
    </li>

    <li ngbNavItem="permissions" *ngIf="configService.config.enableSecurity">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['resource.permissions-tab']">Permissions
        <i class="fas fa-exclamation" style="color: red" *ngIf="!canEdit(fhirResource)" title="No write permissions for current user specified!"></i></span>
      </a>
      <ng-template ngbNavContent>
        <trifolia-fhir-resource-permissions [resource]="fhirResource" (change)="igChanging.emit(true);"></trifolia-fhir-resource-permissions>
      </ng-template>
    </li>

    <!-- Validation -->
    <li ngbNavItem="validation">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['resource.validation-tab']">Validation</span> <span *ngIf="validation && validation.messages && validation.messages.length > 0">({{validation.messages.length}})</span>
      </a>
      <ng-template ngbNavContent>
        <app-validation-results [results]="validation"></app-validation-results>
      </ng-template>
    </li>

    <!-- RAW JSON/XML -->
    <li ngbNavItem="raw">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['resource.raw-tab']">RAW</span>
      </a>
      <ng-template ngbNavContent>
        <app-raw-resource [resource]="implementationGuide" [shown]="igTabs.activeId === 'raw'" (resourceChange)="loadIG($event, true)"></app-raw-resource>
      </ng-template>
    </li>

    <!-- Version History -->
    <li ngbNavItem="history" *ngIf="!isNew" (shown)="historyLoaded = true">
      <a ngbNavLink>
        <span [attr.data-intro]="Globals.introText['resource.history-tab']">History</span>
      </a>
      <ng-template ngbNavContent>
        <app-resource-history *ngIf="historyLoaded" [resource]="fhirResource" (resourceChange)="implementationGuide=$event; fhirResource.resource=$event;"></app-resource-history>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="igTabs" class="mt-2"></div>
</div>

<ng-template #packageResourceModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit package resource</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="closePackageResourceModal(d)"></button>
  </div>
  <div class="modal-body">
    <app-fhir-string [parentObject]="currentResource" propertyName="name" title="Name" (change)="igChanging.emit(true);"></app-fhir-string>

    <div class="mb-3">
      <label>Source type</label>
      <div class="input-group">
        <select class="form-select" [ngModel]="getResourceSourceType(currentResource)" (ngModelChange)="setResourceSourceType(currentResource, $event)" (change)="igChanging.emit(true);">
          <option value="uri">URI</option>
          <option value="reference">Reference</option>
        </select>
      </div>
    </div>

    <app-fhir-string *ngIf="currentResource.hasOwnProperty('sourceUri')" [parentObject]="currentResource" propertyName="sourceUri" title="Source URI" [required]="true" (change)="igChanging.emit(true);"></app-fhir-string>

    <app-fhir-reference *ngIf="currentResource.hasOwnProperty('sourceReference')" [parentObject]="currentResource" propertyName="sourceReference" [required]="true"
                        title="Source Reference" (change)="igChanging.emit(true);"></app-fhir-reference>

    <app-fhir-string [parentObject]="currentResource" propertyName="description" title="Description" (change)="igChanging.emit(true);"></app-fhir-string>

    <app-fhir-string [parentObject]="currentResource" propertyName="acronym" title="Acronym" (change)="igChanging.emit(true);"></app-fhir-string>

    <app-fhir-boolean [parentObject]="currentResource" propertyName="example" title="Example" (change)="igChanging.emit(true);"></app-fhir-boolean>

    <app-fhir-reference [parentObject]="currentResource" propertyName="exampleFor" resourceType="StructureDefinition" *ngIf="currentResource.example || currentResource.exampleFor"
                        title="Example for" (change)="igChanging.emit(true);"></app-fhir-reference>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="closePackageResourceModal(c)">Close</button>
  </div>
</ng-template>

<footer class="footer">
  <div class="btn-group">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!canEdit(fhirResource) || saving" [attr.data-intro]="Globals.introText['resource.save-btn']">Save</button>
    <button type="button" class="btn btn-secondary" (click)="revert()" *ngIf="!isNew">Revert</button>
  </div>
  <span class="message">{{message}}</span>
  <div class="pull-right">
    <button type="button" class="btn btn-danger" title="Delete this Implementation Guide" (click)="delete(implementationGuide?.id)">
      <i class="fa fa-trash"></i> Delete
    </button>
  </div>
</footer>
