<div class="modal-header">
  <h4 class="modal-title">Edit page</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" *ngIf="page">
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" [ngModel]="page.title" (ngModelChange)="page.setTitle($event)" [class.is-invalid]="!page.hasOwnProperty('title')"/>
  </div>

  <div class="form-group">
    <label>File Name (Source)</label>
    <input type="text" class="form-control" [(ngModel)]="page.source" [class.is-invalid]="!page.source"/>
    <p class="text-muted" *ngIf="!page.source">File name is required, or the page will not export/publish correctly.</p>
    <p class="text-muted" *ngIf="page.source && !page.source.endsWith('.html')">All page's file names must end with the .html extension, or the page will not export/publish correctly.</p>
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" [ngModel]="page.hasOwnProperty('format')" (ngModelChange)="Globals.toggleProperty(page, 'format', 'markdown')"/>
      Format
    </label>
    <input type="text" class="form-control" [disabled]="!page.hasOwnProperty('format')" [(ngModel)]="page.format"/>
  </div>

  <div class="form-group">
    <label>Show on top nav menu</label>
    <input type="text" class="form-control" [(ngModel)]="page.navMenu" [ngbTypeahead]="pageNavMenuSearch" placeholder="Top menu name" />
  </div>

  <div class="form-group">
    <label>
      <input type="checkbox" [(ngModel)]="page.reuseDescription" /> The content of this page should be the same as the description and contact(s) of the implementation guide (ImplementationGuide.description and ImplementationGuide.contact).
    </label>
  </div>

  <div class="form-group" *ngIf="!page.reuseDescription">
    <label>Content</label>
    <trifolia-fhir-markdown [(value)]="page.contentMarkdown" [mediaReferences]="getMediaReferences()"></trifolia-fhir-markdown>
  </div>

  <div class="card">
    <div class="card-header">
      <input type="checkbox" [ngModel]="page.hasOwnProperty('type')" (ngModelChange)="Globals.toggleProperty(page, 'type', ['Account'])"/>
      <span> Types </span>
      <app-tooltip-icon tooltipPath="ImplementationGuide.page.type"></app-tooltip-icon>
    </div>
    <table class="table table-striped" *ngIf="page.hasOwnProperty('type')">
      <thead>
      <tr>
        <th>Type</th>
        <th class="actions-column-1">
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="page.type.push('Account')">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let type of page.type; let ti = index">
        <td>
          <app-fhir-select-single-code
            [parentObject]="page.type"
            [propertyName]="ti"
            valueSetUrl="http://hl7.org/fhir/ValueSet/resource-types"
            [required]="true"
            [isFormGroup]="false">
          </app-fhir-select-single-code>
        </td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="page.type.splice(ti, 1)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="card">
    <div class="card-header">
      <input type="checkbox" [ngModel]="page.hasOwnProperty('package')" (ngModelChange)="Globals.toggleProperty(page, 'package', [''])"/>
      <span> Packages </span>
      <app-tooltip-icon tooltipPath="ImplementationGuide.page.package"></app-tooltip-icon>
    </div>
    <table class="table table-striped" *ngIf="page.hasOwnProperty('package')">
      <thead>
      <tr>
        <th>Package</th>
        <th class="actions-column-1">
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="page.package.push('')">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let package of page.package; let pi = index; trackBy: Globals.trackByFn">
        <td>
          <input type="text" class="form-control" [class.is-invalid]="!page.package[pi]" [(ngModel)]="page.package[pi]"/>
        </td>
        <td>
          <div class="pull-right">
            <button type="button" class="btn btn-default" (click)="page.package.splice(pi, 1)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.dismiss()">Cancel</button>
</div>
