<div class="modal-header">
    <h4 class="modal-title">Edit Resource</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
  <app-fhir-boolean [parentObject]="resource" propertyName="example" [required]="true" title="Example?"></app-fhir-boolean>

  <app-fhir-string [parentObject]="resource" propertyName="name" title="Name"></app-fhir-string>

  <app-fhir-string [parentObject]="resource" propertyName="description" title="Description"></app-fhir-string>

  <app-fhir-reference [parentObject]="resource" propertyName="sourceReference" title="Source Reference" [disabled]="!resource.sourceReference && !!resource.sourceUri" [required]="!resource.sourceReference && !resource.sourceUri"></app-fhir-reference>

  <app-fhir-string [parentObject]="resource" propertyName="sourceUri" title="Source URI" [disabled]="!resource.sourceUri && !!resource.sourceReference" [required]="!resource.sourceUri && !resource.sourceReference"></app-fhir-string>

  <app-fhir-reference [parentObject]="resource" propertyName="exampleFor" title="Example For"></app-fhir-reference>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="ok()">Done</button>
</div>
