<div class="form-group" *ngIf="parentObject && isFormGroup">
    <label>
        <input type="checkbox" *ngIf="!required" [ngModel]="identifier && identifier.hasOwnProperty(propertyName)" (ngModelChange)="Globals.toggleProperty(parentObject, propertyName, defaultValue); change.emit()"/>
        {{title || 'Identifier'}}
    </label>
    <div class="input-group">
        <!-- use -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('use')" (ngModelChange)="Globals.toggleProperty(identifier, 'use', ''); change.emit()"/>
        </div>
        <select class="form-control" [disabled]="!identifier || !identifier.hasOwnProperty('use')" [(ngModel)]="identifierUse" (change)="change.emit()">
            <option value="usual">Usual</option>
            <option value="official">Official</option>
            <option value="temp">Temporary</option>
            <option value="secondary">Secondary</option>
        </select>
        <!-- system -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('system')" (ngModelChange)="Globals.toggleProperty(identifier, 'system', ''); change.emit()"/>
        </div>
        <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('system')" [(ngModel)]="identifierSystem" placeholder="System" title="System" (change)="change.emit()"/>
        <!-- value -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('value')" (ngModelChange)="Globals.toggleProperty(identifier, 'value', ''); change.emit()"/>
        </div>
        <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('value')" [(ngModel)]="identifierValue" placeholder="Value" title="Value" (change)="change.emit()"/>
    </div>
</div>
<div class="input-group" *ngIf="parentObject && !isFormGroup">
    <!-- use -->
    <div class="input-group-addon">
        <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('use')" (ngModelChange)="Globals.toggleProperty(identifier, 'use', ''); change.emit()"/>
    </div>
    <select class="form-control" [disabled]="!identifier || identifier.hasOwnProperty('use')" [(ngModel)]="identifierUse" (change)="change.emit()">
        <option value="usual">Usual</option>
        <option value="official">Officials</option>
        <option value="temp">Temporary</option>
        <option value="secondary">Secondary</option>
    </select>
    <!-- system -->
  <div class="input-group-addon">
    <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('system')" (ngModelChange)="Globals.toggleProperty(identifier, 'system', ''); change.emit()" />
  </div>
  <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('system')" [(ngModel)]="identifierSystem" placeholder="System" title="System" (change)="change.emit()" />
  <!-- value -->
  <div class="input-group-addon">
    <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('value')" (ngModelChange)="Globals.toggleProperty(identifier, 'value', '')"
           (change)="change.emit()" />
  </div>
  <input type="text" class="form-control" [disabled]="!identifier || identifier.hasOwnProperty('value')" [(ngModel)]="identifierValue" placeholder="Value" title="Value"
         (change)="change.emit()" />
</div>
<div class="input-group">
  <app-fhir-string class="text-field" [parentObject]="identifier.type" propertyName="text" title="Text"></app-fhir-string>
</div>

<div class="input-group">
  <div class="card">
    <div class="card-header">
      <input type="checkbox" [ngModel]="identifier.type.hasOwnProperty('coding')" (ngModelChange)="Globals.toggleProperty(identifier.type, 'coding', [{ }])" />
      Coding
    </div>
    <table class="table table-striped" *ngIf="identifier.type.hasOwnProperty('coding')">
      <thead>
      <tr>
        <th>System</th>
        <th>Code</th>
        <th>Display</th>
        <th>
          <div class="pull-right">
            <button type="button" class="btn btn-default btn-sm" title="Add a coding" (click)="identifier.type.coding.push({ })">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let c of identifier.type.coding; let ci = index">
        <td>
          <app-fhir-string [parentObject]="c" propertyName="system" [isFormGroup]="false"></app-fhir-string>
        </td>
        <td>
          <app-fhir-string [parentObject]="c" propertyName="code" [isFormGroup]="false"></app-fhir-string>
        </td>
        <td>
          <app-fhir-string [parentObject]="c" propertyName="display" [isFormGroup]="false"></app-fhir-string>
        </td>
        <td>
          <div class="pull-right btn-group">
            <button type="button" class="btn btn-default btn-sm" title="Edit this coding" (click)="editCoding(c)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" title="Remove this coding" (click)="identifier.type.coding.splice(ci, 1)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
