<div class="form-group" *ngIf="parentObject && isFormGroup">
    <label>
        <input type="checkbox" *ngIf="!required" [ngModel]="identifier && identifier.hasOwnProperty(propertyName)" (ngModelChange)="Globals.toggleProperty(parentObject, propertyName, defaultValue)"/>
        {{title || 'Identifier'}}
    </label>
    <div class="input-group">
        <!-- use -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('use')" (ngModelChange)="Globals.toggleProperty(identifier, 'use', '')"/>
        </div>
        <select class="form-control" [disabled]="!identifier || !identifier.hasOwnProperty('use')" [(ngModel)]="identifierUse">
            <option value="usual">Usual</option>
            <option value="official">Official</option>
            <option value="temp">Temporary</option>
            <option value="secondary">Secondary</option>
        </select>
        <!-- system -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('system')" (ngModelChange)="Globals.toggleProperty(identifier, 'system', '')"/>
        </div>
        <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('system')" [(ngModel)]="identifierSystem" placeholder="System" title="System"/>
        <!-- value -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('value')" (ngModelChange)="Globals.toggleProperty(identifier, 'value', '')"/>
        </div>
        <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('value')" [(ngModel)]="identifierValue" placeholder="Value" title="Value"/>
    </div>
</div>
<div class="input-group" *ngIf="parentObject && !isFormGroup">
    <!-- use -->
    <div class="input-group-addon">
        <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('use')" (ngModelChange)="Globals.toggleProperty(identifier, 'use', '')"/>
    </div>
    <select class="form-control" [disabled]="!identifier || identifier.hasOwnProperty('use')" [(ngModel)]="identifierUse">
        <option value="usual">Usual</option>
        <option value="official">Official</option>
        <option value="temp">Temporary</option>
        <option value="secondary">Secondary</option>
    </select>
    <!-- system -->
    <div class="input-group-addon">
        <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('system')" (ngModelChange)="Globals.toggleProperty(identifier, 'system', '')"/>
    </div>
    <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('system')" [(ngModel)]="identifierSystem" placeholder="System" title="System"/>
    <!-- value -->
    <div class="input-group-addon">
        <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('value')" (ngModelChange)="Globals.toggleProperty(identifier, 'value', '')"/>
    </div>
    <input type="text" class="form-control" [disabled]="!identifier || identifier.hasOwnProperty('value')" [(ngModel)]="identifierValue" placeholder="Value" title="Value"/>
</div>