<div class="form-group" *ngIf="parentObject && isFormGroup">
    <label>
        <input type="checkbox" *ngIf="!required" [ngModel]="identifier && identifier.hasOwnProperty(propertyName)" (ngModelChange)="Globals.toggleProperty(parentObject, propertyName, defaultValue); change.emit()"/>
        {{title || 'Identifier'}}
    </label>
    <div class="input-group">
        <!-- use -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('use')" (ngModelChange)="Globals.toggleProperty(identifier, 'use', ''); change.emit()"/>
        </div>
        <select class="form-control" [disabled]="!identifier || !identifier.hasOwnProperty('use')" [(ngModel)]="identifierUse" (change)="change.emit()">
            <option value="usual">Usual</option>
            <option value="official">Official</option>
            <option value="temp">Temporary</option>
            <option value="secondary">Secondary</option>
        </select>
        <!-- system -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('system')" (ngModelChange)="Globals.toggleProperty(identifier, 'system', ''); change.emit()"/>
        </div>
        <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('system')" [(ngModel)]="identifierSystem" placeholder="System" title="System" (change)="change.emit()"/>
        <!-- value -->
        <div class="input-group-addon">
            <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('value')" (ngModelChange)="Globals.toggleProperty(identifier, 'value', ''); change.emit()"/>
        </div>
        <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('value')" [(ngModel)]="identifierValue" placeholder="Value" title="Value" (change)="change.emit()"/>
    </div>
</div>
<div class="input-group" *ngIf="parentObject && !isFormGroup">
    <!-- use -->
    <div class="input-group-addon">
        <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('use')" (ngModelChange)="Globals.toggleProperty(identifier, 'use', ''); change.emit()"/>
    </div>
    <select class="form-control" [disabled]="!identifier || identifier.hasOwnProperty('use')" [(ngModel)]="identifierUse" (change)="change.emit()">
        <option value="usual">Usual</option>
        <option value="official">Officials</option>
        <option value="temp">Temporary</option>
        <option value="secondary">Secondary</option>
    </select>
    <!-- system -->
  <div class="input-group-addon">
    <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('system')" (ngModelChange)="Globals.toggleProperty(identifier, 'system', ''); change.emit()" />
  </div>
  <input type="text" [disabled]="!identifier || identifier.hasOwnProperty('system')" [(ngModel)]="identifierSystem" placeholder="System" title="System" (change)="change.emit()" />
  <!-- value -->
  <div class="input-group-addon">
    <input type="checkbox" [ngModel]="identifier && identifier.hasOwnProperty('value')" (ngModelChange)="Globals.toggleProperty(identifier, 'value', '')"
           (change)="change.emit()" />
  </div>
  <input type="text" class="form-control" [disabled]="!identifier || identifier.hasOwnProperty('value')" [(ngModel)]="identifierValue" placeholder="Value" title="Value"
         (change)="change.emit()" />
</div>


<div class="button-container">
  <div class="button">
    <button type="button" class="btn btn-secondary" (click)="editCodeableConcept()" title="Edit this codeable concept">
      Edit
    </button>
  </div>
</div>
