<div class="modal-header">
    <h4 class="modal-title">Edit page</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="form-group" *ngIf="page.kind === 'toc'">
        <label>Auto Generate Table of Contents?</label>
        <select class="form-control" [(ngModel)]="autoGenerate">
            <option [ngValue]="false">No</option>
            <option [ngValue]="true">Yes</option>
        </select>
    </div>

    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" [(ngModel)]="page.title" [class.is-invalid]="!page.hasOwnProperty('title')" />
    </div>

    <div class="form-group">
        <label>
            <input type="checkbox" [ngModel]="page.hasOwnProperty('format')" (ngModelChange)="globals.toggleProperty(page, 'format', 'markdown')" />
            Format
        </label>
        <input type="text" class="form-control" [disabled]="!page.hasOwnProperty('format')" [(ngModel)]="page.format" />
    </div>

    <div class="form-group">
        <label>Source</label>
        <input type="text" class="form-control" [(ngModel)]="page.source" [class.is-invalid]="!page.source" />
    </div>

    <div class="form-group" *ngIf="!autoGenerate">
        <label>Content</label>
        <app-markdown [(ngModel)]="pageContent" *ngIf="pageBinary"></app-markdown>
        <div class="help-block" *ngIf="!pageBinary">
            A contained Binary resource could not be found for this source. This will result in an incomplete FHIR IG Publisher build package.
            <br/>
            <input type="file" style="display: none" (change)="importFile(fileInput.files[0])" accept=".html,.txt,.md" #fileInput />
            <button type="button" class="btn btn-default" (click)="fileInput.click()">Import from computer (HTML, Text, MD/Markdown)</button>
        </div>
    </div>

    <p>Type...</p>

    <p>Package...</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.dismiss()">Done</button>
</div>