<div class="modal-header">
  <h4 class="modal-title">Edit FSH</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table *ngIf="!loadingFSH">
    <tbody>
    <tr>
      <td>
        <textarea class="form-control" rows="10" [(ngModel)]="fsh"></textarea>
      </td>
      <td>
        <div>
          <p>Information</p>
          <div class="alert alert-info" *ngIf="message">{{message}}</div>
          <strong *ngIf="filteredErrors?.length">Errors</strong>
          <ul *ngIf="filteredErrors?.length">
            <li *ngFor="let error of filteredErrors" title="{{error.location}}">{{error.message}}</li>
          </ul>
          <strong *ngIf="warnings?.length">Warnings</strong>
          <ul *ngIf="warnings?.length">
            <li *ngFor="let warning of warnings" title="{{warning.message}}">{{warning.message}}</li>
          </ul>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="loadingFSH">Converting resource to FSH...</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="test()" [disabled]="loadingFSH || converting">Test</button>
  <button type="button" class="btn btn-primary" (click)="update()" [disabled]="loadingFSH || converting">Apply</button>
  <button type="button" class="btn btn-primary" (click)="update(); activeModal.close()" [disabled]="loadingFSH || converting">OK</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Cancel</button>
</div>
