p {
  text-decoration: underline;
  font-weight: bold;
}

textarea {
  height: 400px;
}

table {
  width: 100%;
}

tr > td:first-child {
  width: 60%;
}

tr > td:last-child {
  vertical-align: top;
}

tr > td:last-child > div {
  width: 100%;
  height: 100%;
  padding: 10px;
}
