<div class="modal-header">
    <h4 class="modal-title">Edit Coding</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="coding">
    <app-fhir-string [parentObject]="coding" propertyName="system" title="System"></app-fhir-string>

    <app-fhir-string [parentObject]="coding" propertyName="version" title="Version"></app-fhir-string>

    <app-fhir-string [parentObject]="coding" propertyName="code" title="Code"></app-fhir-string>

    <app-fhir-string [parentObject]="coding" propertyName="display" title="Display"></app-fhir-string>

    <app-fhir-boolean [parentObject]="coding" propertyName="userSelected" title="User selected"></app-fhir-boolean>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>