<h3>New Structure Definition</h3>

<ul ngbNav>
  <li ngbNavItem title="General">
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-8">
          <app-fhir-string [parentObject]="structureDefinition" propertyName="url" title="URL" [required]="true" tooltipPath="StructureDefinition.url" (change)="urlChanged()"></app-fhir-string>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>
              ID <app-tooltip-icon tooltipPath="StructureDefinition.id"></app-tooltip-icon>
            </label>
            <input type="text" class="form-control" [(ngModel)]="structureDefinition.id" placeholder="Auto generate" (change)="idChangedEvent.next()" [class.is-invalid]="!isIdUnique" />
            <div class="help-block" *ngIf="!isIdUnique">The specified ID already exists.</div>
          </div>
        </div>
        <div class="col-md-8">
          <app-fhir-string [parentObject]="structureDefinition"
                           propertyName="name"
                           title="Name"
                           [required]="true"
                           [pattern]="Globals.regexPatterns.namePattern"
                           [patternMessage]="Globals.tooltips['name.validation.failed']"
                           tooltipPath="StructureDefinition.name"></app-fhir-string>
        </div>
        <div class="col-md-4">
          <app-fhir-select-single-code [parentObject]="structureDefinition" propertyName="status" title="Status"
                                       valueSetUrl="http://hl7.org/fhir/ValueSet/publication-status" [required]="true"
                                       tooltipPath="StructureDefinition.status"></app-fhir-select-single-code>
        </div>
        <div class="col-md-4">
          <app-fhir-select-single-code [parentObject]="structureDefinition" propertyName="kind" title="Kind"
                                       valueSetUrl="http://hl7.org/fhir/ValueSet/structure-definition-kind" [required]="true"
                                       tooltipPath="StructureDefinition.kind"></app-fhir-select-single-code>
        </div>
        <div class="col-md-4">
          <app-fhir-boolean [parentObject]="structureDefinition" propertyName="abstract" title="Abstract" [required]="true"
                            tooltipPath="StructureDefinition.abstract"></app-fhir-boolean>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control"
                   [(ngModel)]="selectedType"
                   [ngbTypeahead]="searchSupportedLogicalTypes"
                   [inputFormatter]="supportedLocalTypeFormatter"
                   [resultTemplate]="typeTemplate"
                   [editable]="false"
                   [class.is-invalid]="!selectedType"
                   (selectItem)="typeChanged($event.item)" />

            <ng-template #typeTemplate let-r="result" let-t="term">
              <ngb-highlight [result]="r.display || r.code" [term]="t"></ngb-highlight>
              &nbsp;<i class="badge badge-info">{{r.spec}}</i>
            </ng-template>
          </div>
        </div>
        <div class="col-md-4">
          <app-fhir-select-single-code [parentObject]="structureDefinition" propertyName="derivation" title="Derivation"
                                       valueSetUrl="http://hl7.org/fhir/ValueSet/type-derivation-rule"
                                       tooltipPath="StructureDefinition.derivation"></app-fhir-select-single-code>
        </div>
        <div class="col-md-4" *ngIf="structureDefinition.type">\
          <app-fhir-reference [parentObject]="structureDefinition" propertyName="baseDefinition" title="Base Definition" [isCanonical]="true" resourceType="StructureDefinition"
                              [structureDefinitionType]="structureDefinition.type" [hideResourceType]="true"></app-fhir-reference>
        </div>
      </div>
      <div class="row" *ngIf="configService.isFhirR4 && structureDefinition.type === 'Extension'">
        <div class="col-md-6">
          <app-structure-definition-context-panel-wrapper [structureDefinition]="structureDefinition"></app-structure-definition-context-panel-wrapper>
        </div>
      </div>

    </ng-template>
  </li>

  <!-- Permissions -->
  <li ngbNavItem id="permissions" *ngIf="configService.config.enableSecurity">
    <ng-template ngbTabTitle>
      Permissions <i class="fas fa-exclamation" style="color: red" *ngIf="!canEdit(structureDefinition)" title="No write permissions for current user specified!"></i>
    </ng-template>
    <ng-template ngbNavContent>
      <trifolia-fhir-resource-permissions [resource]="structureDefinition"></trifolia-fhir-resource-permissions>
    </ng-template>
  </li>

  <li ngbNavItem title="RAW">
    <ng-template ngbNavContent>
      <app-raw-resource [resource]="structureDefinition"></app-raw-resource>
    </ng-template>
  </li>
</ul>

<footer class="footer">
  <button type="button" class="btn btn-primary" (click)="save()" [disabled]="saveDisabled()">Save</button>
  <span class="message">{{message}}</span>
</footer>
