<h1>Import</h1>

<ngb-tabset #t="ngbTabset">
    <ngb-tab id="options" title="Options">
        <ng-template ngbTabContent>
            <div class="form-group">
                <label>Type</label>
                <br />
                <input type="radio" name="importType" value="file" [(ngModel)]="importType"/> File
                <input type="radio" name="importType" value="text" [(ngModel)]="importType"/> Text
            </div>

            <div class="form-group">
                <label>Content Type</label>
                <br />
                <input type="radio" name="contentType" [value]="0" [(ngModel)]="contentType"/> JSON
                <input type="radio" name="contentType" [value]="1" [(ngModel)]="contentType"/> XML
            </div>

            <div class="form-group" *ngIf="importType === 'file'">
                <label>File</label>
                <input type="file" class="form-control" (change)="filesChanged($event)" />
            </div>

            <div class="form-group" *ngIf="importType === 'text'">
                <label>Text</label>
                <textarea class="form-control" rows="20" [(ngModel)]="text"></textarea>
            </div>

            <p *ngIf="importType === 'text' && text">
                <button type="button" class="btn btn-primary" (click)="import(t)">Import</button>
            </p>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="results" title="Results" [disabled]="!results">
        <ng-template ngbTabContent>
            <div *ngIf="results.resourceType === 'OperationOutcome'">
                <div *ngIf="results.text" [innerHTML]="results.text.div"></div>
            </div>
            <t-json-viewer *ngIf="results.resourceType !== 'OperationOutcome'" [json]="results"></t-json-viewer>
        </ng-template>
    </ngb-tab>
</ngb-tabset>