<div class="modal-header">
  <h4 class="modal-title">{{modalTitle}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="d-flex">
    <ul ngbNav #nav="ngbNav" class="nav-pills" orientation="vertical" (navChange)="tabChanged($event)">
      <li ngbNavItem="server">
        <a ngbNavLink>Server</a>
        <ng-template ngbNavContent>
          <ng-container *ngTemplateOutlet="tabContent"></ng-container>
        </ng-template>
      </li>
      <li ngbNavItem="dependency" *ngIf="resourceType === 'StructureDefinition'">
        <a ngbNavLink>Dependency</a>
        <ng-template ngbNavContent>
          <ng-container *ngTemplateOutlet="tabContent"></ng-container>
        </ng-template>
      </li>
      <li ngbNavItem="base">
        <a ngbNavLink>Base</a>
        <ng-template ngbNavContent>
          <ng-container *ngTemplateOutlet="tabContent"></ng-container>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="ml-4"></div>
  </div>
</div>
<div class="modal-footer">
  <div class="pull-left footer-criteria">
    <p *ngIf="configService.project && searchLocation === 'server'">
      <input type="checkbox" [(ngModel)]="resourcesFromContext" (change)="criteriaChanged()" /> Showing resources from the <span class="badge badge-info">{{configService.project.name}}</span> implementation guide.
    </p>
    <p *ngIf="resourceType === 'StructureDefinition' && structureDefinitionType">Showing profiles of type <span class="badge badge-info">{{structureDefinitionType}}</span>.</p>
  </div>
  <div class="pull-left" *ngIf="selected.length > 0">
    Selected {{selected.length}}: <span *ngFor="let s of selected">{{s.resourceType}}/{{s.id}} </span>
    [ <a href="javascript:void(0)" (click)="selected.splice(0, selected.length)">clear</a> ]
  </div>
  <button type="button" class="btn btn-primary" (click)="select()" *ngIf="selectMultiple"
          [disabled]="selected.length === 0">OK
  </button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Close</button>
</div>

<ng-template #tabContent>
  <div class="row">
    <!-- Type -->
    <div class="col-md-6" *ngIf="!resourceType || !hideResourceType">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Type</div>
        </div>
        <select class="form-control" [(ngModel)]="resourceType" (change)="criteriaChanged()">
          <option *ngFor="let o of resourceTypeCodes" [ngValue]="o.code">{{o.display}}</option>
        </select>
      </div>
    </div>

    <div class="col-md-6" *ngIf="showContentSearch">
      <input class="form-control" [(ngModel)]="contentSearch" (ngModelChange)="criteriaChangedEvent.next($event)" placeholder="Search"/>
    </div>

    <div class="col-md-6" *ngIf="showNameSearch">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Name</div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="nameSearch" (ngModelChange)="criteriaChangedEvent.next($event)" />
      </div>
    </div>

    <div class="col-md-6" *ngIf="showTitleSearch">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">Title</div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="titleSearch" (ngModelChange)="criteriaChangedEvent.next($event)" />
      </div>
    </div>

    <div class="col-md-6" *ngIf="!!resourceType">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">ID</div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="idSearch" (ngModelChange)="criteriaChangedEvent.next($event)" />
      </div>
    </div>
  </div>

  <div class="alert alert-info" *ngIf="message">{{message}}</div>
  <p *ngIf="searching"><em>Searching...</em></p>
  <table class="table" *ngIf="results">
    <thead>
    <tr>
      <th *ngIf="selectMultiple" class="actions-column-1"></th>
      <th>Id</th>
      <th>Title/Name</th>
      <th *ngIf="!selectMultiple" class="actions-column-1">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let e of results.entry">
      <td *ngIf="selectMultiple">
        <input type="checkbox" [ngModel]="isSelected(e)" (ngModelChange)="setSelected(e, $event)"/>
      </td>
      <td>{{e.resource.id}}</td>
      <td>{{e.resource | fhirDisplay}}</td>
      <td *ngIf="!selectMultiple">
        <div class="pull-right">
          <button type="button" class="btn btn-primary" (click)="select(e)">Select</button>
        </div>
      </td>
    </tr>
    <tr *ngIf="results.entry && results.entry.length < results.total">
      <td colspan="3">
        <a href="javascript:void(0)" (click)="criteriaChanged(true)">Load More</a>
      </td>
    </tr>
    </tbody>
    <tfoot *ngIf="results.entry.length > 0">
    <tr>
      <th colspan="3">Showing {{results.entry.length}} of {{results.total}} results</th>
    </tr>
    </tfoot>
    <tfoot *ngIf="results.entry.length === 0">
    <tr>
      <th colspan="3"><em>No resources were found with the specified criteria.</em></th>
    </tr>
    </tfoot>
  </table>
</ng-template>
