<h1>Other Resources</h1>

<ngb-tabset #tabSet="ngbTabset" [destroyOnHide]="false">
  <ngb-tab id="criteria">
    <ng-template ngbTabTitle>
      <span [attr.data-intro]="Globals.introText['other.search-criteria']">Criteria</span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="col-md-6">
        <div class="form-group" [attr.data-intro]="tabSet.activeId === 'criteria' ? Globals.introText['other.search.resource-type'] : undefined">
          <label>Resource Type</label>
          <select class="form-control" [(ngModel)]="searchResourceType" [class.is-invalid]="!searchResourceType" (keyup.enter)="search()">
            <option *ngFor="let o of resourceTypes" [ngValue]="o.code">{{o.display}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Content</label>
          <input type="text" class="form-control" [(ngModel)]="searchContent" (keyup.enter)="search()" />
          <span class="help-block">This field searches the entire content of the resource.</span>
        </div>

        <div class="form-group">
          <label>Resource URL</label>
          <input type="text" class="form-control" [(ngModel)]="searchUrl" (keyup.enter)="search()" />
          <span class="help-block">This field only applies if the selected resource type has a "URL" field. Searching by URL requires an exact match.</span>
        </div>

        <p>
          <button type="button" class="btn btn-primary"
                  (click)="search()"
                  [disabled]="!searchResourceType"
                  [attr.data-intro]="tabSet.activeId === 'criteria' ? Globals.introText['other.search.search-btn'] : undefined">Search</button>
        </p>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="results">
    <ng-template ngbTabTitle>
      <span [attr.data-intro]="Globals.introText['other.search-results-tab']">Search Results</span>
    </ng-template>
    <ng-template ngbTabContent>
      <div *ngIf="results && results.total > 0" [attr.data-intro]="Globals.introText['other.search-results-paging']">
        <ngb-pagination class="d-flex justify-content-center"
                        *ngIf="results && results.total > 0"
                        [maxSize]="5"
                        [collectionSize]="results.total"
                        [(page)]="page"
                        [boundaryLinks]="true"
                        (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
      </div>
      <table class="table table-striped" *ngIf="results">
        <thead>
        <tr>
          <th>ID</th>
          <th>URL</th>
          <th>Name/Title</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of results.entry">
          <td>{{entry.resource?.id}}</td>
          <td>{{getEntryUrl(entry)}}</td>
          <td>{{getEntryName(entry)}}</td>
          <td class="actions-column-1">
            <div class="pull-right">
              <button type="button" class="btn btn-primary" title="View this resource" (click)="openResource(entry.resource)">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr *ngIf="results && results.total === 0">
          <td colspan="3">No results match the search criteria!</td>
        </tr>
        <tr *ngIf="results && results.total > 0">
          <td colspan="6">
            <ngb-pagination class="d-flex justify-content-center" [maxSize]="5" [collectionSize]="results.total"
                            [(page)]="page" [boundaryLinks]="true"
                            (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </ng-template>
  </ngb-tab>

  <!-- Introduction -->
  <ngb-tab *ngIf="configService.showingIntroduction">
    <ng-template ngbTabTitle>
      <span [attr.data-intro]="Globals.introText['other.open-resource-tab']">&lt;ResourceType&gt; &lt;ID&gt;</span>
    </ng-template>
    <ng-template ngbTabContent>
      ...
    </ng-template>
  </ngb-tab>

  <!-- Each opened resource -->
  <ngb-tab *ngFor="let r of openedResources; let ri = index" id="resource-{{ri}}">
    <ng-template ngbTabTitle>{{r.resource.resourceType}} {{r.resource.id}} <i class="fas fa-times" (click)="closeResource(ri, $event)"></i></ng-template>
    <ng-template ngbTabContent>
      <input type="file" style="display: none;" #jsonFileUpload accept="application/json" (change)="uploadFile('json', ri, $event, jsonFileUpload)"/>
      <input type="file" style="display: none;" #xmlFileUpload accept="application/xml" (change)="uploadFile('xml', ri, $event, xmlFileUpload)"/>
      <div class="btn-toolbar">
        <div class="btn-group mr-2" role="group" aria-label="Generic actions for the resource">
          <button type="button" class="btn btn-primary" title="Remove this resource" (click)="remove(r)">
            <i class="fa fa-trash"></i>
          </button>
          <button type="button" class="btn btn-primary" title="Change this resource's ID" (click)="changeId(r)">
            <i class="fa fa-id-badge"></i>
          </button>
        </div>
        <div class="btn-group" role="group" aria-label="Download/upload" *ngIf="['json','xml'].indexOf(r.activeSub) >= 0">
          <button type="button" class="btn btn-primary" title="Download this resource"
                  (click)="downloadFile(r.activeSub, ri)"
                  [attr.data-intro]="Globals.introText['other.resource.download']">
            <i class="fa fa-download"></i>
          </button>
          <button type="button" class="btn btn-primary" title="Upload to update/overwrite this resource"
                  (click)="r.activeSub === 'json' ? jsonFileUpload.click() : xmlFileUpload.click()"
                  [attr.data-intro]="Globals.introText['other.resource.upload']">
            <i class="fa fa-upload"></i>
          </button>
        </div>
        <div class="btn-group" role="group" aria-label="Permissions management" *ngIf="r.activeSub === 'permissions'">
          <button type="button" class="btn btn-primary" title="Save changes to the resource"
                  (click)="save(r)"
                  [attr.data-intro]="Globals.introText['other.resource.save']">
            <i class="fas fa-save"></i>
          </button>
        </div>
      </div>

      <ngb-tabset (tabChange)="changeSubTab(r, $event)">
        <ngb-tab id="json">
          <ng-template ngbTabTitle>JSON</ng-template>
          <ng-template ngbTabContent>
            <pre>{{openedResources[ri].resource | json}}</pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="xml">
          <ng-template ngbTabTitle>XML</ng-template>
          <ng-template ngbTabContent>
            <pre>{{openedResources[ri].resource | fhirXml}}</pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="permissions" title="Permissions" *ngIf="configService.config.enableSecurity">
          <ng-template ngbTabContent>
            <app-resource-permissions [meta]="openedResources[ri].resource.meta"></app-resource-permissions>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<footer class="footer">
  <span class="message">{{message}}</span>
</footer>
