<h1>Other Resources</h1>

<ngb-tabset #tabSet [destroyOnHide]="false">
  <ngb-tab title="Criteria" id="criteria">
    <ng-template ngbTabContent>
      <div class="col-md-6">
        <div class="form-group">
          <label>Resource Type</label>
          <select class="form-control" [(ngModel)]="searchResourceType">
            <option *ngFor="let o of resourceTypes" [ngValue]="o.code">{{o.display}}</option>
          </select>
        </div>

        <div class="form-group">
          <label>Content</label>
          <input type="text" class="form-control" [(ngModel)]="searchContent"/>
        </div>

        <div class="form-group">
          <label>Resource URL</label>
          <input type="text" class="form-control" [(ngModel)]="searchUrl"/>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="Search Results" id="results">
    <ng-template ngbTabContent>
      <table class="table table-striped" *ngIf="results">
        <thead>
        <tr>
          <th>ID</th>
          <th>URL</th>
          <th>Name/Title</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of results.entry">
          <td>{{entry.resource?.id}}</td>
          <td>{{getEntryUrl(entry)}}</td>
          <td>{{getEntryName(entry)}}</td>
          <td class="actions-column-1">
            <div class="pull-right">
              <button type="button" class="btn btn-primary" title="View this resource" (click)="openResource(entry.resource)">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </ngb-tab>
  <ngb-tab *ngFor="let r of openedResources; let ri = index" id="resource-{{ri}}">
    <ng-template ngbTabTitle>{{r.resource.resourceType}} {{r.resource.id}} <i class="fas fa-times" (click)="closeResource(ri, $event)"></i></ng-template>
    <ng-template ngbTabContent>
      <input type="file" style="display: none;" #jsonFileUpload accept="application/json" (change)="uploadFile('json', ri, $event, jsonFileUpload)"/>
      <input type="file" style="display: none;" #xmlFileUpload accept="application/xml" (change)="uploadFile('xml', ri, $event, xmlFileUpload)"/>
      <div class="btn-group">
        <button type="button" class="btn btn-primary" title="Remove this resource" (click)="remove(r)">
          <i class="fa fa-trash"></i>
        </button>
        <button type="button" class="btn btn-primary" title="Change this resource's ID" (click)="changeId(r)">
          <i class="fa fa-id-badge"></i>
        </button>
        <button type="button" class="btn btn-primary" title="Download this resource"
                (click)="downloadFile(r.activeSub, ri)"
                *ngIf="['json','xml'].indexOf(r.activeSub) >= 0">
          <i class="fa fa-download"></i>
        </button>
        <button type="button" class="btn btn-primary" title="Upload to update/overwrite this resource"
                (click)="r.activeSub === 'json' ? jsonFileUpload.click() : xmlFileUpload.click()"
                *ngIf="['json','xml'].indexOf(r.activeSub) >= 0">
          <i class="fa fa-upload"></i>
        </button>
        <button type="button" class="btn btn-primary" title="Save changes to the resource" (click)="save(r)">
          <i class="fas fa-save"></i>
        </button>
      </div>

      <ngb-tabset (tabChange)="changeSubTab(r, $event)">
        <ngb-tab id="json">
          <ng-template ngbTabTitle>JSON</ng-template>
          <ng-template ngbTabContent>
            <pre>{{openedResources[ri].resource | json}}</pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="xml">
          <ng-template ngbTabTitle>XML</ng-template>
          <ng-template ngbTabContent>
            <pre>{{openedResources[ri].resource | fhirXml}}</pre>
          </ng-template>
        </ngb-tab>
        <ngb-tab id="permissions" title="Permissions" *ngIf="configService.config.enableSecurity">
          <ng-template ngbTabContent>
            <app-resource-permissions [meta]="openedResources[ri].resource.meta"></app-resource-permissions>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<footer class="footer">
  <button type="button" class="btn btn-default" (click)="search()">Search</button>
  <span class="message">{{message}}</span>
</footer>
