<h1>Other Resources</h1>

<ul ngbNav #tabSet="ngbNav" class="nav-tabs" [destroyOnHide]="false">
  <li ngbNavItem="criteria">
    <a ngbNavLink>
      <span [attr.data-intro]="Globals.introText['other.search-criteria']">Criteria</span>
    </a>
    <ng-template ngbNavContent>
      <div class="col-md-6">
        <div class="mb-3" [attr.data-intro]="tabSet.activeId === 'criteria' ? Globals.introText['other.search.resource-type'] : undefined">
          <label>Resource Type</label>
          <select class="form-select" [(ngModel)]="searchResourceType" [class.is-invalid]="!searchResourceType" (keyup.enter)="search()">
            <option *ngFor="let o of resourceTypes" [ngValue]="o.code">{{o.display}}</option>
          </select>
        </div>

        <div class="mb-3" *ngIf="configService.project">
          <label>Only show resources for the project (the context implementation guide)?</label>
          <select class="form-select" [(ngModel)]="ignoreContext">
            <option [ngValue]="false">Yes</option>
            <option [ngValue]="true">No</option>
          </select>
        </div>

        <div class="mb-3">
          <label>Content</label>
          <input type="text" class="form-control" [(ngModel)]="searchContent" (keyup.enter)="search()" />
          <span class="help-block">This field searches the entire content of the resource.</span>
        </div>

        <div class="mb-3">
          <label>Resource URL</label>
          <input type="text" class="form-control" [(ngModel)]="searchUrl" (keyup.enter)="search()" />
          <span class="help-block">This field only applies if the selected resource type has a "URL" field. Searching by URL requires an exact match.</span>
        </div>

        <p class="alert alert-info">This screen searches all resources on the server, regardless of whether they are associated with the implementation guide you have selected as a project from File > "Open Project". Keep in mind that you will only see resources that you have been granted permissions to.</p>

        <p>
          <button type="button" class="btn btn-primary"
                  (click)="search()"
                  [disabled]="!searchResourceType"
                  [attr.data-intro]="tabSet.activeId === 'criteria' ? Globals.introText['other.search.search-btn'] : undefined">Search</button>
        </p>
      </div>
    </ng-template>
  </li>
  <li ngbNavItem="results">
    <a ngbNavLink>
      <span [attr.data-intro]="Globals.introText['other.search-results-tab']">Search Results</span>
    </a>
    <ng-template ngbNavContent>
      <div *ngIf="results && results.total > 0" [attr.data-intro]="Globals.introText['other.search-results-paging']">
        <ngb-pagination class="d-flex justify-content-center"
                        *ngIf="results && results.total > 0"
                        [maxSize]="5"
                        [collectionSize]="results.total"
                        [(page)]="page"
                        [boundaryLinks]="true"
                        (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
      </div>
      <table class="table table-striped" *ngIf="results">
        <thead>
        <tr>
          <th>ID</th>
          <th>URL</th>
          <th>Name/Title</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entry of results.entry">
          <td>{{entry.resource?.id}}</td>
          <td>{{getEntryUrl(entry)}}</td>
          <td>{{getEntryName(entry)}}</td>
          <td class="actions-column-1">
            <div class="pull-right">
              <a class="btn btn-primary" title="View/Edit this resource" routerLink="{{configService.baseSessionUrl}}/other-resources/{{entry.resource.resourceType}}/{{entry.resource.id}}">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </td>
        </tr>
        </tbody>
        <tfoot>
        <tr *ngIf="results && results.total === 0">
          <td colspan="3">No results match the search criteria!</td>
        </tr>
        <tr *ngIf="results && results.total > 0">
          <td colspan="6">
            <ngb-pagination class="d-flex justify-content-center" [maxSize]="5" [collectionSize]="results.total"
                            [(page)]="page" [boundaryLinks]="true"
                            (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </ng-template>
  </li>

</ul>
<div [ngbNavOutlet]="tabSet" class="mt-2"></div>

<footer class="footer">
  <span class="message">{{message}}</span>
</footer>
