tr.selected > td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

tr.selected > td:first-child {
    border-left: 2px solid black;
}

tr.selected > td:last-child {
    border-right: 2px solid black;
}

.element-definition .card-body {
    padding: 0px;
    margin-top: -1px;
}

tr.constrained {
    font-weight: bold;
}

.sd-main:not(.small) {
    width: 100%;
}

.sd-main.small {
    width: 75%;
    display: inline-table;
    padding-right: 10px;
}

.selected-element {
    width: 25%;
    position: fixed;
    right: 29px;
    top: 88px;
}

.selected-element {
    overflow-y: auto;
    max-height: 85%;
}

table.elements {
    overflow-y: auto;
    height: 97%;
    display: inline-block;
    width: 65%;
    float: left;
}

table.elements > thead,
table.elements > tbody {
    display: inline-table;
    width: 100%;
}

table.elements > thead > tr > th:nth-child(1),
table.elements > tbody > tr > td:nth-child(1) {
    width: 30%;
}

table.elements > thead > tr > th:nth-child(2),
table.elements > tbody > tr > td:nth-child(2) {
    width: 25%;
}

table.elements > thead > tr > th:nth-child(3),
table.elements > tbody > tr > td:nth-child(3) {
    width: 10%;
}

table.elements > thead > tr > th:nth-child(4),
table.elements > tbody > tr > td:nth-child(4) {
    width: 25%;
}

table.elements > thead > tr > th:nth-child(5),
table.elements > tbody > tr > td:nth-child(5) {
    width: 10%;
}

div.element-definition {
    height: 100%;
    width: 35%;
    float: left;
}

div.element-definition > div.card-body {
    height: 100%;
    overflow-y: auto;
}

.card.context {
    margin-bottom: 15px;
}

div.expand-collapse {
    display: inline-block;
    width: 15px;
}