tr.selected > td {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

tr.selected > td:first-child {
    border-left: 2px solid black;
}

tr.selected > td:last-child {
    border-right: 2px solid black;
}

.element-definition .card-body {
    padding: 0px;
    margin-top: -1px;
}

tr.constrained {
    font-weight: bold;
}

.sd-main:not(.small) {
    width: 100%;
}

.sd-main.small {
    width: 75%;
    display: inline-table;
    padding-right: 10px;
}

.selected-element {
    width: 25%;
    position: fixed;
    right: 29px;
    top: 88px;
}

.selected-element {
    overflow-y: auto;
    max-height: 85%;
}

table {
    overflow-y: auto;
    height: 97%;
    display: inline-block;
    width: 75%;
    float: left;
}

table > thead,
table > tbody {
    display: inline-table;
    width: 100%;
}

table > thead > tr > th:nth-child(1),
table > tbody > tr > td:nth-child(1) {
    width: 30%;
}

table > thead > tr > th:nth-child(2),
table > tbody > tr > td:nth-child(2) {
    width: 25%;
}

table > thead > tr > th:nth-child(3),
table > tbody > tr > td:nth-child(3) {
    width: 10%;
}

table > thead > tr > th:nth-child(4),
table > tbody > tr > td:nth-child(4) {
    width: 25%;
}

table > thead > tr > th:nth-child(5),
table > tbody > tr > td:nth-child(5) {
    width: 10%;
}

div.element-definition {
    height: 100%;
    width: 25%;
    float: left;
}

div.element-definition > div.card-body {
    height: 100%;
    overflow-y: auto;
}