<div class="modal-header">
    <h4 class="modal-title">Edit Contact Point</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" *ngIf="contactPoint">
    <app-fhir-select-single-code [parentObject]="contactPoint" propertyName="system" title="System" valueSetUrl="http://hl7.org/fhir/ValueSet/contact-point-system"></app-fhir-select-single-code>

    <app-fhir-string [parentObject]="contactPoint" propertyName="value" title="Value"></app-fhir-string>

    <app-fhir-select-single-code [parentObject]="contactPoint" propertyName="use" title="Use" valueSetUrl="http://hl7.org/fhir/ValueSet/contact-point-use"></app-fhir-select-single-code>

    <div class="form-group">
        <label>
            <input type="checkbox" [ngModel]="contactPoint.hasOwnProperty('rank')" (ngModelChange)="Globals.toggleProperty(contactPoint, 'rank', 1)" />
            Rank
        </label>
        <input type="number" class="form-control" [disabled]="!contactPoint.hasOwnProperty('rank')" [(ngModel)]="contactPoint.rank" />
    </div>

    <div class="form-group">
        <label>Period</label>
        TODO
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.close()">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
</div>
