<div *ngIf="resource">
  <label>
    <input type="checkbox" [ngModel]="resource.text && resource.text.hasOwnProperty('div')" (ngModelChange)="toggleNarrative($event)" (change)="change.emit()" />
    Resource Text
  </label>

  <div class="help-block" *ngIf="message">{{message}}</div>

  <angular-editor (ngModelChange)="change.emit(); textChanged.emit()" [(ngModel)]="theDiv" [config]="editorConfig" placeholder="Enter narrative text here..."></angular-editor>

  <button (click)="generateNarrative();" *ngIf="resource.text && resource.text.hasOwnProperty('div')" class="btn btn-default" type="button">
    <i class="fas fa-certificate"></i> Generate
  </button>


</div>
