body {
    padding-top: 4.5rem;
}

footer.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: black;
    width: 100%;
    z-index: 2;
}

footer.footer span.message {
    color: white;
    padding-left: 10px;
}

.tab-pane {
    padding-top: 5px;
}

.jumbotron {
    padding-top: 20px;
}

.clickable {
    cursor: pointer;
}

.fixed-top {
    z-index: 2;
}

.clickable {
    pointer: cursor;
}

body > app-root > div.container {
    position: fixed;
    top: 59px;
    bottom: 37px;
    padding-right: 5px;
    padding-left: 5px;
}

body > app-root > div.container > div.jumbotron {
    height: 100%;
    overflow-y: auto;
}

body.structure-definition div.sd-main {
    height: 92%;
}

body.structure-definition div.sd-main div.tab-content {
    height: 97%;
}

body.structure-definition div.sd-main .tab-content > div.tab-pane {
    height: 99%;
}

.status-message {
    white-space: pre;
}

.disable-markdown .CodeMirror {
    background-color: #e9ecef;
    min-height: 30px;
    height: 30px;
}

.disable-markdown .editor-toolbar {
    display: none;
}

.actions-column-1 {
    width: 54px;
}

.actions-column-2 {
    width: 110px;
}

.actions-column-3 {
    width: 116px;
}

.actions-column-4 {
    width: 126px;
}

.actions-column-5 {
    width: 136px;
}

.input-group .form-control {
    z-index: 1;
}

.help-block {
    display: block;
    color: #737373;
    margin-left: 20px;
    padding-right: 20px;
}

ngb-tabset > ul > li > a > button {
    margin-top: -6px;
}

a.btn > i.fa {
    color: black;
}

button {
    cursor: pointer;
}

.tooltip-inner {
    max-width: 350px;
}

a.btn {
    background-color: buttonface;
}

.strikethrough {
    text-decoration: line-through;
}

.atlwdg-trigger {
    z-index: 3;
}

/* PROFILE EDITOR */

ngb-tabset.has-element-definition > .tab-content {
    width: 66%;
}

@media screen and (max-width: 1024px) {
    ngb-tabset.has-element-definition > .tab-content {
        width: 100%;
    }
}