body {
    min-height: 75rem;
    padding-top: 4.5rem;
}

footer.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    background-color: black;
    width: 100%;
    z-index: 2;
}

footer.footer span.message {
    color: white;
    padding-left: 10px;
}

.tab-pane {
    padding-top: 5px;
}

.jumbotron {
    padding-top: 20px;
}

.clickable {
    cursor: pointer;
}

.fixed-top {
    z-index: 2;
}

.clickable {
    pointer: cursor;
}

body.structure-definition {
    overflow: hidden;
}

body.structure-definition > app-root > div.container {
    position: absolute;
    top: 69px;
    bottom: 58px;
}

body.structure-definition > app-root > div.container > div.jumbotron {
    height: 100%;
    overflow-y: auto;
}

body.structure-definition div.sd-main {
    height: 92%;
}

body.structure-definition div.sd-main div.tab-content {
    height: 97%;
}

body.structure-definition div.sd-main .tab-content > div.tab-pane {
    height: 99%;
}

.status-message {
    white-space: pre;
}

.disable-markdown .CodeMirror {
    background-color: #e9ecef;
    min-height: 30px;
    height: 30px;
}

.disable-markdown .editor-toolbar {
    display: none;
}

.actions-column-1 {
    width: 54px;
}

.actions-column-2 {
    width: 110px;
}

.actions-column-3 {
    width: 116px;
}

.actions-column-4 {
    width: 126px;
}

.actions-column-5 {
    width: 136px;
}

.input-group .form-control {
    z-index: 1;
}

.help-block {
    display: block;
    color: #737373;
    margin-left: 20px;
    padding-right: 20px;
}

ngb-tabset > ul > li > a > button {
    margin-top: -6px;
}

a.btn > i.fa {
    color: black;
}

button {
    cursor: pointer;
}

.tooltip-inner {
    max-width: 350px;
}

a.btn {
    background-color: buttonface;
}

/* MENU */

nav.navbar {
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: black !important;
}

.navbar .dropdown-menu div[class*="col"] {
    margin-bottom: 1rem;
}

.navbar .dropdown-menu {
    border: none;
    background-color: black !important;
}

.navbar .dropdown-menu > div {
    padding-left: 30px;
    padding-right: 10px;
}

.navbar .row  .nav-link,
.navbar .row  .nav-item {
    padding: 0px;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
    /* remove the padding from the navbar so the dropdown hover state is not broken */
    .navbar {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
    .navbar .nav-item {
        padding: .5rem .5rem;
        margin: 0 .25rem;
    }

    /* makes the dropdown full width  */
    .navbar .dropdown {
        position: static;
    }

    .navbar .dropdown-menu {
        width: 100%;
        left: 0;
        right: 0;
        /*  height of nav-item  */
        top: 45px;
    }

    /* shows the dropdown menu on hover */
    .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
        display: block !important;
    }
}

.strikethrough {
    text-decoration: line-through;
}