<div class="card" *ngIf="parentObject">
    <div class="card-header">
        <label><input type="checkbox" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="toggleConcepts()"/> Concepts </label>
        <app-tooltip-icon tooltipPath="ValueSet.compose.include.concept"></app-tooltip-icon>&nbsp;<span class="badge badge-info">{{concepts.length}} total</span>
    </div>
    <table class="table table-striped" *ngIf="parentObject.hasOwnProperty(propertyName)">
        <thead>
        <tr>
            <th>
                <input type="text" class="form-control" [ngModel]="searchCode" (input)="searchCodeChanged($event.target.value)" placeholder="Code (search)" />
            </th>
            <th>
                <input type="text" class="form-control" [ngModel]="searchDisplay" (input)="searchDisplayChanged($event.target.value)" placeholder="Display (search)" />
            </th>
            <th class="actions-column-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-primary" (click)="addConcept()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let concept of pagedConcepts">
            <td>
                <app-fhir-string [parentObject]="concept" propertyName="code" [isFormGroup]="false" [required]="true"></app-fhir-string>
            </td>
            <td>
                <app-fhir-string [parentObject]="concept" propertyName="display" [isFormGroup]="false"></app-fhir-string>
            </td>
            <td>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-primary" title="Edit this concept" (click)="editConcept(concept)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-primary" title="Remove this concept" (click)="removeConcept(concept)">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <ngb-pagination class="d-flex justify-content-center" *ngIf="filteredConcepts && filteredConcepts.length > 0"
                                [maxSize]="5"
                                [collectionSize]="filteredConcepts.length"
                                [(page)]="page"
                                [pageSize]="perPage"
                                [boundaryLinks]="true"
                                (pageChange)="refreshConcepts()"></ngb-pagination>
            </td>
        </tr>
        </tfoot>
    </table>
</div>
