<div class="modal-header">
    <h4 class="modal-title">Edit Human Name</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body" *ngIf="humanName">
    <app-fhir-string [parentObject]="humanName" propertyName="text" title="Text"></app-fhir-string>
    
    <app-fhir-select-single-code [parentObject]="humanName" propertyName="use" title="Use" valueSetUrl="http://hl7.org/fhir/ValueSet/name-use"></app-fhir-select-single-code>
    
    <app-fhir-string [parentObject]="humanName" propertyName="family" title="Family"></app-fhir-string>
    
    <div class="card">
        <div class="card-header">
            <input type="checkbox" [ngModel]="humanName.hasOwnProperty('given')" (ngModelChange)="Globals.toggleProperty(humanName, 'given', [''])" />
            Given
        </div>
        <table class="table table-striped" *ngIf="humanName.hasOwnProperty('given')">
            <thead>
            <tr>
                <td>Value</td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" title="Add a given name" (click)="humanName.given.push('')">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let g of humanName.given; let gi = index; trackBy: Globals.trackByFn">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="humanName.given[gi]" />
                </td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" title="Remove this given name" (click)="humanName.given.splice(gi, 1)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card">
        <div class="card-header">
            <input type="checkbox" [ngModel]="humanName.hasOwnProperty('prefix')" (ngModelChange)="Globals.toggleProperty(humanName, 'prefix', [''])" />
            Prefix
        </div>
        <table class="table table-striped" *ngIf="humanName.hasOwnProperty('prefix')">
            <thead>
            <tr>
                <td>Value</td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" title="Add a prefix" (click)="humanName.prefix.push('')">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let g of humanName.prefix; let gi = index; trackBy: Globals.trackByFn">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="humanName.prefix[gi]" />
                </td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" title="Remove this prefix" (click)="humanName.prefix.splice(gi, 1)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="card">
        <div class="card-header">
            <input type="checkbox" [ngModel]="humanName.hasOwnProperty('suffix')" (ngModelChange)="Globals.toggleProperty(humanName, 'suffix', [''])" />
            Suffix
        </div>
        <table class="table table-striped" *ngIf="humanName.hasOwnProperty('suffix')">
            <thead>
            <tr>
                <td>Value</td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" title="Add a suffix" (click)="humanName.suffix.push('')">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let g of humanName.suffix; let gi = index; trackBy: Globals.trackByFn">
                <td>
                    <input type="text" class="form-control" [(ngModel)]="humanName.suffix[gi]" />
                </td>
                <td>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" title="Remove this suffix" (click)="humanName.suffix.splice(gi, 1)">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="mb-3">
        <label>Period</label>
        TODO
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" (click)="activeModal.close()">OK</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Cancel</button>
</div>
