<h1>Code Systems</h1>
<app-tooltip-icon tooltipKey="codesystem.description" [showAsAlert]="true" alertTitle="Description"></app-tooltip-icon>

<div class="input-group">
    <input type="text" class="form-control" [ngModel]="nameText" (ngModelChange)="nameTextChanged($event)"
           placeholder="Search name">
    <div class="input-group-btn">
        <button type="button" class="btn btn-default" title="Clear filters" (click)="clearFilters()">
            <i class="fa fa-times"></i>
        </button>
        <button type="button" class="btn btn-default" title="Refresh" (click)="getCodeSystems()">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>

<br/>

<ngb-pagination class="d-flex justify-content-center" *ngIf="codeSystemsBundle && codeSystemsBundle.total > 0"
                [maxSize]="5"
                [collectionSize]="codeSystemsBundle.total"
                [(page)]="page"
                [boundaryLinks]="true"
                (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>

<table class="table table-striped" *ngIf="codeSystems">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>
            <div class="pull-right">
                <button type="button" class="btn btn-default" routerLink="/code-system/new"
                        title="Create a new code system">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cs of codeSystems">
        <td>{{cs.id}}</td>
        <td>{{cs.name}}</td>
        <td>
            <div class="btn-group pull-right">
                <a class="btn btn-default" routerLink="/code-system/{{cs.id}}" title="Edit this resource"><i
                        class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-default" (click)="remove(cs)" title="Remove this resource"><i
                        class="fa fa-remove"></i></button>
                <button type="button" class="btn btn-default" (click)="changeId(cs)" title="Change this resource's ID">
                    <i class="fa fa-id-badge"></i></button>
            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr *ngIf="codeSystemsBundle && codeSystemsBundle.total === 0">
        <td colspan="3">No code systems! Create one by clicking <a routerLink="/code-system/new">here</a>...</td>
    </tr>
    <tr *ngIf="codeSystemsBundle && codeSystemsBundle.total > 0">
        <td colspan="3">
            <ngb-pagination class="d-flex justify-content-center" [maxSize]="5"
                            [collectionSize]="codeSystemsBundle.total" [(page)]="page" [boundaryLinks]="true"
                            (pageChange)="criteriaChangedEvent.next()"></ngb-pagination>
        </td>
    </tr>
    </tfoot>
</table>
