<div class="form-group" *ngIf="parentObject">
  <label>
    <input type="checkbox" [ngModel]="parentObject.hasOwnProperty(propertyName)" (ngModelChange)="Globals.toggleProperty(parentObject, propertyName, '')"/>
    {{title || propertyName}}
    <app-tooltip-icon [tooltipKey]="tooltipKey" [tooltipPath]="tooltipPath"></app-tooltip-icon>
  </label>
  <trifolia-fhir-markdown
    *ngIf="!displayOnly"
    [(value)]="parentObject[propertyName]"
    [disabled]="isOptional && !parentObject.hasOwnProperty(propertyName)"
    [mediaReferences]="mediaReferences">
  </trifolia-fhir-markdown>
  <div *ngIf="displayOnly && parentObject.hasOwnProperty(propertyName)">
    <p>{{parentObject[propertyName]}} [<a href="javascript:void(0)" (click)="openModal()">Edit</a>]</p>
  </div>
</div>
